/**
* COLORS
*/

@civicPurple: #4b2065;
@civicDarkPurple: darken(@civicPurple, 19%);
@civicLightPurple: #b8acbf;
@civicYellow: #ffdd22;
@civicGreen: #2f7d22;
@civicRed: #942830;

@pageBackground: #FFFFFF;
@pageBackground2: #F3F3F3;
@pageBackground3: #DEDEDE;
@pageBackground4: #CDCDCD;
@tableBgColor: #FFF;

// classes for more easily assigning colors in templates -
// we can't assign .less colors in scripts or HTML, but have plenty of ways to apply CSS styles
.pageBackground { background-color: @pageBackground; };
.pageBackground2 { background-color: @pageBackground2; };
.pageBackground3 { background-color: @pageBackground3; };
.pageBackground4 { background-color: @pageBackground4; };

// horizontal tabs
@tabExtCornerRadius: 10px;

@menuBarBgSm: @civicPurple;

@variants-title-bg: darken(@pageBackground3, 10%);
//@events-title-bg: darken(@pageBackground3, 10%);
@events-title-bg: #755986;

// change status colors

@changeStatusNew: #08b1e6;
@changeStatusNewLight: lighten(@changeStatusNew, 30%);
@changeStatusNewDark: darken(@changeStatusNew, 20%);
@changeStatusApplied: #33b358;
@changeStatusAppliedLight: lighten(@changeStatusApplied, 30%);
@changeStatusAppliedDark: darken(@changeStatusApplied, 20%);
@changeStatusActive: #f68f37;
@changeStatusActiveLight: lighten(@changeStatusActive, 30%);
@changeStatusActiveDark: darken(@changeStatusActive, 20%);
@changeStatusClosed: #666666;
@changeStatusClosedLight: lighten(@changeStatusClosed, 30%);
@changeStatusClosedDark: darken(@changeStatusClosed, 20%);

/**
* LAYOUT VARS
*/

@homeHeaderHeight: 240px;
@pageHeaderHeight: 76px;
@subheaderHeight: 48px;
@contentPadding: 15px;

/**
*  COMPONENT VARS
*/
@mainMenuPaddingLg: 30px;
@mainMenuPaddingSm: 8px;

@menubarSmHeight: 32px;

