<div class="account-profile">
  <div class="row">
    <div class="col-xs-3">
      <div class="card-block">
        <user-card user="vm.userEdit"></user-card>
      </div>
      <div class="small" style="color: #999; padding: .5em;">
        <p>
          <strong>NOTE:</strong> Profile avatars are obtained from the <a href="https://secure.gravatar.com">Gravatar service</a>. If the email address you use on CIViC isn't known to Gravatar, it will generate a custom random geometric avatar.</p>
        <p>To upload or change your avatar, <a href="https://secure.gravatar.com/">sign up or log into Gravatar</a>, and link the email address you use on CIViC with your desired image.</p>
        </p>
      </div>
    </div>
    <div class="col-xs-9">
      <form class="form-horizontal">
        <formly-form
          options="vm.options"
          model="vm.userEdit"
          form="vm.profileForm"
          fields="vm.userEditFields">
        </formly-form>
      </form>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-2">
          <button
            type="submit"
            class="btn btn-default"
            ng-disabled="vm.profileForm.$dirty === false"
            ng-click="vm.saveProfile(vm.userEdit, vm.options)">
            Save Profile Updates
          </button>
        </div>
      </div>
      <div class="row" style="margin-top: 1em;">
        <div class="col-xs-5 col-xs-offset-2">
          <div class="alert alert-success"
          ng-show="vm.submitSuccess">
            Profile updates successfully applied.
          </div>
          <div class="alert alert-danger"
            ng-show="vm.submitFail">
            There was an error updating your profile! Please check the browser console for more information.
          </div>
        </div>
      </div>
      <form class="form-horizontal">
        <formly-form
          options="vm.coiOptions"
          model="vm.coiEdit"
          form="vm.coiForm"
          fields="vm.coiFields">
        </formly-form>
      </form>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-2">
          <button
            type="submit"
            class="btn btn-default"
            ng-disabled="vm.coiForm.$dirty === false"
            ng-click="vm.saveCOI(vm.coiEdit, vm.coiOptions)">
            Save Conflict of Interest Statement
          </button>
        </div>
      </div>
      <div class="row" style="margin-top: 1em;">
        <div class="col-xs-5 col-xs-offset-2">
          <div class="alert alert-success"
            ng-show="vm.submitSuccess">
            Profile updates successfully applied.
          </div>
          <div class="alert alert-danger"
            ng-show="vm.submitFail">
            There was an error updating your profile! Please check the browser console for more information.
          </div>
        </div>
      </div>

    </div>



  </div>
  <!-- <div class="row"> -->
  <!-- <div class="col-xs-6"> -->
  <!-- <p>vm.userEdit:</p> -->
  <!-- <pre ng-bind="vm.userEdit|json"></pre> -->
  <!-- </div> -->
  <!-- </div> -->
</div>
