<div class="account-profile">
  <div class="row">
    <div class="col-xs-3">
      <div class="card-block">
        <user-card user="vm.userEdit"></user-card>
      </div>
      <div class="small" style="color: #999; padding: .5em;">
        <p>
          <strong>NOTE:</strong> Profile avatars are obtained from the <a href="https://secure.gravatar.com">Gravatar service</a>. If the email address you use on CIViC isn't known to Gravatar, it will generate a custom random geometric avatar.</p>
        <p>To upload or change your avatar, <a href="https://secure.gravatar.com/">sign up or log into Gravatar</a>, and link the email address you use on CIViC with your desired image.</p>
        </p>
      </div>
    </div>
    <div class="col-xs-9">
      <form class="form-horizontal">
        <formly-form
          options="vm.options"
          model="vm.userEdit"
          form="vm.profileForm"
          fields="vm.userEditFields">
        </formly-form>
      </form>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-2">
          <button
            type="submit"
            class="btn btn-default"
            ng-disabled="vm.profileForm.$dirty === false"
            ng-click="vm.saveProfile(vm.userEdit, vm.options)">
            Save Profile Updates
          </button>
        </div>
      </div>
      <div class="row" style="margin-top: 1em;">
        <div class="col-xs-5 col-xs-offset-2">
          <div class="alert alert-success"
          ng-show="vm.submitSuccess">
            Profile updates successfully applied.
          </div>
          <div class="alert alert-danger"
            ng-show="vm.submitFail">
            There was an error updating your profile! Please check the browser console for more information.
          </div>
        </div>
      </div>
      <form class="form-horizontal">
        <h3 class="form-subheader">
          Conflict of Interest Statement
          <span ng-switch="vm.conflict_of_interest.coi_valid">
            <span ng-switch-when="'expired'">
              <i class="badge" style="background-color: #dc3545;">EXPIRED</i>
            </span>
            <span ng-switch-when="'missing'">
              <i class="badge" style="background-color: #dc3545;">MISSING</i>
            </span>
            <span ng-switch-when="'conflict'">
              <i class="badge" style="background-color: #ffc107;">CONFLICT</i>
            </span>
            <span ng-switch-when="'valid'">
              <i class="badge" style="background-color: #28a745;">VALID</i>
            </span>
          </span>
        </h3>
        <formly-form
          options="vm.coiOptions"
          model="vm.coiEdit"
          form="vm.coiForm"
          fields="vm.coiFields">
        </formly-form>
      </form>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-2">
          <button
            type="submit"
            class="btn btn-default"
            ng-disabled="vm.coiForm.$invalid"
            ng-click="vm.saveCoiStatement(vm.coiEdit, vm.coiOptions)">
            Save Conflict of Interest Statement
          </button>
        </div>
      </div>
      <div class="row" style="margin-top: 1em;">
        <div class="col-xs-5 col-xs-offset-2">
          <div class="alert alert-success"
            ng-show="vm.submitCoiSuccess">
            Successfully updated your Conflict of Interest Statement.
          </div>
          <div class="alert alert-danger"
            ng-show="vm.submitCoiFail">
            There was an error updating your Conflict of Interest Statement! Please check the browser console for more information.
          </div>
        </div>
      </div>

    </div>



  </div>
  <div class="row">
    <div class="col-xs-6">
      <p>vm.coiEdit:</p>
      <pre ng-bind="vm.coiEdit|json"></pre>
    </div>
    <div class="col-xs-6" >
      <p>vm.statements</p>
      <pre ng-bind="vm.statements|json"></pre>
    </div>
  </div>
</div>
