<form name="form" novalidate class="loginForm">
  <div class="modal-header">
    <h4>Sign in</h4>
  </div>
  <div class="modal-body">
    <div class="alert alert-info">Sign in by choosing one of the methods below:</div>
    <ul class="providers">
      <li class="google">
        <a href="api/auth/google_oauth2?origin={{ location | encodeUri }}" target="_self">
            <div class="btn-label">Sign in with Google</div>
          </a>
      </li>
      <li class="orcid">
        <a href="api/auth/orcid?origin={{ location | encodeUri }}" target="_self">
          <div class="btn-label">Sign in with OrcID</div>
        </a>
      </li>
      <li class="github">
        <a href="api/auth/github?origin={{ location | encodeUri }}" target="_self">
          <div class="btn-label">Sign in with Github</div>
        </a>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <!--<button class="btn btn-primary login" ng-click="login()" ng-disabled='form.$invalid'>Sign in</button>-->
    <!--<button class="btn clear" ng-click="clearForm()">Clear</button>-->
    <button class="btn btn-warning cancel" ng-click="cancelLogin()">Cancel</button>
  </div>
</form>
