<form name="form" novalidate class="login-form">
  <div class="modal-header">
    <h4>Sign in</h4>
  </div>
  <div class="modal-body">
    <div class="alert alert-info">Sign in by choosing one of the methods below:</div>
    <ul>
      <li><a href="api/auth/github?origin={{ location | encodeUri }}">Sign in with Github</a></li>
    </ul>
  </div>
  <div class="modal-footer">
    <!--<button class="btn btn-primary login" ng-click="login()" ng-disabled='form.$invalid'>Sign in</button>-->
    <!--<button class="btn clear" ng-click="clearForm()">Clear</button>-->
    <button class="btn btn-warning cancel" ng-click="cancelLogin()">Cancel</button>
  </div>
</form>
