<div class="editGene {{ ctrl.styles.edit.summaryBackgroundColor }}">
  <div class="row">
    <div class="col-xs-12">
      <p><strong>Preview: </strong></p>
    </div>
  </div>
  <div class="row edit-summary">
    <div class="col-xs-6">
      <gene-description gene-data="ctrl.geneEdit"></gene-description>
    </div>
    <div class="col-xs-6">
      <my-gene-info gene-info="ctrl.myGeneInfo"></my-gene-info>
    </div>
  </div>
  <div class="row edit-messages">
    <div class="col-xs-12">
      <p>Complete your edits using the form below, then press the 'Submit Revision for Review' button. <span ng-show="ctrl.isAdmin()">As you are an admin, you may also choose to immediately apply your edits without review by clicking 'Apply Edits'.</span></p>
    </div>
  </div>

  <div class="row edit-form">
    <div class="col-xs-12">
      <formly-form model="ctrl.geneEdit" fields="ctrl.geneFields">
        <div class="pull-right">
          <cancel-button></cancel-button>
          <button type="submit" class="btn btn-default" ng-click="ctrl.apply(ctrl.geneEdit)" ng-show="ctrl.isAdmin()">Apply Revision</button>
          <button type="submit" class="btn btn-default" ng-click="ctrl.submit(ctrl.geneEdit)">Submit Revision for Review</button>
        </div>
      </formly-form>
    </div>
  </div>

</div>
