<div class="evidenceGrid">
  <div class="row">

    <div class="col-xs-10">
      <h4><span ng-if="variant.name != undefined">Evidence for {{ variant.name }}</span>

        <span class="record-info">
          <span>{{ ctrl.gridApi.grid.rows.length }} total items</span>
          <span ng-if="ctrl.gridApi.grid.renderContainers.body.visibleRowCache.length !== ctrl.gridApi.grid.rows.length">
            (showing {{ctrl.gridApi.grid.renderContainers.body.visibleRowCache.length}})
          </span>
        </span>
      </h4>
    </div>

    <div class="col-xs-2">
      <button
        class="btn btn-default btn-xs pull-right col-key"
        ng-click="ctrl.showGridKey = !ctrl.showGridKey">
        <span class="glyphicon"
              aria-hidden="true"
              ng-class="{ 'glyphicon-triangle-right': ctrl.showGridKey === false, 'glyphicon-triangle-bottom': ctrl.showGridKey === true}">
        </span>
        Evidence Grid Instructions
      </button>
    </div>

  </div>

  <div class="row column-key" ng-show="ctrl.showGridKey">
    <div class="col-xs-12">
      <div ng-include="'app/views/events/variants/summary/evidenceGridPopoverKey.tpl.html'"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div ui-grid="ctrl.evidenceGridOptions"
           ui-grid-cellnav
           ui-grid-auto-resize
           ui-grid-selection>
      </div>
    </div>
  </div>
</div>
