@import 'bower_components/bootstrap/less/mixins.less';
@import 'bower_components/bootstrap/less/variables.less';
@import 'src/app/styles/_civic-variables.less';

.tooltip-inner {
  text-align: left !important;
}

.evidenceGrid {
  button.col-key {
    margin-top: 10px;
    span {
      color: #666;
    }
  }

  .record-info {
    font-size: small;
    color: #999;
  }

  .ui-grid-cell-contents {
    cursor: pointer;
  }

  .ui-grid-filter-container {
    select {
      max-width: 20px;
    }
  }

  .clearfix();
  @ui-grid-border-radius: @border-radius-large;
  .ui-grid {
    border: 1px solid #DEDEDE;
    -webkit-border-top-left-radius: @ui-grid-border-radius;
    -webkit-border-top-right-radius: @ui-grid-border-radius;
    -moz-border-top-left-radius: @ui-grid-border-radius;
    -moz-border-top-right-radius: @ui-grid-border-radius;
    border-top-right-radius: @ui-grid-border-radius;
    border-top-left-radius: @ui-grid-border-radius;

    .ui-grid-top-panel {
      -webkit-border-top-right-radius: @ui-grid-border-radius;
      -webkit-border-top-left-radius: @ui-grid-border-radius;
      -moz-border-radius-topright: @ui-grid-border-radius;
      -moz-border-radius-topleft: @ui-grid-border-radius;
      border-top-right-radius: @ui-grid-border-radius;
      border-top-left-radius: @ui-grid-border-radius;
    }

  }

  .ui-grid-pager-row-count-picker {
    display: none;
  }

  .ui-grid-row {
    cursor: pointer
  }

  .ratingCell {
    text-align:center;
    padding-top:5px;
    color: #666;
  }

  span.not-applicable {
    color: #666;
    background-color: transparent !important;
  }

  // Evidence Type
  .levelCell {
    text-align: center;
    color: #FFF;
    padding: 5px 4px;

    span {
      display: inline-block;
      padding: 4px 5px;
      line-height: 12px;
      border-radius: @border-radius-small;
      // background-color: #666;
    }
  }

  // Evidence Direction
  .directionCell,
  .typeCell,
  .evidenceDirectionCell,
  .clinicalCell,
  .originCell {
    text-align: center;
    color: #FFF;
    padding: 5px 4px;
    span {
      display: inline-block;
      padding: 4px 5px;
      line-height: 12px;
      border-radius: @border-radius-small;
      background-color: #666;
    }
  }

  .popover {
    max-width: 550px !important;

    .column-key {
      border-bottom: 1px solid #DDD;

      .col-name {
        text-align: right;
        font-weight: bold;
      }

      .col-description > span {
        font-weight: bold;
      }

      .symbol-key {
        margin-bottom: 0;

        .symbol {
          width: 25px;
        }

        td {
          border-top: none;
        }
      }
    }
  }
}
