<div class="myVariantInfo">
  <table class="table table-condensed summary-details">
    <colgroup>
      <col width="100%"/>
      <col width="21"/>
    </colgroup>
    <tr>
      <td class="row">
        <table class="table table-condensed borderless">
          <tbody class="common">
            <tr>
              <td class="key">
                ClinVar ID
              </td>
              <td class="key">
                ClinVar Clinical Significance
              </td>
            </tr>
            <tr>
              <td class="value">
                <span ng-switch="!!ctrl.variantInfoclinvar.variant_id">
                  <span ng-switch-when="true">
                    <a ng-href="https://www.ncbi.nlm.nih.gov/clinvar/variation/{{ctrl.variantInfoclinvar.variant_id}}/" target="_blank">{{ctrl.variantInfoclinvar.variant_id}}</a>
                  </span>
                  <span ng-switch-default>
                    --
                  </span>
                </span>
              </td>
              <td class="value">
                {{ctrl.variantInfoclinvar.rcv[0].clinical_significance | ifEmpty: '--'}}
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="myvariantlogo" rowspan="4">
        <div class="pull-right">
          <img src="assets/images/myvariantinfo_logo.png" width="21" height="116" style="padding-top: 3px;"/>
        </div>
      </td>
    </tr>
    <tr>
      <td class="row">
        <table class="table table-condensed borderless">
          <tbody class="common">
            <tr>
              <td class="key">
                COSMIC ID
              </td>
              <td class="key">
                dbSNP RSID
              </td>
              <td class="key">
                HGVS ID
              </td>
            </tr>
            <tr>
              <td class="value">
                <span ng-switch="!!ctrl.variantInfocosmic.cosmic_id">
                  <span ng-switch-when="true">
                    <a ng-href="http://cancer.sanger.ac.uk/cosmic/mutation/overview?id={{ctrl.variantInfocosmic.cosmic_id_short}}" target="_blank">{{ctrl.variantInfocosmic.cosmic_id | ifEmpty: '--'}}</a>
                  </span>
                  <span ng-switch-default>
                    {{ctrl.variantInfocosmic.cosmic_id | ifEmpty: '--'}}
                  </span>
                </span>
              </td>
              <td class="value">
                {{ctrl.variantInfodbsnp.rsid | ifEmpty: '--'}}
              </td>
              <td class="value">
                <div class="overflow-ellipses">
                  {{ctrl.variantInfo_id| ifEmpty: '--'}}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td class="row">
        <table class="table table-condensed borderless">
          <tbody class="common">
            <tr>
              <td class="key">
                EGL Class
              </td>
              <td class="key">
                SnpEff Effect
              </td>
              <td class="key">
                SnpEff Impact
              </td>
            </tr>
            <tr>
              <td class="value">
                {{ctrl.variantInfoegl.classification | ifEmpty: '--'}}
              </td>
              <td class="value">
                {{ctrl.variantInfosnpeff.ann[0].effect | ifEmpty: '--'}}
              </td>
              <td class="value">
                {{ctrl.variantInfosnpeff.ann[0].putative_impact | ifEmpty: '--'}}
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr ng-if="ctrl.variantInfoexac_nontcga.adj_af">
      <td class="row">
        <table class="table table-condensed borderless">
          <tbody class="common">
            <tr>
              <td class="key">
                ExAC Non TCGA Adj AF
              </td>
            </tr>
            <tr>
              <td class="value">
                {{ctrl.variantInfoexac_nontcga.adj_af| ifEmpty: '--'}}
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button class="btn btn-block btn-sm btn-default view-gene-details" ng-click="ctrl.openDialog()">View MyVariant.info Details</button>
      </td>
    </tr>
  </table>
</div>


