<div class="myVariantInfoDialog">
  <div class="row header">
    <div class="col-xs-12">
      <h3>Variant {{ variantInfo.entrez_id }} Details from <a href="http://myvariant.info/"
                                                              target="_new">MyVariant.info</a></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="well" >
        <table class="table table-compact" >
          <colgroup>
            <col width="20%"/>
            <col width="80%"/>
          </colgroup>
          <tr>
            <td class="key">
              MyVariantInfo ID:
            </td>
            <td class="value" >
              {{variantInfo._id}}
            </td>
          </tr>
        </table>
      </div>

      <div class="well">
        <div class="group-title">ClinVar</div>
        <table class="table table-compact">
          <tbody>
            <tr>
              <td class="key">ClinVar ID:</td>
              <td class="value">
                <span ng-switch="!!variantInfo.clinvar.variant_id">
                  <span ng-switch-when="true">
                    <a ng-href="https://www.ncbi.nlm.nih.gov/clinvar/variation/{{variantInfo.clinvar.variant_id}}/" target="_blank">{{variantInfo.clinvar.variant_id}}</a>
                  </span>
                  <span ng-switch-default>
                    --
                  </span>
                </span>
              </td>
            </tr>
            <tr>
              <td class="key">Clinical Significance:</td>
              <td class="value">
                {{variantInfo.clinvar.rcv[0].clinical_significance | ifEmpty: '--'}}
              </td>
            </tr>
            <tr>
              <td class="key">HGVS Coding</td>
              <td class="value">
              <span ng-switch="variantInfo.clinvar.hgvs.coding.length > 0">
                <span ng-switch-when="true">
                  <span ng-repeat="hgvs in variantInfo.clinvar.hgvs.coding track by $index">{{hgvs}}{{$last ? '' : ', '}}</span>
                </span>
                <span ng-switch-default>
                  --
                </span>
              </span>
              </td>
            </tr>
            <tr>
              <td class="key">HGVS Genomic</td>
              <td class="value">
              <span ng-switch="variantInfo.clinvar.hgvs.genomic.length > 0">
                <span ng-switch-when="true">
                  <span ng-repeat="hgvs in variantInfo.clinvar.hgvs.genomic track by $index">{{hgvs}}{{$last ? '' : ', '}}</span>
                </span>
                <span ng-switch-default>
                  --
                </span>
              </span>
              </td>
            </tr>
            <tr>
              <td class="key">HGVS Non-coding</td>
              <td class="value">
              <span ng-switch="variantInfo.clinvar.hgvs.non-coding.length > 0">
                <span ng-switch-when="true">
                  <span ng-repeat="hgvs in variantInfo.clinvar.hgvs.non-coding track by $index">{{hgvs}}{{$last ? '' : ', '}}</span>
                </span>
                <span ng-switch-default>
                  --
                </span>
              </span>
              </td>
            </tr>
            <tr>
              <td class="key">HGVA Protein</td>
              <td class="value">{{variantInfo.clinvar.hgvs.protein| ifEmpty: '--'}}</td>
            </tr>
            <tr>
              <td class="key">Omim</td>
              <td class="value">
                <span ng-switch="!!variantInfo.clinvar.omim">
                  <span ng-switch-when="true">
                    <a ng-href="http://omim.org/entry/{{variantInfo.clinvar.omim.split('.')[0]}}" target="_blank">{{variantInfo.clinvar.omim | ifEmpty: '--'}}</a>
                  </span>
                  <span ng-switch-default>
                    {{variantInfo.clinvar.omim | ifEmpty: '--'}}
                  </span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="well">
        <div class="group-title">SNPEff</div>
        <table class="table table-compact">
          <tbody>
            <tr>
              <td class="key">SNP Effect</td>
              <td class="value">{{variantInfo.snpeff.ann[0].effect | ifEmpty: '--'}}</td>
            </tr>
            <tr>
              <td class="key">SNP Impact</td>
              <td class="value">{{variantInfo.snpeff.ann[0].putative_impact| ifEmpty: '--'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="well">
        <div class="group-title">The Genome Aggregation Database</div>
        <table class="table table-compact">
          <tbody>
            <tr>
              <td class="key">Exome Allele Frequency</td>
              <td class="value">{{variantInfo.gnomad_exome.af.af | ifEmpty: '--'}}</td>
            </tr>
            <tr>
              <td class="key">Exome Allele Count</td>
              <td class="value">{{variantInfo.gnomad_exome.ac.ac | ifEmpty: '--'}}</td>
            </tr>
            <tr>
              <td class="key">Exome Allele Number</td>
              <td class="value">{{variantInfo.gnomad_exome.an.an | ifEmpty: '--'}}</td>
            </tr>
            <tr>
              <td class="key">Exome Filter</td>
              <td class="value">
                <span ng-switch="variantInfo.gnomad_exome.filter.length > 0">
                  <span ng-switch-when="true">
                    <span ng-repeat="filter in variantInfo.gnomad_exome.filter track by $index">{{filter}}{{$last ? '' : ', '}}</span>
                  </span>
                  <span ng-switch-default>
                  --
                  </span>
                </span>
              </td>
            </tr>
            <tr>
              <td class="key">Genome Allele Frequency</td>
              <td class="value">{{variantInfo.gnomad_genome.af.af | ifEmpty: '--'}}</td>
            </tr>
            <tr>
              <td class="key">Genome Allele Count</td>
              <td class="value">{{variantInfo.gnomad_genome.ac.ac | ifEmpty: '--'}}</td>
            </tr>
            <tr>
              <td class="key">Genome Allele Number</td>
              <td class="value">{{variantInfo.gnomad_genome.an.an | ifEmpty: '--'}}</td>
            </tr>
            <tr>
              <td class="key">Genome Filter</td>
              <td class="value">{{variantInfo.gnomad_genome.filter | ifEmpty: '--'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="well">
        <div class="group-title">dbSNP</div>
        <table class="table table-compact">
          <tbody>
            <tr>
              <td class="key">dbSNP RSID</td>
              <td class="value">
                <span ng-switch="!!variantInfo.dbsnp.rsid">
                  <span ng-switch-when="true">
                    <a ng-href="https://www.ncbi.nlm.nih.gov/projects/SNP/snp_ref.cgi?searchType=adhoc_search&type=rs&rs={{variantInfo.dbsnp.rsid}}" target="_blank">{{variantInfo.dbsnp.rsid}}</a>
                  </span>
                  <span ng-switch-default>
                    --
                  </span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="well">
        <div class="group-title">dbNSFP</div>
        <table class="table table-compact">
          <tbody>
            <tr>
              <td class="key">InterPro Domain</td>
              <td class="value">
                <span ng-switch="variantInfo.dbnsfp.interpro_domain.length > 0">
                  <span ng-switch-when="true">
                    <span ng-repeat="domain in variantInfo.dbnsfp.interpro_domain track by $index">{{domain}}{{$last ? '' : ', '}}</span>
                  </span>
                  <span ng-switch-default>
                  --
                  </span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="well">
        <div class="group-title">Conservation Analysis Tools</div>
        <table class="table table-compact">
          <tbody>
            <tr>
              <td class="key">phyloP100way</td>
              <td class="value">{{variantInfo.dbnsfp.phylo.p100way.vertebrate | ifEmpty: '--'}}</td>
            </tr>
            <tr>
              <td class="key">phyloP20way</td>
              <td class="value">{{variantInfo.dbnsfp.phylo.p20way.mammalian | ifEmpty: '--'}}</td>
            </tr>
            <tr>
              <td class="key">phastConsP100way</td>
              <td class="value">{{variantInfo.dbnsfp.phastcons.p100way.vertebrate | ifEmpty: '--'}}</td>
            </tr>
            <tr>
              <td class="key">phastConsP20way</td>
              <td class="value">{{variantInfo.dbnsfp.phastcons.p20way.mammalian | ifEmpty: '--'}}</td>
            </tr>
            <tr>
              <td class="key">GERP++</td>
              <td class="value">{{variantInfo.dbnsfp['gerp++'].rs | ifEmpty: '--'}}</td>
            </tr>
            <tr>
              <td class="key">SiPhy</td>
              <td class="value">{{variantInfo.dbnsfp.siphhy_29way_logodds | ifEmpty: '--'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="well">
        <div class="group-title">Emory Genetics Lab Variant Classification</div>
        <table class="table table-compact">
          <tbody>
            <tr>
              <td class="key">EGL Class</td>
              <td class="value">{{variantInfo.emv.egl_classification | ifEmpty: '--'}}</td>
            </tr>
            <tr>
              <td class="key">Protein Variant Name</td>
              <td class="value">{{variantInfo.emv.egl_protein | ifEmpty: '--'}}</td>
            </tr>
            <tr>
              <td class="key">Transcript Variant Name</td>
              <td class="value">{{variantInfo.emv.egl_variant | ifEmpty: '--'}}</td>
            </tr>
            <tr>
              <td class="key">HGVS</td>
              <td class="value">
                <span ng-switch="variantInfo.emv.hgvs.length > 0">
                  <span ng-switch-when="true">
                    <span ng-repeat="hgvs in variantInfo.emv.hgvs track by $index">{{hgvs}}{{$last ? '' : ', '}}</span>
                  </span>
                  <span ng-switch-default>
                  --
                  </span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="well">
        <table class="table table-compact">
          <tbody>
            <tr>
              <td class="key">COSMIC ID:</td>
              <td class="value">
               <span ng-switch="!!variantInfo.cosmic.cosmic_id">
                  <span ng-switch-when="true">
                    <a ng-href="http://cancer.sanger.ac.uk/cosmic/mutation/overview?id={{variantInfo.cosmic.cosmic_id_short}}" target="_blank">{{variantInfo.cosmic.cosmic_id | ifEmpty: '--'}}</a>
                  </span>
                  <span ng-switch-default>
                    {{variantInfo.cosmic.cosmic_id | ifEmpty: '--'}}
                  </span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="well">
        <div class="group-title">Effect Predictors</div>
        <table class="table table-compact">
          <tbody>
            <tr class="section-title"><td colspan="2">REVEL</td></tr>
            <tr>
              <td class="key">Effect Score</td>
              <td class="value">{{variantInfo.dbnsfp.revel.score | ifEmpty: '--'}}</td>
            </tr>
            <tr class="section-title"><td colspan="2">SIFT</td></tr>
            <tr>
              <td class="key">Effect Prediction</td>
              <td class="value">
                <span ng-switch="variantInfo.dbnsfp.sift.pred.length > 0">
                  <span ng-switch-when="true">
                    <span ng-repeat="pred in variantInfo.dbnsfp.sift.pred track by $index">{{pred}}{{$last ? '' : ', '}}</span>
                  </span>
                  <span ng-switch-default>
                  --
                  </span>
                </span>
              </td>
            </tr>
            <tr>
              <td class="key">Effect Score</td>
              <td class="value">
                <span ng-switch="variantInfo.dbnsfp.sift.score.length > 0">
                  <span ng-switch-when="true">
                    <span ng-repeat="score in variantInfo.dbnsfp.sift.score track by $index">{{score}}{{$last ? '' : ', '}}</span>
                  </span>
                  <span ng-switch-default>
                  --
                  </span>
                </span>
              </td>
            </tr>
            <tr class="section-title"><td colspan="2">Polyphen2 HDIV</td></tr>
            <tr>
              <td class="key">Effect Prediction</td>
              <td class="value">
                <span ng-switch="variantInfo.dbnsfp.polyphen2.hdiv.pred.length > 0">
                  <span ng-switch-when="true">
                    <span ng-repeat="pred in variantInfo.dbnsfp.polyphen2.hdiv.pred track by $index">{{pred}}{{$last ? '' : ', '}}</span>
                  </span>
                  <span ng-switch-default>
                  --
                  </span>
                </span>
              </td>
            </tr>
            <tr>
              <td class="key">Effect Score</td>
              <td class="value">
                <span ng-switch="variantInfo.dbnsfp.polyphen2.hdiv.score.length > 0">
                  <span ng-switch-when="true">
                    <span ng-repeat="score in variantInfo.dbnsfp.polyphen2.hdiv.score track by $index">{{score}}{{$last ? '' : ', '}}</span>
                  </span>
                  <span ng-switch-default>
                  --
                  </span>
                </span>
              </td>
            </tr>
            <tr class="section-title"><td colspan="2">Polyphen2 HVAR</td></tr>
            <tr>
              <td class="key">Effect Prediction</td>
              <td class="value">
                <span ng-switch="variantInfo.dbnsfp.polyphen2.hvar.pred.length > 0">
                  <span ng-switch-when="true">
                    <span ng-repeat="pred in variantInfo.dbnsfp.polyphen2.hvar.pred track by $index">{{pred}}{{$last ? '' : ', '}}</span>
                  </span>
                  <span ng-switch-default>
                  --
                  </span>
                </span>
              </td>
            </tr>
            <tr>
              <td class="key">Effect Score</td>
              <td class="value">
                <span ng-switch="variantInfo.dbnsfp.polyphen2.hvar.score.length > 0">
                  <span ng-switch-when="true">
                    <span ng-repeat="score in variantInfo.dbnsfp.polyphen2.hvar.score track by $index">{{score}}{{$last ? '' : ', '}}</span>
                  </span>
                  <span ng-switch-default>
                  --
                  </span>
                </span>
              </td>
            </tr>
            <tr class="section-title"><td colspan="2">LRT</td></tr>
            <tr>
              <td class="key">Effect Prediction</td>
              <td class="value">{{variantInfo.dbnsfp.lrt.pred | ifEmpty: '--'}}</td>
            </tr>
            <tr>
              <td class="key">Effect Score</td>
              <td class="value">{{variantInfo.dbnsfp.lrt.score | ifEmpty: '--'}}</td>
            </tr>
            <tr class="section-title"><td colspan="2">MutationTaster</td></tr>
            <tr>
              <td class="key">Effect Prediction</td>
              <td class="value">
                <span ng-switch="variantInfo.dbnsfp.mutationtaster.pred.length > 0">
                  <span ng-switch-when="true">
                    <span ng-repeat="pred in variantInfo.dbnsfp.mutationtaster.pred track by $index">{{pred}}{{$last ? '' : ', '}}</span>
                  </span>
                  <span ng-switch-default>
                  --
                  </span>
                </span>
              </td>
            </tr>
            <tr>
              <td class="key">Effect Score</td>
              <td class="value">
                <span ng-switch="variantInfo.dbnsfp.mutationtaster.score.length > 0">
                  <span ng-switch-when="true">
                    <span ng-repeat="score in variantInfo.dbnsfp.mutationtaster.score track by $index">{{score}}{{$last ? '' : ', '}}</span>
                  </span>
                  <span ng-switch-default>
                  --
                  </span>
                </span>
              </td>
            </tr>
            <tr class="section-title"><td colspan="2">MutationAssessor</td></tr>
            <tr>
              <td class="key">Effect Prediction</td>
              <td class="value">
                <span ng-switch="variantInfo.dbnsfp.mutationassessor.pred.length > 0">
                  <span ng-switch-when="true">
                    <span ng-repeat="pred in variantInfo.dbnsfp.mutationassessor.pred track by $index">{{pred}}{{$last ? '' : ', '}}</span>
                  </span>
                  <span ng-switch-default>
                    --
                  </span>
                </span>
              </td>
            </tr>
            <tr>
              <td class="key">Effect Score</td>
              <td class="value">
                <span ng-switch="variantInfo.dbnsfp.mutationassessor.score.length > 0">
                  <span ng-switch-when="true">
                    <span ng-repeat="score in variantInfo.dbnsfp.mutationassessor.score track by $index">{{score}}{{$last ? '' : ', '}}</span>
                  </span>
                  <span ng-switch-default>
                    --
                  </span>
                </span>
              </td>
            </tr>
            <tr class="section-title"><td colspan="2">FATHMM</td></tr>
            <tr>
              <td class="key">Effect Prediction</td>
              <td class="value">
                <span ng-switch="variantInfo.dbnsfp.fathmm.pred.length > 0">
                  <span ng-switch-when="true">
                    <span ng-repeat="pred in variantInfo.dbnsfp.fathmm.pred track by $index">{{pred}}{{$last ? '' : ', '}}</span>
                  </span>
                  <span ng-switch-default>
                  --
                  </span>
                </span>
              </td>
            </tr>
            <tr>
              <td class="key">Effect Score</td>
              <td class="value">
                <span ng-switch="variantInfo.dbnsfp.fathmm.score.length > 0">
                  <span ng-switch-when="true">
                    <span ng-repeat="score in variantInfo.dbnsfp.fathmm.score track by $index">{{score}}{{$last ? '' : ', '}}</span>
                  </span>
                  <span ng-switch-default>
                  --
                  </span>
                </span>
              </td>
            </tr>
            <tr class="section-title"><td colspan="2">PROVEAN</td></tr>
            <tr>
              <td class="key">Effect Prediction</td>
              <td class="value">
                <span ng-switch="variantInfo.dbnsfp.provean.pred.length > 0">
                  <span ng-switch-when="true">
                    <span ng-repeat="pred in variantInfo.dbnsfp.provean.pred track by $index">{{pred}}{{$last ? '' : ', '}}</span>
                  </span>
                  <span ng-switch-default>
                  --
                  </span>
                </span>
              </td>
            </tr>
            <tr>
              <td class="key">Effect Score</td>
              <td class="value">
                <span ng-switch="variantInfo.dbnsfp.provean.score.length > 0">
                  <span ng-switch-when="true">
                    <span ng-repeat="score in variantInfo.dbnsfp.provean.score track by $index">{{score}}{{$last ? '' : ', '}}</span>
                  </span>
                  <span ng-switch-default>
                  --
                  </span>
                </span>
              </td>
            </tr>
            <tr class="section-title"><td colspan="2">MetaSVM</td></tr>
            <tr>
              <td class="key">Effect Prediction</td>
              <td class="value">{{variantInfo.dbnsfp.metasvm.pred | ifEmpty: '--'}}</td>
            </tr>
            <tr>
              <td class="key">Effect Score</td>
              <td class="value">{{variantInfo.dbnsfp.metasvm.score | ifEmpty: '--'}}</td>
            </tr>
            <tr class="section-title"><td colspan="2">MetaLR</td></tr>
            <tr>
              <td class="key">Effect Prediction</td>
              <td class="value">{{variantInfo.dbnsfp.metalr.pred | ifEmpty: '--'}}</td>
            </tr>
            <tr>
              <td class="key">Effect Score</td>
              <td class="value">{{variantInfo.dbnsfp.metalr.score | ifEmpty: '--'}}</td>
            </tr>
            <tr class="section-title"><td colspan="2">CADD</td></tr>
            <tr>
              <td class="key">Consequence</td>
              <td class="value">
                <span ng-switch="variantInfo.cadd.consequence.length > 0">
                  <span ng-switch-when="true">
                    <span ng-repeat="consequence in variantInfo.cadd.consequence track by $index">{{consequence}}{{$last ? '' : ', '}}</span>
                  </span>
                  <span ng-switch-default>
                  --
                  </span>
                </span>
              </td>
            </tr>
            <tr>
              <td class="key">Consequence Detail</td>
              <td class="value">
                <span ng-switch="variantInfo.cadd.consdetail.length > 0">
                  <span ng-switch-when="true">
                    <span ng-repeat="detail in variantInfo.cadd.consdetail track by $index">{{detail}}{{$last ? '' : ', '}}</span>
                  </span>
                  <span ng-switch-default>
                  --
                  </span>
                </span>
              </td>
            </tr>
            <tr>
              <td class="key">Raw Score</td>
              <td class="value">{{variantInfo.cadd.rawscore | ifEmpty: '--'}}</td>
            </tr>
            <tr class="section-title"><td colspan="2">FATHMM-MKL</td></tr>
            <tr>
              <td class="key">Effect Prediction</td>
              <td class="value">{{variantInfo.dbnsfp.fathmm-mkl.coding_pred | ifEmpty: '--'}}</td>
            </tr>
            <tr>
              <td class="key">Effect Score</td>
              <td class="value">{{variantInfo.dbnsfp.fathmm-mkl.coding_score | ifEmpty: '--'}}</td>
            </tr>
            <tr class="section-title"><td colspan="2">fitCons</td></tr>
            <tr>
              <td class="key">Effect Score</td>
              <td class="value">{{variantInfo.dbnsfp.integrated.fitcons_score | ifEmpty: '--'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="well">
        <div class="group-title">The Exome Aggregation Consortium</div>
        <table class="table table-compact">
          <tbody>
            <tr>
              <td class="key">Allele Count</td>
              <td class="value">{{variantInfo.exac.ac.ac_adj[0] | ifEmpty: '--'}}</td>
            </tr>
            <tr>
              <td class="key">Allele Number</td>
              <td class="value">{{variantInfo.exac.an.an_adj[0] | ifEmpty: '--'}}</td>
            </tr>
            <tr>
              <td class="key">Adjusted Allele Frequency</td>
              <td class="value">{{variantInfo.exac.adj_allele_freq | ifEmpty: '--'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row buttons">
    <div class="col-xs-12">
      <div class="pull-right">
        <button type="button" class="btn btn-default close" ng-click="ctrl.closeDialog()">Done</button>
      </div>
    </div>
  </div>
</div>
