<div class="myVariantInfo">
  <table class="table table-condensed summary-details">
    <colgroup>
      <col width="100%"/>
      <col width="21"/>
    </colgroup>
    <tr>
      <td class="row">
        <table class="table table-condensed borderless">
          <tbody class="common">
            <tr>
              <td class="key">
                Clinvar ID
              </td>
              <td class="key">
                Clinvar Clinical Significance
              </td>
            </tr>
            <tr>
              <td class="value">
                {{variantInfo.clinvar.variant_id | ifEmpty: '--'}}
              </td>
              <td class="value">
                {{variantInfo.clinvar.rcv[0].clinical_significance | ifEmpty: '--'}}
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td class="myvariantlogo" rowspan="3">
        <div class="pull-right">
          <img src="assets/images/myvariantinfo_logo.png" width="21" height="116" style="padding-top: 3px;"/>
        </div>
      </td>
    </tr>
    <tr>
      <td class="row">
        <table class="table table-condensed borderless">
          <tbody class="common">
            <tr>
              <td class="key">
                COSMIC ID
              </td>
              <td class="key">
                dbSNP RSID
              </td>
            </tr>
            <tr>
              <td class="value">
                {{variantInfo.cosmic.cosmic_id | ifEmpty: '--'}}
              </td>
              <td class="value">
                {{variantInfo.dbsnp.rsid | ifEmpty: '--'}}
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td class="row">
        <table class="table table-condensed borderless">
          <tbody class="common">
            <tr>
              <td class="key">
                EGL CLass
              </td>
              <td class="key">
                SNP Effect
              </td>
              <td class="key">
                SNP Impact
              </td>
            </tr>
            <tr>
              <td class="value">
                {{variantInfo.egl.classification | ifEmpty: '--'}}
              </td>
              <td class="value">
                {{variantInfo.snpeff.ann[0].effect | ifEmpty: '--'}}
              </td>
              <td class="value">
                {{variantInfo.snpeff.ann[0].putative_impact | ifEmpty: '--'}}
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button class="btn btn-block btn-sm btn-default view-gene-details" ng-click="ctrl.openDialog()">View MyVariant.info Details</button>
      </td>
    </tr>
    <!--<tr>-->
    <!--<td class="name">Clinvar ID:</td>-->
    <!--<td class="value" ng-bind="variantInfo.clinvar.variant_id"></td>-->
    <!--<td class="myvariantlogo" rowspan="7">-->
    <!--<div class="pull-right">-->
    <!--<img src="assets/images/myvariantinfo_logo.png" width="21" height="116" style="padding-top: 3px;"/>-->
    <!--</div>-->
    <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td class="name">Clin.&nbsp;Sig.:</td>-->
    <!--<td class="value" ng-bind="variantInfo.clinvar.rcv[0].clinical_significance | ifEmpty: '&#45;&#45;'"></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td class="name">COSMIC&nbsp;ID:</td>-->
    <!--<td class="value" ng-bind="variantInfo.cosmic.cosmic_id | ifEmpty: '&#45;&#45;'"></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td class="name">dbSNP&nbsp;RSID:</td>-->
    <!--<td class="value" ng-bind="variantInfo.dbsnp.rsid | ifEmpty: '&#45;&#45;'"></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td class="name">EGL&nbsp;Class.:</td>-->
    <!--<td class="value" ng-bind="variantInfo.egl.classification | ifEmpty: '&#45;&#45;'"></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td class="name">Effect:</td>-->
    <!--<td class="value">-->
    <!--<span ng-bind="variantInfo.snpeff.ann[0].effect | ifEmpty: '&#45;&#45;'"></span>-->
    <!--&nbsp;&nbsp;-->
    <!--<strong>Impact:</strong>-->
    <!--<span ng-bind="variantInfo.snpeff.ann[0].putative_effect | ifEmpty: '&#45;&#45;'"></span>-->
    <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>&nbsp;</td>-->
    <!--<td colspan="2">-->
    <!--<button class="btn btn-block btn-sm btn-default view-gene-details" ng-click="ctrl.openDialog()">View MyVariant.info Details</button>-->
    <!--</td>-->
    <!--</tr>-->
  </table>
</div>


