@import 'bower_components/bootstrap/less/mixins.less';
@import 'bower_components/bootstrap/less/variables.less';
@import 'src/app/styles/_civic-variables.less';
@import 'src/app/styles/_mixins.less';

@tabPaddingH: .5em;
@tabPaddingV: .25em;

.variantSummary {
  padding-top: @contentPadding;
  .evidence-view {
    .clearfix();
    padding: 0 @contentPadding;
    background-color: @pageBackground2;
    border-bottom-left-radius: @border-radius-large;
    border-bottom-right-radius: @border-radius-large;
  }
  .select-prompt {
    margin-top: @contentPadding;
    font-size: 1.5em;
  }
  .coordinates-block {
    padding: @contentPadding/2;
    margin-bottom: @contentPadding;
    background-color: @pageBackground2;
    border-radius: @border-radius-base;

    h4 {
      margin-top: 0;
      margin-bottom: 0;
      border-bottom: 2px solid rgb(221, 221, 221);
      padding-bottom: 5px;
    }

    .table {
      margin: 0;

      //.common tr:last-child td {
      //  border-bottom: 1px solid #AAA;
      //}

    }

    .key {
      font-weight: bold;
      font-size: small;
      padding-bottom: 0;
      color: #666;
    }
    .value {
      padding-top: 0;
      font-size: small;
    }
    .full-value {
      text-align: center;
    }
    .section-title {
      margin-left: -@contentPadding/2;
      margin-right: -@contentPadding/2;
      margin-top: @contentPadding/2;
      font-size: small;
      font-weight: bold;
      color: #666;
      background-color: #DDD;
      padding: @contentPadding/2;
      .val {
        font-weight: normal;
      }
    }
    .section-title.first {
      margin-top: -@contentPadding/2;
      border-top-left-radius: @border-radius-base;
      border-top-right-radius: @border-radius-base;
    }
  }
  .sources {
    list-style: none;
    margin-left: @contentPadding;
    padding: 0;
  }

  .assertions {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      padding-bottom: @contentPadding/2;

      li {
        display: inline-block;
        margin-top: @contentPadding/2;
        margin-right: @contentPadding/2;
        .assertion-tag {
          display: block;
          text-decoration: none;
          padding: @tabPaddingV @tabPaddingH;
          border-radius: @border-radius-base;
          background-color: @pageBackground2;
          border: 1px solid @pageBackground3;

          &:hover, &.active {
            border-color: @civicPurple;
            .variant-name {
              color: @civicPurple;
            }
          }
          .pending-alert {
            text-shadow:
            -1px -1px 0 #FFF,
            1px -1px 0 #FFF,
            -1px 1px 0 #FFF,
            1px 1px 0 #FFF !important;
          }
          .pending-changes {
            color: lighten(@civicPurple, 30%) !important;
          }
          .pending-evidence {
            color: #F68F37;
          }
          .pending-both {
            color: @civicRed !important;
          }
          &.active {
            background-color: lighten(@civicPurple, 70%);
            .variant-name {
              // font-weight: bold;
            }
          }

          &.statusRejected {
            background-color: #ECA2C0 !important;
            color: #47161C !important;
            // border-color: #47161C !important;
          }

          &.statusAccepted {
            background-color: #B2D49C !important;
            color: #144522 !important;
            // border-color: #144522 !important;
          }

          &.statusSubmitted {
            background-color: #F3BC94 !important;
            color: #4A2B11 !important;
            // border-color: #4A2B11 !important;
          }
        }

        a.active {
        }
      }
    }
  }
}
