<div class="variantSummary {{ backgroundColor }}">
  <div class="row">
    <div class="col-xs-8">
      <div ng-switch="variant.description.length > 0">
        <div ng-switch-when="true">
          <p ng-bind="variant.description" class="description">
            Variant Summary.
          </p>
        </div>
        <div ng-switch-default="false">
          <p class="description">
            This Variant does not currently have a Summary.
          </p>
          <div ng-if="isAuthenticated() && !isEdit">
            <p>
              <a class="btn btn-small btn-default" ui-sref="events.genes.summary.variants.edit.basic({ geneId: stateParams.geneId, variantId: variant.id })">
                Add a Summary
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="coordinates-block">
        <table class="table table-condensed borderless">
          <tbody class="common">
            <tr>
              <td class="key small">
                Reference Build:
              </td>
              <td class="value small">
                {{ variant.coordinates.reference_build | ifEmpty: '--' }}
              </td>
            </tr>
            <tr>
              <td class="key small">
                Ensembl Version:
              </td>
              <td class="value small">
                {{ variant.coordinates.ensembl_version| ifEmpty: '--' }}
              </td>
            </tr>
          </tbody>
          <tbody class="transcript1">
            <tr>
              <td class="key small">
                Chromosome:
              </td>
              <td class="value small">
                {{ variant.coordinates.chromosome | ifEmpty: '--' }}
              </td>
            </tr>
            <tr>
              <td class="key small">
                Start:
              </td>
              <td class="value small">
                {{ variant.coordinates.start | ifEmpty: '--' }}
              </td>
            </tr>
            <tr>
              <td class="key small">
                Stop:
              </td>
              <td class="value small">
                {{ variant.coordinates.stop | ifEmpty: '--' }}
              </td>
            </tr>
            <tr>
              <td class="key small">
                Reference Bases:
              </td>
              <td class="value small">
                {{ variant.coordinates.reference_bases| ifEmpty: '--' }}
              </td>
            </tr>
            <tr>
              <td class="key small">
                Variant Bases:
              </td>
              <td class="value small">
                {{ variant.coordinates.variant_bases | ifEmpty: '--' }}
              </td>
            </tr>
            <tr>
              <td class="key small">
                Rep. Transcript:
              </td>
              <td class="value small">
                {{ variant.coordinates.representative_transcript| ifEmpty: '--' }}
              </td>
            </tr>
          </tbody>
          <tbody ng-if="variant.coordinates.chromosome2" class="transcript2">
            <tr>
              <td class="key small">
                Chromosome 2:
              </td>
              <td class="value small">
                {{ variant.coordinates.chromosome2| ifEmpty: '--' }}
              </td>
            </tr>
            <tr>
              <td class="key small">
                Start 2:
              </td>
              <td class="value small">
                {{ variant.coordinates.start2| ifEmpty: '--' }}
              </td>
            </tr>
            <tr>
              <td class="key small">
                Stop 2:
              </td>
              <td class="value small">
                {{ variant.coordinates.stop2| ifEmpty: '--' }}
              </td>
            </tr>
            <tr>
              <td class="key small">
                Rep. Transcript 2:
              </td>
              <td class="value small">
                {{ variant.coordinates.representative_transcript2 | ifEmpty: '--' }}
              </td>
            </tr>
          </tbody>
          <tbody ng-if="isAuthenticated() && !isEdit">
            <tr>
              <td colspan="2">
                <a class="btn btn-default btn-xs btn-block" ng-click="editClick()">
                  Edit Coordinates
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div ng-if="showEvidenceGrid === true">
    <div class="row">
      <div class="col-xs-12 evidence-item-grid">
        <evidence-grid
          evidence="evidence"
          variant="variant"
          show-gene-col="false"
          show-variant-col="false"
          context="'summary'"
          rounded="false">
        </evidence-grid>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="evidence-view">
          <ui-view>
            <div class="alert alert-info select-prompt">
              &uparrow; Click on an <strong>Evidence Item</strong> above to view its details here.
            </div>
          </ui-view>
        </div>
      </div>
    </div>
  </div>
</div>
