@import 'bower_components/bootstrap/less/mixins.less';
@import 'bower_components/bootstrap/less/variables.less';
@import 'src/app/styles/_civic-variables.less';
@import 'src/app/styles/_mixins.less';

.helpPage {
  .subtitle {
    margin-top: 0;
    padding-bottom: .3em;
    border-bottom: 1px solid #CCC;
  }

  .diagram {
    margin-bottom: 3em;
  }

  .help-tabs {
    margin-bottom: 1em;

    .nav {
      padding-left: 15px;
      padding-right: 0;
    }
  }

  .help-button {
    margin-top: .5em;
  }

  .help-tab {
    //padding: @contentPadding;
    //border-radius: @border-radius-large;
    //border-top-left-radius: 0;
    //border-top-right-radius: 0;
    //border-left: 1px solid @nav-tabs-border-color;
    //border-right: 1px solid @nav-tabs-border-color;
    //border-bottom: 1px solid @nav-tabs-border-color;
  }

  .help-sub-tab {
    padding: @contentPadding;
    border-radius: @border-radius-large;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-left: 1px solid @nav-tabs-border-color;
    border-right: 1px solid @nav-tabs-border-color;
    border-bottom: 1px solid @nav-tabs-border-color;
  }

  table {
    .rating {
      white-space: nowrap;
      color: #666;
      text-align: center;
    }
    .level {
      text-align: center;
      vertical-align: middle;
      color: #FFF;
      padding: @contentPadding/2;

      .character {
        font-size: 150%;
        font-weight: bold;
      }
    }
  }

  .table-attributes {
    border-bottom: 1px solid rgb(221,221,221);
    th {
      border-top: none;
      font-weight: normal;
      font-style: oblique;
      font-size: small;
      color: #333;
    }

    .subheader td h4 {
      margin-bottom: .1em;
    }

    .attribute {
      text-align: right;
    }
    td.attribute {
      white-space: nowrap;
      font-weight: bold;
    }

  }
}
