@import 'bower_components/bootstrap/less/mixins.less';
@import 'bower_components/bootstrap/less/variables.less';
@import 'src/app/styles/_civic-variables.less';
@import 'src/app/styles/_mixins.less';

.queryBuilder {
  .query-row {
    .clearfix();
    margin-top: @contentPadding;
    padding: @contentPadding/2;
    background-color: #EFEFEF;
    border-radius: @border-radius-base;

    .field-selector {
      .formly {
        width: 100%;
        .formly-field {
          width: 100%;
          .form-group {
            width: 100%;
            margin-bottom: 0 !important;
            select {
              display: block;
              width: 100%;
            }
          }
        }
      }

    }
    .field-form {

    }
    .row-buttons {
      white-space: nowrap;
      button {
        margin-top: 5px;
      }
    }
    .inline-field {
      display: inline-block;
      padding-right: @contentPadding/2;
    }

    .inline-field-xs input,
    .inline-field-xs select {
      max-width: 50px;
    }

    .inline-field-small input,
    .inline-field-small select {
      max-width: 100px;
    }

    .inline-field-md input,
    .inline-field-md select {
      max-width: 150px;
    }
  }
}
