<div class="queryBuilder">
  <!--loop through each element in model array-->
  <div class="row" ng-repeat="element in model[options.key]" ng-init="fields = copyFields(to.fields)">
    <div class="col-xs-12">
      <div class="query-row">
        <div class="row">
          <div class="col-xs-3 field-selector">
            <formly-form fields="fields"
                         model="element"
                         form="form"
                         class="form-inline">
            </formly-form>
          </div>
          <div class="col-xs-8 field-form">
            FIELD FORM GOES HERE.
          </div>
          <div class="col-xs-1 row-buttons">
            <button type="button" class="btn btn-xs btn-primary" ng-click="addNew()" >
              +
            </button>&nbsp;
            <button type="button" class="btn btn-xs btn-danger" ng-click="model[options.key].splice($index, 1)">
              X
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
