<div class="queryBuilder">
  <!--loop through each element in model array-->
  <div class="row" ng-repeat="element in model[options.key]" ng-init="fields = copyFields(to.rowFields);conditionFields = copyFields(to.conditionFields)">
    <div class="col-xs-12">
      <div class="query-row">
        <div class="row">
          <div class="col-xs-3 col-lg-3 field-selector">
            <formly-form fields="fields"
                         model="element"
                         form="form"
                         class="form-inline pull-right">
            </formly-form>
          </div>
          <div class="col-xs-7 col-lg-7 field-form">
            <formly-form fields="conditionFields[element.field]"
                         model="element.condition"
                         class="form-inline"></formly-form>
          </div>
          <div class="col-xs-2 row-buttons">
            <div class="pull-right">
              <button type="button"
                      class="btn btn-xs btn-danger"
                      ng-if="model[options.key].length > 1"
                      ng-click="model[options.key].splice($index, 1)">
                <span class="glyphicon glyphicon-remove"></span>
              </button>

              <button type="button"
                      class="btn btn-xs btn-primary"
                      ng-if="$index + 1 === model[options.key].length"
                      ng-click="addNew()">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
