<div class="searchView">
  <div class="row">
    <div class="subTabs col-xs-12">
      <div class="row">
        <div class="col-xs-12 col-sm-4 name">
          <h3>Search

            <span ng-switch="state">
              <span ng-switch-when="search.evidence">
                Evidence
              </span>
              <span ng-switch-when="search.assertions">
                Assertions
              </span>
              <span ng-switch-when="search.genes">
                Genes
              </span>
              <span ng-switch-when="search.variants">
                Variants
              </span>
              <span ng-switch-when="search.sources">
                Sources
              </span>
            </span>
          </h3>
        </div>

        <div class="col-xs-12 col-sm-8 tabs">
          <ul class="nav nav-tabs" style="float: right;">
            <li ui-sref-active="active">
              <a ui-sref="search.evidence">Evidence</a>
            </li>

            <li ui-sref-active="active">
              <a ui-sref="search.assertions">Assertions</a>
            </li>

            <li ui-sref-active="active">
              <a ui-sref="search.variants">Variants</a>
            </li>

            <li ui-sref-active="active">
              <a ui-sref="search.genes">Genes</a>
            </li>

            <li ui-sref-active="active">
              <a ui-sref="search.sources">Sources</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>

 <div class="row">
    <div class="col-xs-12">
      <ui-view></ui-view>
    </div>
  </div>
  <!--<div class="row">-->
    <!--<div class="col-xs-6">-->
      <!--<h2>Model</h2>-->
      <!--<pre>{{vm.model | json}}</pre>-->
    <!--</div>-->
    <!--<div class="col-xs-6">-->
      <!--<h2>Form</h2>-->
      <!--<pre>{{vm.form| json}}</pre>-->
    <!--</div>-->
  <!--</div>-->
</div>
