<div class="searchEvidence">
  <div class="row">
    <div class="col-xs-12">
      <div class="well suggested-searches">
        <h4>Example Searches:</h4>
        <ul class="nav nav-pills">
          <li ng-repeat="suggestion in vm.suggestedSearches.variants">
            <a ng-click="vm.setSearch(suggestion.search)"
               tooltip="{{suggestion.tooltip}}"
               tooltip-append-to-body="true"
               ng-bind="suggestion.name">
              NAME
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <query-builder
        entity="'variants'"
        fields="vm.fields.variants">
      </query-builder>
    </div>
  </div>
</div>
