<div class="searchView">
  <div class="row">
    <div class="subTabs col-xs-12">
      <div class="row">
        <div class="col-xs-6 name">
          <h3>
            Search

            <span ng-switch="state">
              <span ng-switch-when="search.evidence">
                Evidence
              </span>
              <span ng-switch-when="search.genes">
                Genes
              </span>
              <span ng-switch-when="search.variants">
                Variants
              </span>
            </span>
          </h3>
        </div>

        <div class="col-xs-6 tabs">
          <ul class="nav nav-tabs" style="float: right;">
            <li ui-sref-active="active">
              <a ui-sref="search.evidence">Search Evidence</a>
            </li>

            <li ui-sref-active="active">
              <a ui-sref="search.variants">Search Variants</a>
            </li>

            <li ui-sref-active="active">
              <a ui-sref="search.genes">Search Genes</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <ui-view></ui-view>
    </div>
  </div>
  <!--<div class="row">-->
    <!--<div class="col-xs-6">-->
      <!--<h2>Model</h2>-->
      <!--<pre>{{vm.model | json}}</pre>-->
    <!--</div>-->
    <!--<div class="col-xs-6">-->
      <!--<h2>Form</h2>-->
      <!--<pre>{{vm.form| json}}</pre>-->
    <!--</div>-->
  <!--</div>-->
</div>
