<div class="searchView">
  <div class="title-row">
    <div class="row">
      <div class="col-xs-12">
        <div class="name">
          <h3>Search Evidence Items</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="operator-prompt">
        <div ng-if="vm.model.queries.length <= 1">
          <span class="prompt-text">Match the following condition:</span>
        </div>
        <div ng-if="vm.model.queries.length > 1">
          <span class="prompt-text">Match</span>
          <div class="operator-select">
            <formly-form fields="vm.operatorField" model="vm.model">

            </formly-form>
          </div>
          <span class="prompt-text">of the following conditions:</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <form ng-submit="vm.onSubmit()" novalidate>
        <formly-form
          model="vm.model"
          fields="vm.fields"
          form="vm.form"
          options="vm.options">
        </formly-form>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="button-row pull-right">
        <button
          type="submit"
          class="btn btn-primary submit-button"
          ng-disabled="vm.form.$invalid"
          ng-click="vm.onSubmit()"
          ng-bind="vm.buttonLabel">
          BUTTON LABEL
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <h2>Model</h2>
      <pre>{{vm.model | json}}</pre>
    </div>
    <div class="col-xs-6">
      <h2>Form</h2>
      <pre>{{vm.form | json}}</pre>
    </div>
  </div>
</div>
