<div class="assertionTalkRevisions">
  <div ng-if="assertionRevisions.data.collection.length > 0">
    <div class="row revisions-list {{ viewOptions.styles.view.summaryBackgroundColor }}">
      <div class="col-xs-12">
        <revisions-grid changes="assertionRevisions.data.collection" base-state="events.assertions.talk.revisions"></revisions-grid>
      </div>
    </div>
    <div class="row revisions-view {{ viewOptions.styles.view.talkBackgroundColor }}">
      <div class="col-xs-12">
        <ui-view>

        </ui-view>
      </div>
    </div>
  </div>
  <div ng-if="assertionRevisions.data.collection.length === 0">
    <div class="row revisions-prompt">
      <div class="col-xs-12">
        <div class="jumbotron">
          <h2 style="margin:0;padding:0;">No suggested revisions exist for this assertion.</h2>
          <p>You may create a suggested revision by clicking on the assertion name at the top of this record.</p>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
      <!--<pre ng-bind="viewOptions|json"></pre>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
      <!--<pre ng-bind="assertionRevisions.data|json"></pre>-->
    <!--</div>-->
  <!--</div>-->
</div>
