<div class="suggestSource">
  <div class="title-row">
    <div class="row">
      <div class="col-xs-12">
        <div class="name">
          <h3><a name="top" id="top" style="text-decoration: none; color: inherit;">Suggest Source</a></h3>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="vm.showForm">
    <div class="row instructions">
      <div class="col-xs-12">
        <p>If you have a source publication that you believe to contain research relevant to CIViC's curation efforts, the community would appreciate your input! Please specify as many details as you can using the form below (only the Pubmed ID and Comment are required). Your suggested source will be placed in the <a ui-sref="curation.sources">source curation queue</a>, and you will be given a suggestion credit if your suggestion results in a new Evidence Item added to the CIViC database.</p>
      </div>
    </div>
    <div class="row" ng-if="vm.error.status">
      <div class="col-xs-12">
        <div class="alert alert-danger">
          <p><strong>Error: {{ vm.error.status }}:</strong> {{vm.error.statusText}}
            <span ng-if="vm.error.status === 409"><br/>This source suggetion appears to conflict with a previously submitted suggestion. <a ng-href="/sources/{{ vm.error.data.id }}/summary">Visit the conflicting source page</a> to view the conflicting source's details and add further comments.</span>

          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <form class="form-horizontal" name="vm.form" novalidate>
          <formly-form options="vm.formOptions" model="vm.newSuggestion" fields="vm.suggestionFields">

          </formly-form>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5 col-xs-offset-2">
        <div class="buttons">
          <div class="pull-left">
            <cancel-button></cancel-button>
          </div>
          <div class="pull-right">
            <span ng-switch="vm.currentUser.organizations.length > 1" >
              <span ng-switch-when="true" >
                <div class="btn-group org-select" uib-dropdown>
                  <button id="split-button"
                    type="button"
                    class="btn btn-default"
                    ng-click="vm.submit(vm.newSuggestion, vm.options)"
                    ng-disabled="vm.form.$invalid || !vm.isAuthenticated">
                    Submit Source
                  </button>

                  <button type="button" class="btn btn-default" uib-dropdown-toggle
                    ng-disabled="vm.form.$invalid || !vm.isAuthenticated">
                    for
                    <span class="avatar"
                      uib-tooltip="{{vm.newSuggestion.organization.name}}"
                      tooltip-enable="!(vm.form.$invalid || vm.isAuthenticated === false)">
                      <img ng-src="{{vm.actionOrg.profile_image.x14}}" width="14" height="14"/>
                    </span>&nbsp;&nbsp;<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li role="menuitem" ng-repeat="org in vm.currentUser.organizations"
                     ng-class="{'active': org.id == vm.actionOrg.id}">
                      <a href ng-click="vm.switchOrg(org.id)">
                        <span class="glyphicon glyphicon-ok" style="margin-left: -12px"
                        ng-class="{'glyphicon-hide': org.id !== vm.actionOrg.id}"></span>
                        <span class="avatar">
                          <img ng-src="{{org.profile_image.x14}}" width="14" height="14"/>
                        </span>&nbsp;&nbsp;{{org.name}}
                      </a>
                    </li>
                  </ul>
                </div>
              </span>
              <span ng-switch-default>
                <button type="submit"
                  class="btn btn-default"
                  ng-disabled="!vm.isAuthenticated || vm.form.$invalid"
                  ng-click="vm.submit(vm.newSuggestion)">
                  Submit Source
                </button>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-if="vm.form.$invalid" style="margin-top: 1em;">
      <div class="col-xs-5 col-xs-offset-2">
        <div class="alert alert-info">
          The Submit button is disabled because the Suggest Source form is incomplete or contains errors. Please ensure that all required fields (marked with an *) are completed and error free.
        </div>
      </div>
    </div>
  </div>
  <div class="successMessage" ng-if="vm.showSuccessMessage">
    <div class="col-xs-12 jumbotron">
      <h1>Thank you.</h1>
      <p>Your suggested source has been added to the source curation queue.</p>
      <p>
        <a ui-sref="sources.summary({sourceId: {{vm.newSourceId}} })">View it here</a>,
        <a ui-sref="curation.sources">view the Source Curation Queue</a>
        &nbsp;or&nbsp;
        <a ui-sref="suggest.source"
          ui-sref-opts="{reload:true, inherit: true}"
          class="btn btn-small btn-default">Suggest Another Source</a>
      </p>
    </div>
  </div>

  <!-- <div class="row" style="margin-top: 3em;">
       <div class="col-xs-6">
       <p>vm.newSuggestion</p>
       <pre ng-bind="vm.newSuggestion|json"></pre>
       </div>
       <div class="col-xs-6">
       <p>Form:</p>
       <pre ng-bind="vm.suggestionFields|json"></pre>
       </div>
       </div> -->
</div>
