<div class="geneView">
  <div class="row">
    <div class="col-xs-12">
      <h2>{{ gene.entrez_name }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <a ui-sref="event.gene.summary({ geneId: gene.entrez_name })">{{ gene.entrez_name }} Summary</a>
      <a ui-sref="event.gene.talk({ geneId: gene.entrez_name })">{{ gene.entrez_name }} Talk</a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div ui-view="geneDetails">
        <p>Gene Details</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 variantMenu" ng-show="gene.variants.length > 0">
      <div class="title">
        <span>{{ gene.name }} Variants:</span>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="variant in gene.variants" ui-sref-active="active">
          <a ui-sref="event.gene.variant({ geneId: gene.entrez_name, variantId: variant })">{{ variant }}</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
      <ui-view>
        <p>Choose a variant to view its clinical summary and supporting evidence.</p>
      </ui-view>
    </div>
  </div>

</div>