<div class="geneView">
  <div class="row">
    <gene-tabs class="col-xs-12"></gene-tabs>
  </div>

  <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
      <!--<a ui-sref="event.gene.summary({ geneId: gene.entrez_name })">{{ gene.entrez_name }} Summary</a>-->
      <!--&nbsp;&nbsp;-->
      <!--<a ui-sref="event.gene.talk({ geneId: gene.entrez_name })">{{ gene.entrez_name }} Talk</a>-->
      <!--<p>Current State : {{ $state.current.name }}</p>-->
      <!--<p>VariantID: {{ state.params.variantId }}</p>-->
      <!--<p ng-show="$state.includes('**.variant', {'variantId': state.params.variantId })">includes()</p>-->
    <!--</div>-->
  <!--</div>-->

  <div class="row">
    <div class="col-xs-12">
      <div ui-view="geneDetails"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 variantMenu" ng-show="gene.variants.length > 0">
      <div class="title">
        <span>{{ gene.name }} Variants:</span>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="variant in gene.variants" ng-class="{'active': $state.params.variantId == variant }">
          <a ui-sref="event.gene.variant({ geneId: gene.entrez_name, variantId: variant })">{{ variant }}</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
      <div ui-view>
        <p>Choose a variant to view its clinical summary and supporting evidence.</p>
      </div>
    </div>
  </div>

</div>