<div class="evidenceEdit">
  <div class="row">
    <div class="col-xs-12 explanation">
      <p ng-bind-html="evidence.explanation | linky"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 details">
      <table class="table table-condensed summary-details">
        <colgroup>
          <col width="30%"/>
          <col width="70%"/>
        </colgroup>
        <tr>
          <td class="name">Rating:</td>
          <td class="value"><rating ng-model="evidence.rating" max="5" readonly="true"></rating></td>
        </tr>
        <tr>
          <td class="name">Evidence Level:</td>
          <td class="value">
            <span class="levelBadge"
                  ng-class="{'levelA': evidence.evidence_level === 'A', 'levelB': evidence.evidence_level === 'B','levelC': evidence.evidence_level === 'C', 'levelD': evidence.evidence_level === 'D', 'levelE': evidence.evidence_level === 'E' }">
              {{ evidence.evidence_level }}
            </span>
          </td>
        </tr>
        <tr>
          <td class="name">Evidence Type:</td>
          <td class="value">{{ evidence.evidence_type }}</td>
        </tr>
        <tr>
          <td class="name">Source:</td>
          <td class="value">{{ evidence.source }}</td>
        </tr>
      </table>
    </div>
    <div class="col-xs-12 col-md-6 details">
      <table class="table table-condensed summary-details">
        <colgroup>
          <col width="30%"/>
          <col width="70%"/>
        </colgroup>
        <tr>
          <td class="name">Disease:</td>
          <td class="value">{{ evidence.disease }}</td>
        </tr>
        <tr>
          <td class="name">Drug:</td>
          <td class="value">{{ evidence.drug }}</td>
        </tr>
        <tr>
          <td class="name">Outcome:</td>
          <td class="value">{{ evidence.outcome }}</td>
        </tr>
        <tr>
          <td class="name">Clinical Direction:</td>
          <td class="value">{{ evidence.clinical_direction }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="button-row">
        <div class="pull-right">
          <button type="button" class="btn btn-default btn-md" ng-click="discardEdits()">Discard Edits</button>
          <button type="button" class="btn btn-primary btn-md" ng-click="submitEdits()">Submit Edits for Review</button>
          <button type="button" class="btn btn-warning btn-md" ng-click="applyEdits()" ng-show="isAdmin()">Apply Edits</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <p>gene:</p>
      <pre>{{ evidence | json }}</pre>
    </div>
    <div class="col-xs-6">
      <p>geneEdit:</p>
      <pre>{{ evidenceEdit | json }}</pre>
    </div>
  </div>
</div>
