@import 'bower_components/bootstrap/less/mixins.less';
@import 'bower_components/bootstrap/less/variables.less';
@import 'src/app/styles/_civic-variables.less';

.evidenceSummary {

  .explanation {
    padding-top: @contentPadding;
    p {
      padding-left: @contentPadding;
    }
  }

  .details {
    padding-top: @contentPadding;
  }

  .levelBadge {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 3px;
    text-align: center;
    color: #FFF;
  }

  .levelA {
    background-color: #33b358;
  }

  .levelB {
    background-color: #08b1e6;
  }

  .levelC {
    background-color: #616eb2;
  }

  .levelD {
    background-color: #f68f37;
  }

  .levelE {
    background-color: #e24759;
    color: #057abe;
  }

  .levelF {
    background-color: #fce452;
    color: #057abe;
  }
}
