@import 'bower_components/bootstrap/less/mixins.less';
@import 'bower_components/bootstrap/less/variables.less';
@import 'src/app/styles/_civic-variables.less';

.evidenceEdit {

  .explanation {
    padding-top: @contentPadding;
    p {
      padding-left: @contentPadding;
    }
  }

  .details {
    padding-top: @contentPadding;
  }

  .levelBadge {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 3px;
    text-align: center;
    color: #FFF;
  }

  .levelA {
    background-color: #057abe;
  }

  .levelB {
    background-color: #068ccb;
  }

  .levelC {
    background-color: #219bd2;
  }

  .levelD {
    background-color: #70b2dd;
  }

  .levelE {
    background-color: #abd0ed;
    color: #057abe;
  }

  .levelF {
    background-color: #dee7ee;
    color: #057abe;
  }

  .button-row {
    .clearfix();
    border-top: 2px solid #CCC;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
  }

}
