<div class="assertionsSummary">
  <div class="title-row">
    <div class="row">
      <div class="col-xs-12">
        <div class="name">
          <h3>Assertion {{vm.assertion.name}} Summary</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <p>
        <strong>Gene: </strong>
        <a ui-sref="events.genes.summary({geneId: vm.assertion.gene.id})"> {{ vm.assertion.gene.name }}</a>
        <strong>Variant: </strong>
        <a ui-sref="events.genes.summary.variants.summary({geneId: vm.assertion.gene.id, variantId: vm.assertion.variant.id})">{{ vm.assertion.variant.name }}</a>
        <strong>Disease:</strong> <a ng-href="{{vm.assertion.disease.url}}">{{vm.assertion.disease.display_name}}</a>
      </p>
      <p><span ng-bind="vm.assertion.description">Description</span></p>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="row">
        <div class="col-xs-12">
          <div class="well">
            <table class="table">
              <tr>
                <td class="key">Evidence Type:</td>
                <td class="value" >
                  {{vm.assertion.evidence_type}}
                </td>
              </tr>
              <tr>
                <td class="key">Clinical Significance:</td>
                <td class="value" >
                  {{ vm.assertion.clinical_significance }}
                </td>
              </tr>
              <tr>
                <td class="key">ACMG Level:</td>
                <td class="value" >
                  {{ vm.assertion.acmg_level }}
                </td>
              </tr>
              <tr>
                <td class="key">ACMG Codes:</td>
                <td class="value" >
                  <span ng-switch="vm.assertion.acmg_codes.length > 0">
                    <span ng-switch-when="true" >
                      <span ng-repeat="code in vm.assertion.acmg_codes"
                        uib-tooltip="{{code.description}}">
                        {{
                        $first ? '' : $last ? (vm.assertion.acmd_codes > 2 ? ', and ' : ' and ') : ', '
                        }}
                        {{ code.code}}
                      </span>
                    </span>
                    <span ng-switch-when="false">
                      --
                    </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td class="key">NCCN Guideline:</td>
                <td class="value">{{ vm.assertion.nccn_guideline }}
                  <span ng-if="vm.assertion.nccn_guideline_version">(v{{vm.assertion.nccn_guideline_version}})</span>
                </td>
              </tr>
              <tr>
                <td class="key">Regulatory Approval:</td>
                <td class="value">
                  <span ng-switch="vm.assertion.regulatory_agency_approval.length > 0">
                    <span ng-switch-when="true" >
                      <span ng-repeat="approval in vm.assertion.regulatory_agency_approval"
                        uib-tooltip="{{ approval.name }} ({{approval.country}})">
                        {{
                        $first ? '' : $last ? (vm.assertion.regulatory_agency_approval > 2 ? ', and ' : ' and ') : ', '
                        }}
                        {{ approval.abbreviation }}
                      </span>
                  </span>
                  <span ng-switch-when="false">
                      <i class="glyphicon glyphicon-remove" style="color: red"></i>
                    </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td class="key">FDA Companion Test:</td>
                <td class="value">
                  <div ng-switch="vm.assertion.fda_companion_test">
                    <span ng-switch-when="true">
                      <i class="glyphicon glyphicon-ok" style="color: green"></i>
                    </span>
                    <span ng-switch-when="false">
                      <i class="glyphicon glyphicon-remove" style="color: red"></i>
                    </span>
                  </div>
                </td>
              </tr>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 1.5em">
    <div class="col-xs-12">
      <evidence-grid evidence="vm.assertion.evidence_items" rows="8" show-gene-col="true" show-variant-col="true" context="'assertion'" source="vm.assertion" rounded="true">
      </evidence-grid>
    </div>
  </div>
  <!-- <div class="row"> -->
  <!-- <div class="col-xs-12"> -->
  <!-- <pre ng-bind="vm.assertion|json"></pre> -->
  <!-- </div> -->
  <!-- </div> -->
</div>
