@import 'bower_components/bootstrap/less/mixins.less';
@import 'bower_components/bootstrap/less/variables.less';
@import 'src/app/styles/_civic-variables.less';
@import 'src/app/styles/_mixins.less';

.sourcesSummary {
  .table {
    th {
      border: none;
    }
    td {
      border: none;
    }

    .key {
      text-align: right;
      vertical-align: middle;
      padding-right: @contentPadding/2;
      font-weight: bold;
    }
    .value {
      text-align: left;
      padding-left: @contentPadding/2;
      vertical-align: middle;
    }
  }

  .source-title {
    margin-top: 0;
  }
}
