<div class="sourcesSummary">
  <div class="title-row">
    <div class="row">
      <div class="col-xs-12">
        <div class="name">
          <h3><a name="top" id="top" style="text-decoration: none; color: inherit;"><span ng-bind="vm.source.citation">Citation</span> Summary</a></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3 ng-bind="vm.source.name" class="source-title">Full Source Title</h3>
      <p><strong>Authors:</strong> <span ng-bind="vm.source.author_list_string">Authors List</span></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <p><strong>Abstract:</strong> <span ng-bind="vm.source.abstract">Abstract</span></p>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="well">
        <table class="table">
          <tr>
            <td class="key">Published:</td>
            <td class="value" ng-bind="vm.source.publication_date_string"></td>
          </tr>
          <tr>
            <td class="key">Citation:</td>
            <td class="value" ng-bind="vm.source.citation"></td>
          </tr>
          <tr>
            <td class="key">Pubmed ID:</td>
            <td class="value">
              <a ng-href="http://www.ncbi.nlm.nih.gov/pubmed/{{vm.source.pubmed_id}}"
                 class="btn btn-xs button-pubmed"
                 target="_blank">
                <span class="glyphicon glyphicon-new-window"></span>
                <span ng-bind="vm.source.pubmed_id"></span>
              </a>
            </td>
          </tr>
          <tr>
            <td class="key">Journal:</td>
            <td class="value" ng-bind="vm.source.full_journal_title ? vm.source.full_journal_title : vm.source.journal"></td>
          </tr>
          <tr>
            <td class="key">Open Access:</td>
            <td class="value">
              <span ng-switch="vm.source.open_access">
                <span ng-switch-when="true">
                  <i class="glyphicon glyphicon-ok-sign" style="color: darkgreen;"></i>
                </span>
                <span ng-switch-when="false">
                  <i class="glyphicon glyphicon-remove-sign" style="color: darkred"></i>
                </span>
              </span>
              &nbsp;
              <span ng-if="vm.source.open_access">
                <strong>PMC ID:</strong>
                <span ng-bind="vm.source.pmc_id ? vm.source.pmc_id : 'N/A'"> PMC ID </span>
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <evidence-grid
        evidence="vm.evidence_items"
        rows="8"
        show-gene-col="true"
        show-variant-col="true"
        context="'source_summary'"
        source="vm.source"
        rounded="true">
      </evidence-grid>
    </div>
  </div>
</div>
