@import 'bower_components/bootstrap/less/mixins.less';
@import 'bower_components/bootstrap/less/variables.less';
@import 'src/app/styles/_civic-variables.less';
@import 'src/app/styles/_mixins.less';

.sourcesSummary {
  border: 1px solid #F00;
  .key {
    text-align: right;
    vertical-align: middle;
    padding-right: @contentPadding/4;
    font-weight: bold;
  }
  .value {
    text-align: left;
    padding-left: @contentPadding/4;
    vertical-align: middle;
  }
}
