<div class="variantsSummaryView">
  <div class="row">
    <div class="col-xs-4">
      <ul class="nav nav-pills nav-stacked gene-menu">
        <li ng-repeat="variant in gene.variants | sortBy: variant">
          <a ui-sref="events.genes.summary.variants({ geneId: gene.entrez_gene , variantId: variant })"> {{ variant }}</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-8">
      <variant-summary></variant-summary>
      <div ui-view="variants">

      </div>
    </div>
  </div>
</div>