<div class="variantsView">
  <div class="row">
    <div class="col-xs-4">
      <!-- TODO: convert menu to directive -->
      <ul class="nav nav-pills nav-stacked gene-menu">
        <li ng-repeat="variant in gene.variants | sortBy: variant">
          <a ui-sref="events.genes.summary.variants({ geneId: gene.entrez_name , variantId: variant })"> {{ variant }}</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-8">
      <variants-tabs></variants-tabs>
      <div ui-view>

      </div>
    </div>
  </div>
</div>