<div class="curationView">
  <div class="row">
    <div class="subTabs col-xs-12">
      <div class="row">
        <div class="col-xs-3 name">
          <h3>Curation Tools</h3>
        </div>

        <div class="col-xs-9 tabs">
          <ul class="nav nav-tabs" style="float: left;">
            <!--<li ui-sref-active="active">-->
              <!--<a ui-sref="curation.evidence">Evidence Queues</a>-->
            <!--</li>-->

            <li ui-sref-active="active">
              <a ui-sref="curation.sources">Source Suggestions Queue</a>
            </li>

            <li ui-sref-active="active">
              <a ui-sref="curation.flags">Flagged Entities</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ui-view></ui-view>
    </div>
  </div>

</div>
