<div class="evidenceSummary {{ backgroundColor }}">
  <div class="row">
    <div class="col-xs-12 explanation">
      <p ng-bind-html="evidence.description | linky"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 details">
      <table class="table table-condensed summary-details">
        <colgroup>
          <col width="40%"/>
          <col width="60%"/>
        </colgroup>
        <tr>
          <td class="name" style="line-height: 2em;">Evidence Level:</td>
          <td class="value">
            <span class="levelBadge"
                  ng-class="{'levelA': evidence.evidence_level === 'A', 'levelB': evidence.evidence_level === 'B','levelC': evidence.evidence_level === 'C', 'levelD': evidence.evidence_level === 'D', 'levelE': evidence.evidence_level === 'E' }"
                  tooltip="{{tipText.evidence_level[evidence.evidence_level]}}"
                  tooltip-placement="right">
              {{ evidence.evidence_level_string }}
            </span>
          </td>
        </tr>
        <tr>
          <td class="name">Evidence Type:</td>
          <td class="value">
            <span ng-bind="evidence.evidence_type"
                  tooltip="{{tipText.evidence_type[evidence.evidence_type]}}"
                  tooltip-placement="right">
              evidence type</span>
          </td>
        </tr>
        <tr>
          <td class="name">Evidence Direction:</td>
          <td class="value">
            <span ng-bind="evidence.evidence_direction"
                  tooltip="{{tipText.evidence_direction[evidence.evidence_type][evidence.evidence_direction]}}"
                  tooltip-placement="right">
              evidence.evidence_direction
            </span>
          </td>
        </tr>

        <tr>
          <td class="name">Clinical Significance:</td>
          <td class="value">
            <span ng-bind="evidence.clinical_significance"
                  tooltip="{{tipText.clinical_significance[evidence.clinical_significance]}}"
                  tooltip-placement="right">
              evidence.clinical_significance
            </span>
          </td>
        </tr>

        <tr>
          <td class="name">Variant Origin:</td>
          <td class="value">
            <span ng-bind="evidence.variant_origin"
                  tooltip="{{tipText.variant_origin[evidence.variant_origin]}}"
                  tooltip-placement="right">
              evidence.variant_origin
            </span>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-xs-12 col-md-6 details">
      <table class="table table-condensed summary-details">
        <colgroup>
          <col width="40%"/>
          <col width="60%"/>
        </colgroup>

        <tr>
          <td class="name">Disease:</td>
          <td class="value">
            <a target="_blank" href="{{ evidence.disease.url }}" _target="blank">
              {{ evidence.disease.name }}
            </a>
          </td>
        </tr>
        <tr>
          <td class="name">Drug:</td>
          <td class="value">{{ evidence.drugsStr }}</td>
        </tr>
        <tr ng-show="evidence.drug_interaction_type">
          <td class="name">Drug Interaction:</td>
          <td class="value">{{ evidence.drug_interaction_type }}</td>
        </tr>
        <tr>
          <td class="name">Citation:</td>
          <td class="value">
            <a target="_blank" href="{{ evidence.source_url }}" _target="blank">
              {{ evidence.citation }}
            </a>
          </td>
        </tr>

        <tr>
          <td class="name">Trust Rating:</td>
          <td class="value">
            <rating ng-model="evidence.rating" max="5" readonly="true"
                    tooltip="{{tipText.rating[evidence.rating]}}"
                    tooltip-placement="left">
            </rating>
          </td>
        </tr>
        <tr ng-if="">
          <td colspan="2">Trust Rating:</td>
        </tr>

      </table>
    </div>
  </div>
  <div class="row" ng-if="isEditor() && evidence.status === 'submitted'" style="margin-top: 1em;">
    <div class="col-xs-6">
      <button class="btn btn-default btn-block btn-danger"
              ng-click="rejectItem(evidence.id)">
        Reject Evidence Item
      </button>
    </div>
    <div class="col-xs-6">
      <span tooltip="Contributors may not accept their own submissions."
            tooltip-append-to-body="true"
            tooltip-enable="ownerIsCurrentUser">
      <button class="btn btn-default btn-block btn-success"
              ng-disabled="ownerIsCurrentUser"
              ng-click="acceptItem(evidence.id)">
        Accept Evidence Item
      </button>
        </span>
    </div>
  </div>
  <!--<div class="row">-->
  <!--<div class="col-xs-12">-->
  <!--<pre ng-bind="evidence|json">evidence</pre>-->
  <!--</div>-->
  <!--</div>-->
</div>
