@import 'bower_components/bootstrap/less/mixins.less';
@import 'bower_components/bootstrap/less/variables.less';
@import 'src/app/styles/_civic-variables.less';
@import 'src/app/styles/_mixins.less';

.usersProfile{
  padding-top: @contentPadding;

  .events-block {

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: @contentPadding/2;
        border-radius: @border-radius-base;
        background-color: #EFEFEF;
        padding: @contentPadding/2;
      }
    }
  }
}
