@import 'bower_components/bootstrap/less/mixins.less';
@import 'bower_components/bootstrap/less/variables.less';
@import 'src/app/styles/_civic-variables.less';
@import 'src/app/styles/_mixins.less';

.profile{
  .summary {
    padding-top: @contentPadding;
    padding-bottom: @contentPadding;
    background-color: @civicPurple;
    background-image: url("/assets/images/sub_bg.png");
    background-repeat: no-repeat;
    background-position: 0 -134px;
    border-bottom: 1px solid darken(@civicPurple, 10%);
  }

  .events-block {
    margin-top: @contentPadding;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: @contentPadding/2;
        border-radius: @border-radius-base;
        background-color: #EFEFEF;
        padding: @contentPadding/2;
      }
    }
  }

  .col-headers {
    background-color: #EFEFEF;
  }
}
