<div class="evidenceTable">
  <h3>Evidence Table</h3>
  <div class="table-responsive">
    <table class="table table-condensed table-bordered table-curved evidence-table">
      <colgroup>
        <col width="30%"/>
        <col width="8.5%"/>
        <col width="8.5%"/>
        <col width="8.5%"/>
        <col width="8.5%"/>
        <col width="8.5%"/>
        <col width="8.5%"/>
        <col width="8.5%"/>
      </colgroup>
      <thead>
        <th>
          Explanation
        </th>
        <th>
          Disease
        </th>
        <th>
          Drug
        </th>
        <th>
          Type of Evidence
        </th>
        <th>
          Level
        </th>
        <th>
          Source
        </th>
        <th></th>
      </thead>
      <tbody>
        <tr ng-repeat="row in variant.evidence_items" ng-click="rowClick(row.id)">
          <td>
            {{ row.explanation }}
          </td>
          <td>
            {{ row.disease }}
          </td>
          <td>
            {{ row.evidence_level }}
          </td>
          <td>
            {{ row.evidence_type }}
          </td>
          <td>
            {{ row.level }}
          </td>
          <td>
            {{ row.drug }}
          </td>
          <td>
            <evidence-action-buttons></evidence-action-buttons>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>