@import 'bower_components/bootstrap/less/mixins.less';
@import 'bower_components/bootstrap/less/variables.less';
@import 'src/app/styles/_civic-variables.less';

.evidenceGrid {
  .ui-grid-row {
    cursor: pointer
  }

  .ratingCell {
    text-align:center;
    padding-top:5px;
    color: #666;
  }

  .tooltip-inner {
    text-align: left !important;
  }

  .levelCell {
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
    color: #FFF;
  }

  .levelA {
    background-color: #057abe;
  }

  .levelB {
    background-color: #068ccb;
  }

  .levelC {
    background-color: #219bd2;
  }

  .levelD {
    background-color: #70b2dd;
  }

  .levelE {
    background-color: #abd0ed;
    color: #057abe;
  }

  .levelF {
    background-color: #dee7ee;
    color: #057abe;
  }
}
