<div class="evidenceTable">
  <h3>Evidence</h3>
    <table class="table table-condensed table-curved evidence-table">
      <colgroup>
        <col width="30%"/>
        <col width="8.5%"/>
        <col width="8.5%"/>
        <col width="8.5%"/>
        <col width="8.5%"/>
        <col width="8.5%"/>
        <col width="8.5%"/>
        <col width="8.5%"/>
      </colgroup>
      <thead>
        <th>
          Explanation
        </th>
        <th>
          Disease
        </th>
        <th>
          Evidence Level
        </th>
        <th>
          Evidence Type
        </th>
        <th>
          Drug
        </th>
        <th>
          Source
        </th>
      </thead>
      <tbody>
        <tr ng-repeat="row in variant.evidence_items" ng-click="rowClick(row.id)">
          <td>
            {{ row.explanation }}
          </td>
          <td>
            {{ row.disease }}
          </td>
          <td>
            {{ row.evidence_level }}
          </td>
          <td>
            {{ row.evidence_type }}
          </td>
          <td>
            {{ row.drug}}
          </td>
          <td>
            {{ row.source }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>