<div class="variantTalkChange">
  <div class="row">
    <div class="col-xs-12">
      <h4>Current Record:</h4>
      <p ng-bind-html="variant.description | linky">LOADING VARIANT DESCRIPTION</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Suggested Change #<span ng-bind="suggestedChange.id">ID</span> Diff:</h4>
      <p ng-bind-html="suggestedChange.diffs.description"></p>
    </div>
  </div>
  <div class="row" ng-show="isAdmin() && (suggestedChange.status != 'applied' && suggestedChange.status != 'closed')">
    <div class="col-xs-12">
      <div class="admin-controls">
        <div class="pull-right">
          <!--<button type="button" class="btn btn-warning btn-md" ng-click="rejectChange()">Reject Change</button>-->
          <button type="button" class="btn btn-warning btn-md" ng-click="commitChange()">Commit Change</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>COMMENTS:</h4>
    </div>
  </div>
  <div ng-switch="changeComments.length > 0">
    <div ng-switch-when="false">
      <div class="row">
        <div class="col-xs-12">
          <p>No comments found for Suggested Change #<span ng-bind="suggestedChange.id"></span>.</p>
        </div>
      </div>
    </div>
    <div ng-switch-when="true">
      <div class="row" ng-repeat="comment in changeComments">
        <div class="col-xs-12">
          <!-- TODO: move background-color style to variantTalkCHange.less (doesn't want to match from there for some reason)-->
          <div class="comment-block" style="background-color: #FFF !important;">
            <div class="title">
              <p><strong>Posted by  </strong> <span ng-bind="comment.user.nickname">user.nickname</span> <span ng-bind="comment.created_at | timeAgo">comment.created_at</span></p>
            </div>
            <div class="body">
              <p ng-bind="comment.text">comment.text</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="suggestedChange.status != 'applied' && suggestedChange.status != 'closed'">
    <div class="row">
      <div class="col-xs-12">
        <h4>ADD A COMMENT:</h4>
      </div>
    </div>

    <div class="row">
      <div ng-switch="isAuthenticated()">
        <div ng-switch-when="true">
          <variant-talk-change-add-comment class="col-xs-12"></variant-talk-change-add-comment>
        </div>
        <div ng-switch-when="false">
          <div class="col-xs-12">
            <p>Login to post comments.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
