<div class="variantTalkChangeAddComment">
  <form role="form" novalidate>
    <div class="formInstructions">
      Enter a comment and hit 'Submit Comment':
    </div>

    <div class="row form-messages" ng-show="formStatus.messages.length > 0">
      <div class="col-xs-12">
        <div class="row" ng-repeat="message in formStatus.messages">
          <div class="col-xs-12">
            <p>{{ message }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row form-errors" ng-show="formStatus.errors.length > 0">
      <div class="col-xs-12">
        <p>The requested comment contain the following errors, please correct and resubmit:</p>
        <div class="row" ng-repeat="error in formStatus.errors">
          <div class="col-xs-2">
            <p class="pull-right"><strong>{{ error.field | labelify }}:</strong></p>
          </div>
          <div class="col-xs-10">
            <p>{{ error.errorMsg | arrayToList }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row form-row">
      <div class="col-xs-12">
        <div class="form-group">
          <textarea class="form-control" id="comment" rows="5" ng-model="comment.text"></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="button-row">
          <div class="pull-right">
            <button type="button" class="btn btn-warning btn-md" ng-click="submitComment()">Submit Comment</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
