<div class="notifications">
  <div class="row">
    <div class="col-xs-10">
      <form>
        <p ng-if="vm.notifications.length > 0">
          Showing {{ vm.notifications.length  }} of {{ vm.total }} notifications.
          Fetch up to
          <select ng-model="vm.max"
                  ng-options="option for option in vm.maxOptions"
                  ng-change="vm.fetch()">
          </select>
          notifications.
        </p>
        <p ng-if="vm.notifications.length === 0">
          No notifications.
        </p>
      </form>
    </div>
    <div class="col-xs-2">
      <input type="button" class="btn btn-xs btn-default pull-right" value="Mark All As Seen"
             ng-click="vm.markAllAsRead()"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-lg-3">
      <div class="notification-tabs">
        <ul class="nav nav-pills nav-stacked">
          <li ng-repeat="category in vm.categories" ui-sref-active="active">
            <a ui-sref="{{category.state}}">
              {{ category.name }} <span class="small">({{category.count}})</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-lg-9">
      <ul class="notifications-list">
        <li ng-repeat="notification in vm.notifications">
          <div ng-switch="notification.type">
            <div ng-switch-when="subscribed_event">
              <event-item event="notification" theme="'light'"></event-item>
            </div>
            <div ng-switch-when="mention">
              <mention-item mention="notification" theme="'light'"></mention-item>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
