<div class="civicLogo">
  <a ui-sref="home">
    <div ng-switch on="$root.view.navMode">
      <span ng-switch-when="home">
        <img src="assets/images/CIViC_logo.png" alt="CIViC: Clinical Interpretation of Variations in Cancer" width="375" height="240" class="img-responsive"/>
      </span>
      <span ng-switch-when="sub">
        <img src="assets/images/CIViC_logo_sm.png" alt="CIViC: Clinical Interpretation of Variations in Cancer" width="155" height="76"/>
      </span>
    </div>
  </a>
</div>
