<div class="eventItem"
     ng-click="vm.eventClick(event)"
     ng-class="{ hover: mouseover }"
     ng-mouseover="mouseover=true"
     ng-mouseleave="mouseover=false">
  <div class="user-time">
    <user-block user="event.user"></user-block>
    <span ng-bind="event.timestamp|timeAgo">time ago</span><br/>
  </div>

  <div class="entity">
    <!-- preposition, if necessary -->
    <span ng-switch="event.event_type">
      <span ng-switch-when="commented">&nbsp;commented on</span>
      <span ng-switch-when="submitted">&nbsp;submitted</span>
      <span ng-switch-when="accepted">&nbsp;accepted</span>
      <span ng-switch-when="rejected">&nbsp;rejected</span>
      <span ng-switch-when="change suggested">&nbsp;suggested a revision to</span>
      <span ng-switch-when="change accepted">&nbsp;accepted a revision to</span>
      <span ng-switch-when="change rejected">&nbsp;rejected a revision to</span>
      <span ng-switch-default></span>
    </span>
    <span ng-switch="event.subject_type">
      <span ng-switch-when="genes">
        <span class="subject-type">gene</span>
        <strong>
          <span ng-bind="event.state_params.gene.name">GENE</span>
        </strong>
      </span>
      <span ng-switch-when="variants">
        <span class="subject-type">variant</span>
        <strong>
          <span ng-bind="event.state_params.gene.name">GENE</span> /
          <span ng-bind="event.state_params.variant.name">VARIANT</span>
        </strong>
      </span>
      <span ng-switch-when="variantgroups">
        <span class="subject-type">variant group</span>
        <strong>
          <span ng-bind="event.state_params.variant_group.name">VARIANT GROUP</span>
        </strong>
      </span>
      <span ng-switch-when="evidenceitems">
        <span class="subject-type">evidence item</span>
        <strong>
          <span ng-bind="event.state_params.gene.name">GENE</span> /
          <span ng-bind="event.state_params.variant.name">VARIANT</span> /
          <span ng-bind="event.state_params.evidence_item.name">EVIDENCE ITEM</span>
        </strong>
      </span>
      <span ng-switch-when="suggestedchanges">
        <span class="subject-type">a suggested revision to</span>
        <strong>
          <span ng-bind="event.state_params.gene.name">GENE</span> /
          <span ng-bind="event.state_params.variant.name">VARIANT</span> /
          <span ng-bind="event.state_params.evidence_item.name">EVIDENCE ITEM</span>
        </strong>
      </span>
    </span>
  </div>
</div>
