<div class="eventItem"
     ng-click="vm.eventClick(event)"
     ng-class="{ hover: mouseover }"
     ng-mouseover="mouseover=true"
     ng-mouseleave="mouseover=false">
  <user-block user="event.user"></user-block>
  <!-- preposition, if necessary -->
  <span ng-switch="event.event_type">
    <span ng-switch-when="commented">commented on</span>
    <span ng-switch-when="submitted">submitted</span>
    <span ng-switch-when="change suggested">suggested a revision to</span>
    <span ng-switch-when="change accepted">accepted a revision to</span>
    <span ng-switch-when="change rejected">rejected a revision to</span>
    <span ng-switch-default></span>
  </span>
  <strong>
  <span ng-switch="event.subject_type">
    <span ng-switch-when="genes">
      <span ng-bind="event.state_params.gene.name">GENE</span>
    </span>
    <span ng-switch-when="variants">
      <span ng-bind="event.state_params.gene.name">GENE</span> /
      <span ng-bind="event.state_params.variant.name">VARIANT</span>
    </span>
    <span ng-switch-when="evidenceitems">
      <span ng-bind="event.state_params.gene.name">GENE</span> /
      <span ng-bind="event.state_params.variant.name">VARIANT</span> /
      <span ng-bind="event.state_params.evidence_item.name">EVIDENCE ITEM</span>
    </span>
  </span>
  </strong>

</div>
