<div class="evidenceSelectorItem">
  <div class="row header">
    <div class="col-xs-10 title" >
      <h3>
        <a ng-href="/links/evidence/{{ctrl.item.id}}" target="_self">
          EID{{ ctrl.item.id }}
        </a>
        <span ng-if="ctrl.item.gene != undefined && ctrl.item.variant != undefined">
          <a ng-href="/links/gene/{{ctrl.item.gene.id}}" target="_self">
            <span style="color: #AAA" >GENE</span> {{ ctrl.item.gene.name }}
          </a>
          <a ng-href="/links/variant/{{ctrl.item.variant.id}}" target="_self">
            <span style="color: #AAA" >VARIANT</span> {{ ctrl.item.variant.name }}
          </a>
        </span>
      </h3>
    </div>
    <div class="col-xs-2 actions" ng-if="ctrl.removeItem !== undefined">
      <button ng-click="ctrl.removeItem(ctrl.item)" class="btn btn-xs btn-cell-remove">
        <i class="glyphicon glyphicon-minus"></i>
      </button>
    </div>
  </div>
  <div class="row summary">
    <div class="col-xs-12 explanation">
      <p ng-bind-html="ctrl.item.description | linky"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 details">
      <table class="table table-condensed summary-details">
        <colgroup>
          <col width="40%" />
          <col width="60%" />
        </colgroup>
        <tr>
          <td class="name" style="line-height: 2em;">Evidence Level:</td>
          <td class="value">
            <span class="levelBadge" ng-class="{'levelA': ctrl.item.evidence_level === 'A', 'levelB': ctrl.item.evidence_level === 'B','levelC': ctrl.item.evidence_level === 'C', 'levelD': ctrl.item.evidence_level === 'D', 'levelE': ctrl.item.evidence_level === 'E' }" uib-tooltip="{{tipText.evidence_level[ctrl.item.evidence_level]}}" tooltip-placement="right" class="help-tooltip">
              {{ ctrl.item.evidence_level_string }}
            </span>
          </td>
        </tr>
        <tr>
          <td class="name">Evidence Type:</td>
          <td class="value">
            <span ng-bind="ctrl.item.evidence_type" uib-tooltip="{{tipText.evidence_type[ctrl.item.evidence_type]}}" tooltip-placement="right" class="help-tooltip">
              evidence type</span>
          </td>
        </tr>
        <tr>
          <td class="name">Evidence Direction:</td>
          <td class="value">
            <span ng-bind="ctrl.item.evidence_direction" uib-tooltip="{{tipText.evidence_direction[ctrl.item.evidence_type][ctrl.item.evidence_direction]}}" tooltip-placement="right" class="help-tooltip">
              ctrl.item.evidence_direction
            </span>
          </td>
        </tr>

        <tr>
          <td class="name">Clinical Significance:</td>
          <td class="value">
            <span ng-bind="ctrl.item.clinical_significance" uib-tooltip="{{tipText.clinical_significance[ctrl.item.evidence_type][ctrl.item.clinical_significance]}}" tooltip-placement="right" class="help-tooltip" class="help-tooltip">
              ctrl.item.clinical_significance
            </span>
          </td>
        </tr>

        <tr>
          <td class="name">Variant Origin:</td>
          <td class="value">
            <span ng-bind="ctrl.item.variant_origin" uib-tooltip="{{tipText.variant_origin[ctrl.item.variant_origin]}}" tooltip-placement="right" class="help-tooltip">
              ctrl.item.variant_origin
            </span>
          </td>
        </tr>
        <tr ng-if="ctrl.item.evidence_type == 'Predictive'">
          <td class="name">Drug:</td>
          <td class="value">
            {{ ctrl.item.drugsStr }}<span ng-if="ctrl.item.drug_interaction_type">&nbsp;({{ ctrl.item.drug_interaction_type }})</span>
          </td>
        </tr>
        <tr ng-if="ctrl.item.assertions.length > 0">
          <td class="name" style="padding-top: 5px;padding-bottom: 0;">
            Supports Assertions:
          </td>
          <td class="value assertions">
            <assertion-tag ng-repeat="assertion in ctrl.item.assertions | orderBy:'id'" ng-show="assertion.status !== 'rejected' || showAll === true" assertion="assertion">
            </assertion-tag>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-xs-12 col-md-6 details">
      <table class="table table-condensed summary-details">
        <colgroup>
          <col width="40%" />
          <col width="60%" />
        </colgroup>

        <tr>
          <td class="name">Disease:</td>
          <td class="value">
            <a target="_blank" href="{{ ctrl.item.disease.url }}" _target="blank">
              {{ ctrl.item.disease.name }}
            </a>
          </td>
        </tr>
        <tr>
          <td class="name">Associated Phenotype{{ ctrl.item.phenotypes.length > 1 ? 's' : '' }}:</td>
          <td class="value" ng-bind-html="ctrl.item.phenotypesStr"></td>
        </tr>
        <tr>
          <td class="name">Citation:</td>
          <td class="value">
            <a ui-sref="sources.summary({sourceId: ctrl.item.source.id })">
              {{ ctrl.item.source.citation }}
            </a>
          </td>
        </tr>
        <tr>
          <td class="name">Source:</td>
          <td class="value">
            <a ui-sref="sources.summary({sourceId: crtl.item.source.id })">
              {{ ctrl.item.source.citation }}
            </a>
          </td>
        </tr>
        <tr>
          <td class="name">
            <span ng-switch="ctrl.item.source.source_type">
              <span ng-switch-when="PubMed">
                PubMed ID:
              </span>
              <span ng-switch-when="ASCO">
                ASCO ID:
              </span>
            </span>
          </td>
          <td class="value">
            <a ng-href="{{ctrl.item.source.source_url}}"
              class="btn btn-xs button-new-window"
              target="_blank">
              <span class="glyphicon glyphicon-new-window"></span>
              <span ng-bind="ctrl.item.source.citation_id"></span>
            </a>
          </td>
        </tr>
        <tr ng-if="ctrl.item.source.clinical_trials.length > 0">
          <td class="name">Clinical Trial<span ng-if="ctrl.item.source.clinical_trials.length > 1">s</span>:</td>
          <td class="value">
            <span ng-repeat="trial in ctrl.item.source.clinical_trials">
              {{
              $first ? '' : $last ? (
              ctrl.item.source.clinical_trials.length > 2 ? ' and ' : ' and '
              ) : ' '
              }}
              <a ng-href="{{trial.clinical_trial_url}}"
                class="btn btn-xs button-new-window" style="margin-bottom: 4px;"
                target="_blank">
                <span class="glyphicon glyphicon-new-window"></span>
            <span ng-bind="trial.nct_id"></span>
            </a>
            </span>
          </td>
        </tr>
        <tr>
          <td class="name">Evidence Rating:</td>
          <td class="value">
            <span uib-rating ng-model="ctrl.item.rating" max="5" read-only="true" uib-tooltip="{{tipText.rating[ctrl.item.rating]}}" tooltip-placement="left" class="help-tooltip">
            </span>
          </td>
        </tr>
        <tr ng-if="">
          <td colspan="2">Evidence Rating:</td>
        </tr>

      </table>
    </div>
  </div>
</div>
