<div class="headerSearch" ng-show="$root.view.navMode == 'home'">
  <quick-search class="col-xs-5 col-md-12"></quick-search>
  <div class="col-xs-7 col-md-12">
    <div class="row button-row">
      <div ng-class="{'col-xs-3': vm.isAuthenticated(), 'col-xs-4': !vm.isAuthenticated()}">
        <a type="button"
           class="btn btn-sm btn-default btn-block btn-subhead-default"
           ng-disabled="$state.includes('browse')"
           ui-sref="browse.variants">Browse</a>
      </div>
      <div ng-class="{'col-xs-3': vm.isAuthenticated(), 'col-xs-4': !vm.isAuthenticated()}">
        <a type="button"
           class="btn btn-default btn-sm btn-block btn-subhead-default"
           ng-disabled="$state.includes('search')"
           ui-sref="search.evidence">Search</a>
      </div>
      <div ng-class="{'col-xs-3': vm.isAuthenticated(), 'col-xs-4': !vm.isAuthenticated()}">
        <a type="button"
           class="btn btn-default btn-sm btn-block btn-subhead-default"
           ng-disabled="$state.includes('activity')"
           ui-sref="activity">Activity</a>
      </div>
      <div ng-if="vm.isAuthenticated()"
           ng-class="{'col-xs-3': vm.isAuthenticated(), 'col-xs-4': !vm.isAuthenticated()}">
        <span uib-dropdown>
          <a href type="button"
            class="btn btn-default btn-sm btn-block btn-subhead-default"
            id="add-dropdown"
            uib-dropdown-toggle>
            Add&nbsp;&nbsp;<span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu" uib-dropdown-menu aria-labelledby="add-dropdown">
            <li role="menuitem">
              <a ui-sref="add.evidence.basic">Add Evidence Item</a>
            </li>
            <li role="menuitem">
              <a ui-sref="add.assertion">Add Assertion</a>
            </li>
            <li role="menuitem">
              <a ui-sref="suggest.source">Add Source Suggestion</a>
            </li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</div>
