<div class="loginToolbar">
  <div class="login-toolbar-lg hidden-xs hidden-sm">
    <div ng-show="isAuthenticated()" class="user-controls">
      <div class="btn-group" dropdown>
        <button
          type="button"
          class="btn btn-xs btn-info"
          ui-sref="users.profile({userId: currentUser.id})">
          {{ currentUser.display_name }}
        </button>
        <button type="button" class="btn btn-xs btn-info dropdown-toggle" dropdown-toggle>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a class="small" ng-click="logout(currentUrl)">Sign Out</a></li>
          <li ng-if="isEditor()" class="divider"></li>
          <li ng-if="isEditor()"><a class="small" ng-href="{{adminUrl}}" target="_blank">Admin Console</a></li>
        </ul>
      </div>
    </div>

    <div ng-hide="isAuthenticated()" class="viewer-controls">
      <button class="btn btn-xs btn-login" ng-click="login()">Sign In/Sign Up</button>
    </div>
  </div>

  <div class="login-toolbar-sm hidden-md hidden-lg">
    <div ng-show="isAuthenticated()" class="user-controls">
      <div class="btn-group" dropdown>
        <button
          type="button"
          class="btn btn-xs btn-info"
          ui-sref="users.profile({userId: currentUser.id})">
          {{ currentUser.name ?  currentUser.name : currentUser.nickname }}
        </button>
        <button type="button" class="btn btn-xs btn-info dropdown-toggle" dropdown-toggle>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a ng-click="logout(currentUrl)">Sign Out</a></li>
          <li ng-if="isEditor()" class="divider"></li>
          <li ng-if="isEditor()"><a class="small" ng-href="{{adminUrl}}" target="_blank">Admin Console</a></li>
        </ul>
      </div>
    </div>

    <div ng-hide="isAuthenticated()" class="viewer-controls">
      <button class="btn btn-xs btn-login" ng-click="login()">Sign In/Sign Up</button>
      <!--<button class="btn btn-xs btn-create-account" ng-click="createAccount()">Create Account</button>-->
    </div>
  </div>
</div>
