<div class="mentionItem"
     ng-click="vm.eventClick(mention.event)"
     ng-class="{ hover: mouseover, dark: theme === 'dark', light: theme === 'light', unseen: vm.seen === false }"
     ng-mouseover="mouseover=true"
     ng-mouseleave="mouseover=false">
  <div class="user-time">
    <user-block user="mention.originating_user"></user-block>&nbsp;mentioned you <span ng-bind="mention.created_at|timeAgo">time ago</span><br/>
  </div>

  <div class="entity">
    <!-- preposition, if necessary -->
    in a comment on
    <span ng-switch="mention.event.subject_type">
      <span ng-switch-when="genes">
        <span class="subject-type">gene</span>
      </span>
      <span ng-switch-when="variants">
        <span class="subject-type">variant</span>
      </span>
      <span ng-switch-when="variantgroups">
        <span class="subject-type">variant group</span>
      </span>
      <span ng-switch-when="evidenceitems">
        <span class="subject-type">evidence item</span>
      </span>
      <span ng-switch-when="suggestedchanges">
        <span class="subject-type">a suggested revision to</span>
      </span>
    </span>
    <strong>
      <span ng-bind="vm.entityName">GENE / VARIANT / EVIDENCE</span>
    </strong>
  </div>
</div>


