<div class="subheader" ng-hide="$root.view.navMode == 'home'">
  <div class="container-fluid">
    <div class="subheader-bg">
      <div class="row">
        <div class="col-xs-3 subhead-input">
          <quick-search></quick-search>
        </div>

        <div class="col-xs-2 subhead-btn">
          <a type="button"
             class="btn btn-sm btn-default btn-block btn-subhead-default"
             ng-disabled="$state.includes('browse')"
             ui-sref="browse.variants">Browse</a>
        </div>

        <div class="col-xs-2 subhead-btn">
          <a type="button"
             class="btn btn-default btn-sm btn-block btn-subhead-default"
             ng-disabled="$state.includes('search')"
             ui-sref="search.evidence">Search</a>
        </div>

        <div class="col-xs-2 subhead-btn">
          <a type="button"
             class="btn btn-default btn-sm btn-block btn-subhead-default"
             ng-disabled="$state.includes('activity')"
             ui-sref="activity">Activity</a>
        </div>
        <div class="col-xs-3">

          <div class="row">
            <div class="col-xs-6 subhead-btn">
              <div ng-switch="isAuthenticated()">
                <div ng-switch-when="false">
              <span tooltip="Please sign in to add Evidence" tooltip-append-to-body="true">
                <a type="button"
                   class="btn btn-sm btn-subhead-add btn-block disabled">
                  Add
                </a>
              </span>
                </div>
                <div ng-switch-when="true">
                  <a type="button"
                     class="btn btn-sm btn-subhead-add btn-block"
                     ng-disabled="$state.includes('add.evidence')"
                     ng-href="{{ addEvidenceUrl }}">
                    Add
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-6 subhead-btn">
              <div ng-switch="isAuthenticated()">
                <div ng-switch-when="false">
              <span tooltip="Please sign in to Suggest a Source" tooltip-append-to-body="true">
                <a type="button"
                   class="btn btn-sm btn-subhead-suggest btn-block disabled">
                  Suggest
                </a>
              </span>
                </div>
                <div ng-switch-when="true">
                  <a type="button"
                     class="btn btn-sm btn-subhead-suggest btn-block"
                     ng-disabled="$state.includes('suggest.source')"
                     ui-sref="suggest.source">
                    Suggest
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div> <!-- /.row -->
    </div> <!-- /.subheader-bg -->
  </div>
</div>
