@import 'bower_components/bootstrap/less/mixins.less';
@import 'bower_components/bootstrap/less/variables.less';
@import 'src/app/styles/_civic-variables.less';
@import 'src/app/styles/_mixins.less';

@curatorColor: #91A0A9;
@editorColor: #616EB2;
@adminColor: #08B1E6;

.userCard {
  .clearfix();
  cursor: pointer;
  border-radius: @border-radius-large;
  background-color: #EFEFEF;
  display: block;
  min-height: 225px;
  overflow: hidden;
  padding: 0 @contentPadding/2;

  // borders
  border-width: 2px 2px 4px 2px;
  border-style: solid;

  &.curator {
    border-color: @curatorColor;
  }
  &.editor {
    border-color: @editorColor;
  }
  &.admin {
    border-color: @adminColor;
  }

  .avatar {
    width: 64px;
    height: 64px;
    margin: @contentPadding/2 auto;
    border-radius: @border-radius-small;
    border: 1px solid #CCC;
    overflow: hidden;
  }

  .info {
    text-align: center;
    .display-name {
      font-weight: bold;
      font-size: large;
    }
    .role {
      font-style: oblique;
      &.curator {
        color: @curatorColor;
      }
      &.editor {
        color: @editorColor;
      }
      &.admin {
        color: @adminColor;
      }
    }
    .last-seen-title {
      font-weight: bold;
    }
    .last-seen {

    }
  }
}
