<div class="userCard"
  ng-class="vm.user.role">
  <div class="row" >
    <div class="col-xs-6">
      <div class="user-avatar" ng-click="vm.userClick(vm.user.id)">
        <div class="avatar-bg" ng-class="vm.user.role">
          <img ng-src="{{vm.user.avatars.x128}}" class="img-responsive"/>
        </div>
        <span ng-bind="vm.user.username" class="card-name" ng-class="vm.user.role"></span>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="user-attributes" >

        <ul>
          <li class="attr-key" >
            Name
          </li>
          <li class="attr-value" >
            <span ng-bind="vm.user.name"></span>
          </li>


          <li class="attr-key" >
            Role
          </li>
          <li class="attr-value" >
            <span ng-bind="vm.user.role | capitalize"></span>
          </li>

          <li class="attr-key" >
            Expertise
          </li>
          <li class="attr-value" >
            <span ng-bind="vm.user.area_of_expertise | ifEmpty: '--'"></span>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" >
      <div class="secondary-user-attributes">
        <ul>
          <li class="attr-key" >
            <span ng-if="vm.user.organizations.length > 1">Most Recent </span>Organization
            <i class="glyphicon glyphicon-info-sign"
              ng-if="vm.user.organizations.length > 1"
              uib-tooltip="{{vm.multiple_orgs_tooltip}}">
            </i>
          </li>
          <li class="attr-value">
            <span ng-switch="vm.user.organizations.length > 0">
              <span ng-switch-when="true">
                <span uib-tooltip="at {{vm.user.most_recent_organization.parent.name}}"
                  tooltip-append-to-body="true"
                  tooltip-enable="vm.user.most_recent_organization.parent.name != undefined">
                  <organization-block organization="vm.user.most_recent_organization"></organization-block>
                </span>
              </span>
              <span ng-switch-when="false">
                <i class="text-muted">No organization specified.</i>
              </span>
            </span>
          </li>
          <li class="attr-key" >
            ORCID iD
          </li>
          <li class="attr-value" >
            <span ng-switch="vm.user.orcid.length > 0">
              <span ng-switch-when="true" >
                <a ng-href="https://orcid.org/{{vm.user.orcid}}" target="_blank">{{ vm.user.orcid }}</a>
              </span>
              <span ng-switch-default>
                --
              </span>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row" ng-if="vm.user.community_params != undefined">
    <div class="col-xs-4" >
      <div class="secondary-user-attributes attr-left">
        <ul>
          <li class="attr-key" >
            Actions
          </li>
          <li class="attr-value" >
            <span ng-bind="vm.user.community_params.action_count | ifEmpty: '--'"></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-8" ng-if="vm.user.community_params.most_recent_action_timestamp !== null">
      <div class="secondary-user-attributes attr-right">
        <ul>
          <li class="attr-key" >
            Last Action
          </li>
          <li class="attr-value" >
            <span ng-bind="vm.user.community_params.most_recent_action_timestamp | timeAgo"></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-8" ng-if="vm.user.community_params.most_recent_action_timestamp === null">
      <div class="secondary-user-attributes attr-right">
        <ul>
          <li class="attr-key" >
            Join Date
          </li>
          <li class="attr-value" >
            <span ng-bind="vm.user.created_at | timeAgo"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="social-media-buttons">
        <div class="social-icons">
          <div ng-if="vm.hasSocialProfile" class="social-icons">
            <span ng-show="vm.user.url.length > 0">
              <a ng-href="https://{{vm.user.url}}"
                target="_blank"
                uib-tooltip="Personal Website"><img src="assets/images/social_icons/link-ico.png" width="24" height="24"/></a>
            </span>
            <span ng-show="vm.user.twitter_handle.length > 0">
              <a ng-href="https://twitter.com/{{vm.user.twitter_handle}}"
                target="_blank"
                uib-tooltip="Twitter Account">
                <img src="assets/images/social_icons/twitter-ico.png" width="24" height="24"/>
              </a>
            </span>
            <span ng-show="vm.user.linkedin_profile.length > 0">
              <a ng-href="https://linkedin.com/in/{{vm.user.linkedin_profile}}"
                target="_blank"
                uib-tooltip="LinkedIn Account">
                <img src="assets/images/social_icons/linkedin-ico.png" width="24" height="24"/>
              </a>
            </span>
            <span ng-show="vm.user.facebook_profile.length > 0">
              <a ng-href="https://facebook.com/{{vm.user.facebook_profile}}"
                target="_blank"
                uib-tooltip="Facebook Account">
                <img src="assets/images/social_icons/facebook-ico.png" width="24" height="24"/>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
