@import 'bower_components/bootstrap/less/mixins.less';
@import 'bower_components/bootstrap/less/variables.less';
@import 'src/app/styles/_civic-variables.less';
@import 'src/app/styles/_mixins.less';

.userCard {
  .clearfix();
  cursor: pointer;
  border-radius: @border-radius-large;
  border: 1px solid #AAA;
  background-color: #EFEFEF;
  display: block;
  min-height: 175px;
  overflow: hidden;
  margin-bottom: @contentPadding;
  padding: 0 @contentPadding/2;

  .avatar {
    width: 64px;
    height: 64px;
    margin: @contentPadding/2 auto;
    border-radius: @border-radius-small;
    border: 1px solid #CCC;
    overflow: hidden;
  }

  .info {
    text-align: center;
    .display-name {
      font-weight: bold;
      font-size: large;
    }
    .role {
      font-style: oblique;
    }
    .last-seen-title {
      font-weight: bold;
    }
    .last-seen {

    }
  }
}
