<div class="variantGroupEditBasic {{ vm.styles.edit.editBackgroundColor }}">
  <div class="row" ng-if="vm.showInstructions">
    <div class="col-xs-12">
      <div class="edit-instructions">
        <p>Complete your edits, then click the 'Submit Revision for Review' button. </p>
      </div>
    </div>
  </div>
  <div class="row" ng-if="vm.pendingFields">
    <div class="col-xs-12">
      <div class="edit-warning">
        <p>This Variant has pending revisions to the following fields:</p>
        <ul class="field-list">
          <li ng-repeat="field in vm.pendingFieldsList">
            {{ field | keyToLabel }}
          </li>
        </ul>
        <p>Please <a href="" ng-click="vm.revisionsClick()" style="text-decoration: underline; font-weight: bold;">review all pending revisions</a> in order to prevent conflicting submissions.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div ng-messages="vm.formErrors" class="edit-errors">
        <div ng-message="500"><div uib-alert type="danger">
          <strong class="status">500 <span ng-bind="vm.errorMessages['500']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['500']">error prompt</span>
          <span class="server-message">{{ vm.serverMsg }}</span>
        </div></div>
        <div ng-message="401"><div uib-alert type="danger">
          <strong class="status">401 <span ng-bind="vm.errorMessages['401']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['401']">error prompt</span>
          <span class="server-message">{{ vm.serverMsg }}</span>
        </div></div>
        <div ng-message="403"><div uib-alert type="danger">
          <strong class="status">403 <span ng-bind="vm.errorMessages['403']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['403']">error prompt</span>
          <span class="server-message">{{ vm.serverMsg }}</span>
        </div></div>
        <div ng-message="409"><div uib-alert type="danger">
          <strong class="status">409 <span ng-bind="vm.errorMessages['409']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['409']">error prompt</span>
          <span class="server-message">{{ vm.serverMsg }}</span>
        </div></div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-xs-12">
      <div ng-messages="vm.formMessages" class="edit-messages">
        <div ng-message="submitSuccess"><div uib-alert type="success">
          <strong class="status">Success</strong> - <span class="message">Your revision was successfully submitted.</span>
        </div></div>
        <div ng-message="applySuccess"><div uib-alert type="success">
          <strong class="status">Success</strong> - <span class="message">Your revision was successfully applied.</span>
        </div></div>
      </div>
    </div>
  </div>
  <div ng-if="vm.showForm">
    <div class="row edit-form">
      <div class="col-xs-12">
        <form class="form-horizontal">
          <formly-form options="vm.options" model="vm.variantGroupEdit" fields="vm.variantGroupFields">

          </formly-form>
        </form>
      </div>
    </div>
    <div class="row buttons">
      <div class="col-xs-5 col-xs-offset-2">
        <div class="buttons">
          <div class="pull-left">
            <cancel-button></cancel-button>
          </div>
          <div class="pull-right">
            <span ng-if="vm.isAuthenticated">
            <button type="submit" class="btn btn-default" ng-click="vm.submit(vm.variantGroupEdit, vm.options)">Submit Revision for Review</button>
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="successMessage" ng-if="vm.showSuccessMessage">
    <div class="col-xs-12 jumbotron">
      <h1>Thank you.</h1>
      <p>Your suggested revision for Variant Group {{ vm.variantGroup.name }} has been submitted for review.</p>
      <p> <a ng-href="/events/genes/{{vm.stateParams.geneId}}/summary/variantGroups/{{vm.stateParams.variantGroupId}}/talk/revisions/list/{{vm.newRevisionId}}/summary" class="btn btn-small btn-default">View it here</a></p>
    </div>
  </div>
  <!--<div class="row" style="margin-top: 16px;">-->
  <!--<div class="col-xs-12">-->
  <!--<pre ng-bind="vm.variantGroupEdit|json"></pre>-->
  <!--</div>-->
  <!--</div>-->
</div>
