<div class="geneSummary">
  <div class="row {{ ctrl.backgroundColor }}">
    <div class="col-xs-6">
      <gene-description gene-data="geneModel.data.entity"></gene-description>
      <div class="row">
        <div class="col-xs-12">
          <form>
            <p>
              (geneSummary.tpl.html) GENE NAME:
            </p>
            <p>
              <input type="text" ng-model="ctrl.gene.name"/>
            </p>
            <p>
              GENE DESCRIPTION:
            </p>
            <p>
              <textarea ng-model="ctrl.gene.description">

              </textarea>
            </p>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <my-gene-info gene-info="geneModel.data.myGeneInfo"></my-gene-info>
    </div>
  </div>
  <div ng-if="ctrl.showMenu === true">
    <div class="row">
      <div class="col-xs-2">
        <variant-menu
          gene="geneModel.data.entity"
          variants="geneModel.data.variants"
          variant-groups="geneModel.data.variantGroups"
          options="ctrl.variantMenuOptions"></variant-menu>
      </div>
      <div class="col-xs-10 variant-view">
        <ui-view>
          <div class="view-corner"><div class="corner-edge"></div></div>
        </ui-view>
      </div>
    </div>
  </div>
</div>
