<div class="geneDescription">
  <!-- ctrl inherited from GeneSummaryController -->
  <div class="row">
    <div class="col-xs-12">
      <div ng-switch="geneData.description.length > 0">
        <div ng-switch-when="true">
          <p ng-bind="geneData.description" class="description">
            Gene Summary.
          </p>
        </div>
        <div ng-switch-default="false">
          <!-- check for provisional description -->
          <div ng-switch="geneData.provisional_values.description || '_undefined_'">
            <div ng-switch-when="_undefined_">
              <p class="description">
                This Gene does not currently have a Summary.
              </p>
              <div ng-if="vm.isAuthenticated() && !vm.isEdit">
                <p>
                  <a class="btn btn-small btn-default" ui-sref="events.genes.edit.basic({ geneId: geneData.id })">Add a Summary</a>
                </p>
              </div>
            </div>
            <div ng-switch-default>
              <p>
                <div class="label label-warning" style="display:block;">CAUTION: This is a provisional description from a Suggested Change not yet accepted by an Editor.</div>
              </p>
              <p ng-bind="geneData.provisional_values.description.value" class="description">
                Gene Provisional Summary
              </p>
              <p>
                <a ng-href="/events/genes/{{geneData.id}}/talk/revisions/list/{{geneData.provisional_values.description.revision_id}}/summary" class="btn btn-default btn-block btn-xs">View This Description's Suggested Change</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <div ng-if="geneData.sources.length > 0">
        <h5>Sources:</h5>
        <ul class="sources">
          <li ng-repeat="source in geneData.sources">
            <a ui-sref="sources.summary({sourceId:source.id})"><span class="small" ng-bind="source.citation"></span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-4">
        <a class="btn btn-block button-dgidb btn-xs" ng-href="http://dgidb.org/genes/{{geneData.name}}" target="_blank" style="margin-top: 8px;">
          <span class="glyphicon glyphicon-new-window"></span>&nbsp;DGIdb Details
        </a>
        <a class="btn btn-block button-proteinpaint btn-xs" ng-href="https://pecan.stjude.cloud/proteinpaint/{{geneData.name}}/hg19/civic" target="_blank" style="margin-top: 8px;">
          <span class="glyphicon glyphicon-new-window"></span>&nbsp;ProteinPaint Details
        </a>
    </div>
  </div>
</div>
