<div class="geneSummary">
  <div class="row {{ backgroundColor }}">
    <div class="col-xs-12 col-md-6">
      <gene-description gene-data="gene"></gene-description>
    </div>
    <div class="col-xs-12 col-md-6">
      <my-gene-info gene-info="myGeneInfo"></my-gene-info>
      <a class="btn btn-block btn-default" ng-href="http://dgidb.org/genes/{{gene.name}}" target="_blank" style="margin-top: 8px;">
        View DGIdb Gene Details
      </a>
    </div>
  </div>
  <div ng-if="showMenu === true">
    <div class="row">
      <div class="col-xs-12">
        <variant-menu options="GenesViewOptions.styles.variantMenu"></variant-menu>
      </div>
    </div>
    <div class="row" >
      <div class="col-xs-12 variant-view">
        <ui-view>
          <div class="alert alert-info" class="select-prompt">
            &#8673; Select a <strong>Variant</strong> <span ng-if="variantGroups.length > 0"> or <strong>Variant Group</strong></span> to view its details.
          </div>
        </ui-view>
      </div>
    </div>
  </div>

</div>
