<div class="variantMenu {{ options.backgroundColor }}">
  <h4 class="title"><span ng-bind="gene.name"></span></h4>
  <ul class="variants">
    <li ng-repeat="variant in variants">
      <a ui-sref="events.genes.summary.variants.summary({ geneId: gene.id, variantId: variant.id })"
         ng-class="{ active: variant.id == stateParams.variantId }">
        <span ng-bind="variant.name">Variant Name</span>
      </a>
    </li>
  </ul>
  <div ng-if="variantGroups.length > 0">
    <h4 class="title">Variant Groups</h4>
    <ul class="variant-groups">
      <li ng-repeat="variantGroup in variantGroups">
        <a class="sub-title"
           ng-class="{ active: variantGroup.id == stateParams.variantGroupId }"
           ui-sref="events.genes.summary.variantGroups.summary({geneId: gene.id, variantGroupId: variantGroup.id})">
          <span ng-bind="variantGroup.name">Variant Group Name</span>
        </a>
        <ul class="variants">
          <li ng-repeat="variant in variantGroup.variants">
            <a ui-sref="events.genes.summary.variants.summary({ geneId: variant.gene_id, variantId: variant.id })"
               ng-class="{ active: variant.id == stateParams.variantId }">
              <div ng-switch="variantGroup.singleGene === true">
                <div ng-switch-when="true">
                  <span ng-bind="variant.name" class="variant-name">Variant Name</span>
                </div>
                <div ng-switch-when="false">
                  <span ng-bind="variant.name" class="variant-name">Variant Name</span><br/>
                  <span class="small gene-name">(<span ng-bind="variant.entrez_name"></span>)</span>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
