<div class="variantMenu {{ options.backgroundColor }}">
  <h4 class="title"><span ng-bind="gene.name"></span></h4>
  <ul class="variants">
    <li ng-repeat="variant in variants">
      <a ui-sref="events.genes.summary.variants.summary({ geneId: gene.id, variantId: variant.id })"
         ng-class="{ active: variant.id == stateParams.variantId }">
        <span ng-bind="variant.name">Variant Name</span>
      </a>
    </li>
  </ul>
  <div ng-if="variantGroups.length > 0">
    <h4 class="title">Variant Groups</h4>
  </div>
  <ul class="variant-groups" ng-if="variantGroups.length > 0">
    <li ng-repeat="variantGroup in variantGroups">
      <a class="sub-title"
         ng-class="{ active: variantGroup.id == stateParams.variantGroupId }"
         ui-sref="events.genes.summary.variantGroups.summary({ geneId: gene.id, variantGroupId: variantGroup.id })">
        <span ng-bind="variantGroup.name">Variant Group Name</span>
      </a>
      <ul class="variants">
        <li ng-repeat="variant in variantGroup.variants">
          <a
             ui-sref="events.genes.summary.variants.summary({ geneId: variant.gene_id, variantId: variant.id })"
             ng-class="{ active: variant.id == stateParams.variantId }">
            <span ng-bind="variant.name" class="variant-name">Variant Name</span>
            <div ng-hide="variantGroup.singleGene">
              <span class="small gene-name">(<span ng-bind="variant.entrez_name"></span>)</span>
            </div>
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <button
    ui-sref="events.genes.summary.addVariantGroup"
    class="btn btn-xs btn-default btn-block">
    Add Variant Group
  </button>
</div>
