<div class="evidenceEditBasic {{ vm.styles.edit.editBackgroundColor }}" id="evidence-edit-basic">
  <div class="row form-header" id="evidence-edit-form">
    <div class="stripes-bg">
      <div class="col-xs-12 name">
        <h3>EDIT EVIDENCE ITEM <span ng-bind="vm.evidence.name">NAME</span></h3>
      </div>
    </div>
  </div>
  <div class="row" ng-if="vm.showInstructions">
    <div class="col-xs-12">
      <div class="edit-instructions">
        <p>Complete your edits, then click the 'Submit Revision for Review' button.</p>
      </div>
    </div>
  </div>
  <div class="row" ng-if="vm.pendingFields">
    <div class="col-xs-12">
      <div class="edit-warning">
        <p>This Evidence Item has pending revisions to the following fields:</p>
        <ul class="field-list">
          <li ng-repeat="field in vm.pendingFieldsList">
            {{ field | keyToLabel }}
          </li>
        </ul>
        <p>Please <a href="" ng-click="vm.revisionsClick()" style="text-decoration: underline; font-weight: bold;">review all pending revisions</a> in order to prevent conflicting submissions.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div ng-messages="vm.formErrors" class="edit-errors">
        <div ng-message="500"><div class="alert alert-danger">
          <strong class="status">500 <span ng-bind="vm.errorMessages['500']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['500']">error prompt</span>
          <span class="server-message">{{ vm.serverMsg }}</span>
        </div></div>
        <div ng-message="401"><div class="alert alert-danger">
          <strong class="status">401 <span ng-bind="vm.errorMessages['401']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['401']">error prompt</span>
          <span class="server-message">{{ vm.serverMsg }}</span>
        </div></div>
        <div ng-message="403"><div class="alert alert-danger">
          <strong class="status">403 <span ng-bind="vm.errorMessages['403']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['403']">error prompt</span>
          <span class="server-message">{{ vm.serverMsg }}</span>
        </div></div>
        <div ng-message="409"><div class="alert alert-danger">
          <strong class="status">409 <span ng-bind="vm.errorMessages['409']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['409']">error prompt</span>
          <span class="server-message">{{ vm.serverMsg }}</span>
        </div></div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-xs-12">
      <div ng-messages="vm.formMessages" class="edit-messages">
        <div ng-message="submitSuccess"><div class="alert alert-success">
          <strong class="status">Success</strong> - <span class="message">Your revision was successfully submitted.</span>
        </div></div>
        <div ng-message="applySuccess"><div class="alert alert-success">
          <strong class="status">Success</strong> - <span class="message">Your revision was successfully applied.</span>
        </div></div>
      </div>
    </div>
  </div>
  <div ng-if="vm.showForm">
    <div class="row edit-form">
      <div class="col-xs-12">
        <form class="form-horizontal" name="vm.form" novalidate>
          <formly-form options="vm.options" model="vm.evidenceEdit" fields="vm.evidenceFields">

          </formly-form>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5 col-xs-offset-2">
        <div class="buttons">
          <div class="pull-left">
            <cancel-button></cancel-button>
          </div>
          <div class="pull-right">
            <!-- show org-select button if user is member of > 1 orgs -->
            <span ng-switch="vm.currentUser.organizations.length > 1" >
              <span ng-switch-when="true" >
                <div class="btn-group org-select" uib-dropdown>
                  <button id="split-button"
                    type="button"
                    class="btn btn-default"
                    ng-click="vm.submit(vm.evidenceEdit, vm.options)"
                    ng-disabled="vm.form.$invalid || vm.isAuthenticated === false">
                    Submit Revision
                  </button>

                  <button type="button" class="btn btn-default" uib-dropdown-toggle
                    ng-disabled="vm.form.$invalid || vm.isAuthenticated === false">
                    for
                    <span class="avatar"
                      uib-tooltip="{{vm.evidenceEdit.organization.name}}"
                      tooltip-enable="!(vm.form.$invalid || vm.isAuthenticated === false)">
                      <img ng-src="{{vm.evidenceEdit.organization.profile_image.x14}}" width="14" height="14"/>
                    </span>&nbsp;&nbsp;<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li role="menuitem" ng-repeat="org in vm.currentUser.organizations">
                      <a href ng-click="vm.switchOrg(org.id)">
                        <span class="glyphicon glyphicon-ok" style="margin-left: -12px"
                          ng-class="{'glyphicon-hide': org.id !== vm.evidenceEdit.organization.id}"></span>
                        <span class="avatar">
                          <img ng-src="{{org.profile_image.x14}}" width="14" height="14"/>
                        </span>&nbsp;&nbsp;{{org.name}}
                      </a>
                    </li>
                  </ul>
                </div>
              </span>
              <span ng-switch-default>
                <button type="submit"
                  class="btn btn-default"
                  ng-disabled="vm.form.$invalid || vm.isAuthenticated === false"
                  ng-click="vm.submit(vm.evidenceEdit, vm.options)">
                  Submit Revision
                </button>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-if="vm.form.$invalid" style="margin-top: 1em;">
      <div class="col-xs-5 col-xs-offset-2">
        <div class="alert alert-info">
          The Submit Revision button is disabled because the Evidence Edit form is incomplete or contains errors. Please ensure that all required fields (indicated with an *) are completed and error free.
        </div>
      </div>
    </div>
  </div>
  <div class="successMessage" ng-if="vm.showSuccessMessage">
    <div class="col-xs-12 jumbotron">
      <h1>Thank you.</h1>
      <p>Your suggested revision for Evidence Item {{ vm.evidence.name }} has been submitted for review.</p>
      <p><a ng-href="/events/genes/{{vm.stateParams.geneId}}/summary/variants/{{vm.stateParams.variantId}}/summary/evidence/{{vm.stateParams.evidenceId}}/talk/revisions/list/{{vm.newRevisionId}}/summary" class="btn btn-small btn-default">View it here</a></p>
    </div>
  </div>
  <!-- <div class="row"> -->
  <!-- <div class="col-xs-6"> -->
  <!-- <h3>vm.evidencEdit</h3> -->
  <!-- <pre ng-bind="vm.evidenceEdit|json" class="small"></pre> -->
  <!-- </div> -->
  <!-- <div class="col-xs-6"> -->
  <!-- <h3>vm.evidenceFields</h3> -->
  <!-- <pre ng-bind="vm.evidenceFields|json" class="small"></pre> -->
  <!-- </div> -->
  <!-- </div> -->
</div>
