<div class="evidenceEditBasic {{ vm.styles.edit.editBackgroundColor }}" id="evidence-edit-basic">
  <div class="row form-header" id="evidence-edit-form">
    <div class="stripes-bg">
      <div class="col-xs-12 name">
        <h3>EDIT EVIDENCE ITEM <span ng-bind="vm.evidence.name">NAME</span></h3>
      </div>
    </div>
  </div>
  <div class="row" ng-if="vm.showInstructions">
    <div class="col-xs-12">
      <div class="edit-instructions">
        <p>Complete your edits, then click the 'Submit Revision for Review' button.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div ng-messages="vm.formErrors" class="edit-errors">
        <div ng-message="500" class="alert alert-danger">
          <strong class="status">500 <span ng-bind="vm.errorMessages['500']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['500']">error prompt</span>
          <span class="server-message">{{ vm.serverMsg }}</span>
        </div>
        <div ng-message="401" class="alert alert-danger">
          <strong class="status">401 <span ng-bind="vm.errorMessages['401']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['401']">error prompt</span>
          <span class="server-message">{{ vm.serverMsg }}</span>
        </div>
        <div ng-message="403" class="alert alert-danger">
          <strong class="status">403 <span ng-bind="vm.errorMessages['403']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['403']">error prompt</span>
          <span class="server-message">{{ vm.serverMsg }}</span>
        </div>
        <div ng-message="409" class="alert alert-danger">
          <strong class="status">409 <span ng-bind="vm.errorMessages['409']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['409']">error prompt</span>
          <span class="server-message">{{ vm.serverMsg }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-xs-12">
      <div ng-messages="vm.formMessages" class="edit-messages">
        <div ng-message="submitSuccess" class="alert alert-success">
          <strong class="status">Success</strong> - <span class="message">Your revision was successfully submitted.</span>
        </div>
        <div ng-message="applySuccess" class="alert alert-success">
          <strong class="status">Success</strong> - <span class="message">Your revision was successfully applied.</span>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="vm.showForm">
    <div class="row edit-form">
      <div class="col-xs-12">
        <form class="form-horizontal">
          <formly-form options="vm.options" model="vm.evidenceEdit" fields="vm.evidenceFields">

          </formly-form>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="buttons">
          <div class="pull-left">
            <cancel-button></cancel-button>
          </div>
          <div class="pull-right">
              <span ng-if="vm.isAuthenticated">
                <button type="submit" class="btn btn-default" ng-click="vm.submit(vm.evidenceEdit, vm.options)">Submit Revision for Review</button>
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="successMessage" ng-if="vm.showSuccessMessage">
    <div class="col-xs-12 jumbotron">
      <h1>Thank you.</h1>
      <p>Your suggested revision for Evidence Item {{ vm.evidence.name }} has been submitted for review.</p>
      <p><a ng-href="#/events/genes/{{vm.stateParams.geneId}}/summary/variants/{{vm.stateParams.variantId}}/summary/evidence/{{vm.stateParams.evidenceId}}/talk/revisions/list/{{vm.newRevisionId}}/summary" class="btn btn-small btn-default">View it here</a></p>
    </div>
  </div>
  <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
      <!--<hr/>-->
      <!--<pre ng-bind="vm.evidenceEdit|json"></pre>-->
    <!--</div>-->
  <!--</div>-->
</div>
