<div class="evidenceSelectorField">
  <label for="{{::id}}" class="col-sm-2 control-label">
    <span ng-if="to.required" style="color:#999;">*&nbsp;</span>
    {{to.label}}<br/>
    <span class="small" style="font-weight: normal; color: #666;">Use data table to filter Evidence, then click the plus button to add an item to the Assertion.</span>
  </label>
  <div class="col-sm-10" >
    <evidence-selector
      mode="'browse'"
      page="1"
      items="model.evidence_items">
    </evidence-selector>
    <div class="col-sm-12">
      <ul class="evidenceSelectorItems">
        <li ng-repeat="item in model.evidence_items">
          <evidence-selector-item item="item" remove-fn="removeItem"></evidence-selector-item>
          <!-- <a ng-click="ctrl.removeItem(item)">{{item.id}}</a> -->
        </li>
      </ul>
    </div>
  </div>
</div>
