<div class="multiInput" style="margin-bottom:14px">
  <div class="clearfix">
    <div ng-repeat="item in model[options.key] track by $index"
      ng-init="itemOptions = copyItemOptions(); addFormIsOpen = false;">
      <div class="row" style="margin-bottom: 8px;">
        <div class="col-md-8 col-lg-9">
          <formly-field class="no-padding"
            options="itemOptions"
            model="model[options.key]"
            form="form"
            index="$index">
          </formly-field>
        </div>
        <div class="col-xs-1" ng-if="to.showAddButton" style="margin-top:6px; text-align: right;">
          <button
            type="button"
            class="btn btn-default btn-xs"
            uib-tooltip="Create New {{to.entityName}}"
            tooltip-placement="bottom"
            tooltip-append-to-body="true"
            uib-popover-template="'{{to.addFormTemplate}}'"
            popover-trigger="'outsideClick'"
            popover-is-open="addFormIsOpen"
            popover-title="Create New {{to.entityName}}"
            popover-append-to-body="false"
            ng-if="model[options.key][$index] === ''">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
        </div>
        <div class="col-md-3 col-lg-2" style="margin-top:6px; padding-left: 0px; text-align: right;">
          <button
            type="button"
            class="btn btn-danger btn-xs"
            uib-tooltip="Remove {{to.entityName}} Row"
            tooltip-placement="bottom"
            tooltip-append-to-body="true"
            ng-click="deleteItem(model[options.key], $index)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
          <button
            type="button"
            class="btn btn-success btn-xs"
            uib-tooltip="Add {{to.entityName}} Row"
            tooltip-placement="bottom"
            tooltip-append-to-body="true"
            ng-if="$index + 1 === model[options.key].length"
            ng-click="model[options.key].push('')">
            <span class="glyphicon glyphicon-plus"></span> </button>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-if="model[options.key].length === 0">
    <div class="col-xs-12">
      <button type="button"
        class="btn btn-success btn-sm btn-block"
        ng-click="model[options.key].push('')">
        Add {{ to.entityName }}
      </button>
    </div>
  </div>
  <div class="row" ng-if="to.data.message.length > 0">
    <div class="col-xs-12" >
      <span class="small" style="color: #999;font-style:oblique;">{{to.data.message}}</span>
    </div>
  </div>
</div>
