<div class="browseView">
  <div class="row">
    <div class="browseTabs col-xs-12">
      <div class="row">
        <div class="col-xs-6 name">
          <h3>
            Browse by {{ ctrl.browseMode | capitalize }}
          </h3>
        </div>

        <div class="col-xs-6 tabs">
          <ul class="nav nav-tabs pull-right">
            <li ng-class="{'active': ctrl.browseMode == 'variant'}">
              <a ng-click="ctrl.switchMode('variant')">Browse by Variant</a>
            </li>

            <li ng-class="{'active': ctrl.browseMode == 'gene'}">
              <a ng-click="ctrl.switchMode('gene')">Browse by Gene</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="gridContainer">
        <div ui-grid="ctrl.gridOptions"
             ui-grid-cellnav
             ui-grid-selection
             ui-grid-pagination
             ui-grid-auto-resize></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 grid-pagination">
      <pagination 
        ng-change="ctrl.pageChanged()"
        ng-model="ctrl.currentPage"
        total-items="ctrl.gridOptions.data.length"
        direction-links="true">

      </pagination>
      <pre>Current page: {{ ctrl.currentPage }} of {{ ctrl.getTotalPages() }}</pre>


      <hr/>
      <button type="button" class="btn btn-success" ng-click="ctrl.previousPage()">
        previous page
      </button>
      <button type="button" class="btn btn-success" ng-click="ctrl.nextPage()">
        next page
      </button>
      <button type="button" class="btn btn-success" ng-click="ctrl.seek(3)">
        go to page 3
      </button>
      <p>Current page: {{ ctrl.getPage() }} of {{ ctrl.getTotalPages() }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <pre ng-bind="ctrl.gridOptions.data | json"></pre>
    </div>
  </div>
</div>
