@import 'bower_components/bootstrap/less/mixins.less';
@import 'bower_components/bootstrap/less/variables.less';
@import 'src/app/styles/_civic-variables.less';


.browseView {
  .browse-genes {
    tbody td {
      cursor: pointer;
    }
    td, th {
      background-color: @tableBgColor;
    }
    th {
      text-align: left;
    }
  }

  .pager-label, .pager-count {
    display: inline-block;
  }

  .pager-count {
    margin-left: 2em;
  }
}