@import 'bower_components/bootstrap/less/mixins.less';
@import 'bower_components/bootstrap/less/variables.less';
@import 'src/app/styles/_civic-variables.less';

.geneTalk {
  .clearfix();
  padding-top: @contentPadding;
  min-height: 500px;
  background-color: @pageBackground2;
  margin-bottom: -@contentPadding;
  padding-bottom: @contentPadding;

  border-bottom-right-radius: @border-radius-base;
  border-bottom-left-radius: @border-radius-base;

  .comments-menu {
    margin-right: -@contentPadding;
    margin-top: @contentPadding;

    .gene-name {
      font-size: 120%;
      font-weight: bold;
      color: @civicDarkPurple;
    }



    ul {
      margin: 0;
      padding: 0;
      .active a {
        background-color: #FFF !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        color: @civicDarkPurple !important;
      }

      a {
        color: @civicPurple;
      }

      a:hover {
        background-color: #FFF !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }

      .gene-comment-tab {
        background-color: lighten(@civicPurple, 40%) !important;
        a { color: darken(@civicPurple, 10%); }
      }

      li {
        background-color: @pageBackground3;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-radius: @border-radius-base;
        list-style: none;
        text-align: left;
        margin-bottom: @contentPadding;
      }

      .new {
        border-left: 2px solid @changeStatusNew;
        background-image: svg-gradient(to right, @changeStatusNewLight 0%, @changeStatusNewLight 95%, darken(@changeStatusNewLight, 10%) 100%);
        background-size: 100% 100%;
      }

      .applied {
        border-left: 2px solid @changeStatusApplied;
        background-image: svg-gradient(to right, @changeStatusAppliedLight 0%, @changeStatusAppliedLight 95%, darken(@changeStatusAppliedLight, 10%) 100%);
        background-size: 100% 100%;
      }

      .closed {
        border-left: 2px solid @changeStatusClosed;
        background-image: svg-gradient(to right, @changeStatusClosedLight 0%, @changeStatusClosedLight 95%, darken(@changeStatusClosedLight, 10%) 100%);
        background-size: 100% 100%;
      }

      .active {
        border-left: 2px solid @changeStatusActive;
        background-image: svg-gradient(to right, @changeStatusActiveLight 0%, @changeStatusActiveLight 95%, darken(@changeStatusActiveLight, 10%) 100%);
        background-size: 100% 100%;
      }

    }
  }
}
