@import 'bower_components/bootstrap/less/mixins.less';
@import 'bower_components/bootstrap/less/variables.less';
@import 'src/app/styles/_civic-variables.less';

.geneSummary {
  background-color: #AAF;
  border: 1px solid #66A;
  padding: @contentPadding;
}