@import 'bower_components/bootstrap/less/mixins.less';
@import 'bower_components/bootstrap/less/variables.less';
@import 'src/app/styles/_civic-variables.less';

.geneTalk {
  .clearfix();
  padding-top: @contentPadding;
  min-height: 500px;
  background-color: @pageBackground2;

  .commentsMenu {
    .subTitle {
      font-weight: bold;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        text-align: left;

      }
    }
  }
}
