<div class="geneSummary">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <p ng-bind-html="gene.summary | linky"></p>
    </div>
    <div class="col-xs-12 col-md-6">
      <table class="table table-condensed summary-details">
        <colgroup>
          <col width="30%"/>
          <col width="70%"/>
        </colgroup>
        <tr ng-show="gene.name">
          <td class="name">Name:</td>
          <td class="value">{{ gene.name }}</td>
        </tr>
        <tr ng-show="gene.alias">
          <td class="name">Synonyms:</td>
          <td class="value">{{ gene.alias.join(",") }}</td>
        </tr>
        <tr ng-show="gene.pathway.pharmgkb">
          <td class="name">Pathways:</td>
          <td class="value">
            <ul ng-repeat="pathway in gene.pathway.pharmgkb">
              <li><a href="https://www.pharmgkb.org/pathway/{{ pathway.id }}">{{ pathway.name }}</a></li>
            </ul>
          </td>
        </tr>
        <tr ng-show="gene.interpro">
          <td class="name">Interpro</td>
          <td class="value">
            <ul ng-repeat="interpro in gene.interpro">
              <li><a href="http://www.ebi.ac.uk/interpro/entry/{{ interpro.id }}">{{ interpro.id }}</a><br>{{ interpro.desc }}</li>
            </ul>
          </td>
        </tr>
        <tr ng-show="gene.interpro">
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>

  <div ui-view class="variantsUIView">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <variants-menu></variants-menu>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 selectMsg">
        <p>&#8592; Please select a variant to view its details.</p>
      </div>
    </div>
  </div>
</div>
