@import 'bower_components/bootstrap/less/mixins.less';
@import 'bower_components/bootstrap/less/variables.less';
@import 'src/app/styles/_civic-variables.less';

.geneSummary {
  .clearfix();
  background-color: @pageBackground2;
  padding-top: @contentPadding;

  > .row {
//    padding: 0 15px;
  }

  h3 {
    margin-top: 0;
    padding-top: 0;
  }

  .table {
    .name {
      font-weight: bold;
      text-align: right;
    }
    .value {

    }
  }
  .variantsUIView { // pull the content of the view out to full width
    background-color: @pageBackground;
    margin: @contentPadding -15px 0 -@contentPadding;
    padding: 0 15px;

    .selectMsg {
      padding: 5em;
    }
  }

}