<div class="geneEdit col-xs-12">
  <div class="row form-instructions">
    <div class="col-xs-12">
      <p>Complete your edits using the form below, then press the 'Submit Edits for Review' button. <span ng-show="isAdmin()">As you are an admin, you may also choose to immediately apply your edits without review by clicking 'Apply Edits'.</span></p>
      <div aa-notify></div>
    </div>
  </div>

  <div class="row">
    <div aa-configured-form validation-config="formConfig" ng-form="geneEditForm" class="form-horizontal">

      <input type="text"
             aa-field-group="geneEdit.entrez_name"
             aa-label="Entrez Name" />

    <textarea
      aa-field-group="geneEdit.description"
      aa-label="Description"></textarea>

    <textarea
      aa-field-group="geneEdit.clinical_description"
      aa-label="Clinical Description"></textarea>
      <hr/>

      <input type="text"
             aa-field-group="geneEdit.comment.title"
             aa-label="Comment Title"
             readonly/>
    <textarea
      aa-field-group="geneEdit.comment.text"
      aa-label="Change Comments"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="button-row">
        <div class="pull-right">
          <button type="button" class="btn btn-default btn-md" ng-click="discard()">Discard Edits</button>
          <button type="button" class="btn btn-primary btn-md" ng-click="submit()">Submit Change for Review</button>
          <button type="button" class="btn btn-warning btn-md" ng-show="isAdmin()" ng-click="apply()">Apply Change Immediately</button>
        </div>
      </div>
    </div>
  </div>
</div>
