<div class="variantTalkRevisions">
  <div ng-if="variantRevisions.data.collection.length > 0">
    <div class="row revisions-list {{ viewOptions.styles.view.summaryBackgroundColor }}">
      <div class="col-xs-12">
        <revisions-grid changes="variantRevisions.data.collection" base-state="events.genes.summary.variants.talk.revisions"></revisions-grid>
      </div>
    </div>
    <div class="row revisions-list {{ viewOptions.styles.view.talkBackgroundColor }}">
      <div class="col-xs-12">
        <ui-view>
          <div class="alert alert-info" class="select-prompt">
            &uparrow; Click on a <strong>Revision</strong> above to view its details here.
          </div>
        </ui-view>
      </div>
    </div>
  </div>
  <div ng-if="variantRevisions.data.collection.length === 0">
    <div class="row revisions-prompt">
      <div class="col-xs-12">
        <div class="jumbotron">
          <h2 style="margin:0;padding:0;">No suggested revisions exist for this variant.</h2>
          <p>You may create a suggested revision by clicking on the variant name at the top of this record.</p>
        </div>
      </div>
    </div>
  </div>
</div>
