<div class="variantTalkRevisionSummary">
  <div class="row revision-header">
    <div class="stripes-bg">
      <div class="col-xs-10 name">
        <h3>Revision RID<span ng-bind="vm.variantTalkModel.data.item.id">ID</span></h3>
      </div>
      <div class="col-xs-2 status">
        <div class="pull-right">
          <span ng-bind="vm.variantTalkModel.data.item.status">status</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div ng-messages="vm.formErrors" class="revision-errors">
        <div ng-message="500"><div class="alert alert-danger">
          <strong class="status">500 <span ng-bind="vm.errorMessages['500']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['500']">error prompt</span>
        </div></div>
        <div ng-message="401"><div class="alert alert-danger">
          <strong class="status">401 <span ng-bind="vm.errorMessages['401']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['401']">error prompt</span>
        </div></div>
        <div ng-message="403"><div class="alert alert-danger">
          <strong class="status">403 <span ng-bind="vm.errorMessages['403']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['403']">error prompt</span>
        </div></div>
        <div ng-message="409"><div class="alert alert-danger">
          <strong class="status">403 <span ng-bind="vm.errorMessages['409']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['409']">error prompt</span>
        </div></div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-xs-12">
      <div ng-messages="vm.formMessages" class="revision-messages">
        <div ng-message="acceptSuccess"><div class="alert alert-success">
          <strong class="status">Success</strong> - <span class="message">The revision was successfully applied.</span>
        </div></div>
        <div ng-message="rejectSuccess"><div class="alert alert-success">
          <strong class="status">Success</strong> - <span class="message">The revision was successfully rejected.</span>
        </div></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 diffs">
      <ul>
        <li class="item" ng-repeat="(field, diffs) in vm.variantTalkModel.data.item.diffs">
          <div ng-switch="field">
            <div ng-switch-default>
              <div class="row">
                <div class="col-xs-12">
                  <h4 class="field-name">{{ field | capitalize}}</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <span ng-bind-html="diffs.diff"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="res"><span ng-bind-html="diffs.final"></span></div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row" ng-if="vm.showModeration">
    <div class="col-xs-12 admin-buttons pull-right">
      <!-- show org-select button if user is member of > 1 orgs -->
      <span ng-switch="vm.currentUser.organizations.length > 1" >
        <span ng-switch-when="true" >
          <div class="btn-group org-select" uib-dropdown>
            <a id="split-button"
              type="button"
              class="btn btn-default"
              ng-click="vm.acceptRevision()"
              ng-disabled="vm.ownerIsCurrentUser"
              uib-tooltip={{vm.disabled_text}}
              tooltip-enable="vm.ownerIsCurrentUser"
              tooltip-append-to-body="true">
              Accept Revision
            </a>

            <a type="button" class="btn btn-default" uib-dropdown-toggle
              ng-disabled="vm.ownerIsCurrentUser">
              for
              <span class="avatar"
                uib-tooltip="{{vm.actionOrg.name}}"
                tooltip-enable="!vm.ownerIsCurrentUser">
                <img ng-src="{{vm.actionOrg.profile_image.x14}}" width="14" height="14"/>
              </span>&nbsp;&nbsp;<span class="caret"></span>
            </a>
            <ul ng-include="'org-menu.tpl.html'"
              uib-dropdown-menu class="dropdown-menu" role="menu"></ul>
          </div>
        </span>
        <span ng-switch-default>
          <span uib-tooltip={{vm.disabled_text}}
            tooltip-append-to-body="true"
            tooltip-enable="vm.ownerIsCurrentUser">
            <button type="submit"
              class="btn btn-default"
              ng-disabled="vm.ownerIsCurrentUser"
              ng-click="vm.acceptRevision()">
              Accept Revision
            </button>
          </span>
        </span>
      </span>

      <span ng-switch="vm.currentUser.organizations.length > 1" >
        <span ng-switch-when="true" >
          <div class="btn-group org-select" uib-dropdown>
            <a id="split-button"
              type="button"
              class="btn btn-default"
              ng-click="vm.rejectRevision()">
              Reject Revision
            </a>

            <a type="button" class="btn btn-default" uib-dropdown-toggle>
              for
              <span class="avatar"
                uib-tooltip="{{vm.actionOrg.name}}">
                <img ng-src="{{vm.actionOrg.profile_image.x14}}" width="14" height="14"/>
              </span>&nbsp;&nbsp;<span class="caret"></span>
            </a>
            <ul ng-include="'org-menu.tpl.html'"
              uib-dropdown-menu class="dropdown-menu" role="menu"></ul>
          </div>
        </span>
        <span ng-switch-default>
          <button type="submit"
            class="btn btn-default"
            ng-click="vm.rejectRevision()">
            Reject Revision
          </button>
        </span>
      </span>
    </div>
  </div>
  <div class="row" ng-if="vm.showCoiNotice">
    <div class="col-xs-10 col-xs-offset-1" style="padding-bottom: 16px">
      <a ui-sref="account.profile" class="btn btn-danger btn-block">
        <i class="glyphicon glyphicon-hand-up"></i>&nbsp;
        Your Editor's Conflict of Interest Statement is missing or expired. Please update it to perform moderation.
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 comments-header">
      <h4>Revision RID<span ng-bind="vm.variantTalkModel.data.item.id">ID</span> Comments</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 comment-list">
      <div ng-switch="ctrl.comments.length">
        <div ng-switch-when="0">
          <p>No comments found.</p>
        </div>
        <div ng-switch-default>
          <ul class="comments">
            <li ng-repeat="comment in vm.variantTalkModel.data.comments">
              <entity-comment
                comment-data="comment"
                entity-model="vm.variantTalkModel">
              </entity-comment>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 comment-form">
      <entity-comment-form type="revision" entity-model="vm.variantTalkModel"></entity-comment-form>
    </div>
  </div>
  <script type="text/ng-template" id="org-menu.tpl.html"
    ng-class="{'active': org.id == vm.currentUser.organizations}">
    <li role="menuitem" ng-repeat="org in vm.currentUser.organizations"
      ng-class="{'active': org.id == vm.actionOrg.id}">
      <a href ng-click="vm.switchOrg(org.id)">
        <span class="glyphicon glyphicon-ok" style="margin-left: -12px"
          ng-class="{'glyphicon-hide': org.id !== vm.actionOrg.id}"></span>
        <span class="avatar">
          <img ng-src="{{org.profile_image.x14}}" width="14" height="14"/>
        </span>&nbsp;&nbsp;{{org.name}}
      </a>
    </li>
  </script>
</div>
