@import 'bower_components/bootstrap/less/mixins.less';
@import 'bower_components/bootstrap/less/variables.less';
@import 'src/app/styles/_civic-variables.less';
@import 'src/app/styles/_mixins.less';

.EvidenceTalkView {
  .fullBleed();
  margin-bottom: -@contentPadding;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  border-bottom-left-radius: @border-radius-large;
  border-bottom-right-radius: @border-radius-large;
  margin-bottom: @contentPadding;

  .entity-talk-summary {
    .fullBleed();
    background-color: @pageBackground2;
    padding-bottom: @contentPadding;
    border-bottom: 1px solid darken(@pageBackground2, 5%);
  }

  .entity-talk-content {
    background-color: @pageBackground;
    min-height: 300px;
    border-bottom-left-radius: @border-radius-large;
    border-bottom-right-radius: @border-radius-large;
  }
}

