<div class="AddEvidenceView">
  <entity-view view-model="vm.GenesViewModel" view-options="vm.GenesViewOptions">
    <div class="row">
      <div class="col-xs-6 name">
        <span ng-bind="vm.type" class="entity-type">Entity</span>
        <span ng-bind="vm.name" class="entity-name">Name</span>
      </div>
      <div class="col-xs-6 tabs {{ viewBackground }}">
        <tabset class="tab-container"
                type="{{'tabs'}}"
                vertical="{{vertical}}"
                justified="{{justified}}">
          <tab class="tab"
               ng-repeat="tab in tabs"
               heading="{{tab.heading}}"
               active="tab.active"
               disabled="tab.disabled"
               ng-click="go(tab)">
          </tab>
        </tabset>
      </div>
    </div>
  </entity-view>
</div>
