<div class="communityMain">
  <div class="row">
    <div class="gradient-bg">
      <div class="col-xs-12 title stripes-bg">
        <h3>
          <span class="entity-action">COMMUNITY</span>
        </h3>
      </div>
    </div>
  </div>
  <!-- TOP-LEADERBOARDS -->
  <div class="row">
    <div class="col-xs-12">
      <div class="mini-leaderboard">
        <h3>COMMUNITY LEADERBOARDS</h3>
        <pre ng-bind="vm.leaderboards|json"></pre>
      </div>

    </div>
  </div>

  <!-- USER LIGHTBOARD -->
  <div class="row">
    <div class="col-xs-12">
      <div class="user-lightboard">
        <h3>USER LIGHTBOARD</h3>
      </div>
    </div>
  </div>

  <!--<div class="row">-->
  <!--<div class="col-xs-6">-->
  <!--<h4>Variant Group</h4>-->
  <!--<pre ng-bind="vm.variantGroup | json"></pre>-->
  <!--</div>-->
  <!--<div class="col-xs-6">-->
  <!--<h4>vm.options</h4>-->
  <!--<pre ng-bind="vm.options | json"></pre>-->
  <!--</div>-->
  <!--</div>-->
</div>
