@import 'bower_components/bootstrap/less/mixins.less';
@import 'bower_components/bootstrap/less/variables.less';
@import 'src/app/styles/_civic-variables.less';

.headerSearch {
  .clearfix();
  margin-top: 2.6em;

  label {
    font-weight: 300;
    color: #DDD;
  }

  .btn-browse {
    margin-top: 1.2em;
    .button-variant(white; @civicGreen; darken(@civicGreen, 15%));
  }
}