@import 'bower_components/bootstrap/less/mixins.less';
@import 'bower_components/bootstrap/less/variables.less';
@import 'src/app/styles/_civic-variables.less';

.loginToolbar {
  text-align: left;
  .login-toolbar-lg {
    height: 50px;
    // padding-top: @mainMenuPaddingLg;
  }

  .login-toolbar-sm {
    margin-left: 1em;
    padding-bottom: .75em;
    //padding-top: @mainMenuPaddingSm;
  }
}