<div class="CommunityView">
  <div class="row">
    <div class="subTabs col-xs-12">
      <div class="row">
        <div class="col-xs-3 name">
          <h3>Community</h3>
        </div>

        <div class="col-xs-9 tabs">
          <ul class="nav nav-tabs" style="float: right;">
            <li ui-sref-active="active">
              <a ui-sref="community.main">Individuals</a>
            </li>

            <li ui-sref-active="active">
              <a ui-sref="community.organizations">Organizations</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ui-view id="community-view"></ui-view>
    </div>
  </div>
</div>
