<div class="organizationsSummary">
  <div class="title-row">
    <div class="row">
      <div class="col-xs-12">
        <div class="name">
          <h3>Organization Summary</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <h3 style="margin: 0;padding: 0;">
                {{organization.name}}
                <span ng-if="organization.parent.id !== undefined">
                  <span class="org-parent" >
                    at
                    <a ui-sref="organizations.summary({organizationId: organization.parent.id})">
                      {{organization.parent.name}}
                    </a>
                  </span>
                </span>
              </h3>
            </div>
            <div class="col-xs-6 text-right">
              <a ng-if="organization.url.length > 0"
                class="btn btn-primary" target="_blank" href="{{organization.url}}">
                <span class="glyphicon glyphicon-new-window"></span>
                Organization Website
              </a>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row description-block">
            <div class="col-xs-2 org-image" ng-if="organization.profile_image.hasOwnProperty('x256') === true" >
              <img ng-src="{{organization.profile_image.x256}}" class="img-responsive" width="256" height="256"/>
            </div>
            <div ng-class="{'col-xs-12': organization.profile_image.hasOwnProperty('x256') === false, 'col-xs-10': organization.profile_image.hasOwnProperty('x256') === true}">
              <p ng-bind="organization.description"></p>
              <p ng-if="organization.child_organizations.length > 0"><strong>Child Organizations:</strong>
                <div ng-repeat="org in organization.child_organizations"
                  style="display: inline-block; margin-bottom: 4px;">
                  <organization-block organization="org"></organization-block>
                </div>
              </p>
            </div>
          </div>
          <h4>Members</h4>
          <div class="row auto-clear users-rows">
            <user-card user="user"
              class="col-xs-6 col-sm-4 col-lg-3"
              ng-repeat="user in organization.members|orderBy:'id'">
            </user-card>
          </div>
          <div class="row" >
            <div class="col-xs-12" >
              <h4>Organization Statistics</h4>
            </div>
          </div>
          <div class="row" >
            <div class="col-xs-12" >
              <div class="info-block" >
                <div class="row">
                  <div class="col-xs-6">
                    <table class="table-info">
                      <tr>
                        <td class="key">Comments:</td>
                        <td class="value">{{stats.comments}}</td>
                      </tr>
                      <tr>
                        <td class="key">Suggested Revisions:</td>
                        <td class="value">{{stats.suggested_changes}}</td>
                      </tr>
                      <tr>
                        <td class="key">Applied Revisions:</td>
                        <td class="value">{{stats.applied_changes}}</td>
                        <tr>
                          <td class="key">Suggested Sources:</td>
                          <td class="value">{{stats.suggested_sources}}</td>
                        </tr>
                      </tr>
                    </table>
                  </div>
                  <div class="col-xs-6" >
                    <table class="table-info">
                      <tr>
                        <td class="key">Submitted Evidence:</td>
                        <td class="value">{{stats.submitted_evidence_items}}</td>
                      </tr>
                      <tr>
                        <td class="key">Accepted Evidence:</td>
                        <td class="value">{{stats.accepted_evidence_items}}</td>
                      </tr>
                      <tr>
                        <td class="key">Submitted Assertions:</td>
                        <td class="value">{{stats.submitted_assertions}}</td>
                      </tr>
                      <tr>
                        <td class="key">Accepted Assertions:</td>
                        <td class="value">{{stats.accepted_assertions}}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" >
            <div class="col-xs-12" >
              <evidence-grid
                evidence="evidence"
                show-gene-col="true"
                show-variant-col="true"
                rows="10"
                context="'profile'"
                rounded="true">
              </evidence-grid>
            </div>
          </div>
          <div class="row" >
            <div class="col-xs-12" >
              <h4>Organization Activity</h4>
            </div>
          </div>
          <div class="row" >
            <div class="col-xs-12" >
              <activity-grid entity="'organization'" id="organization.id"></activity-grid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
