<div class="geneSummary">
  <div class="row">
    <div class="col-xs-12">
      <h3>Gene {{ gene.name }} <edit-gene-btn></edit-gene-btn></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      {{ gene.summary }}
    </div>
    <div class="col-xs-12 col-md-6">
      <table class="table table-condensed">
        <colgroup>
          <col width="30%"/>
          <col width="70%"/>
        </colgroup>
        <tr ng-repeat="(key, value) in gene.metrics">
          <td class="name">{{ key }}:</td>
          <td class=""value>{{ value }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>