<div class="addEvidenceBasic" id="add-evidence-basic" ng-init="vm.scroll()">
  <div class="row" ng-if="vm.showInstructions">
    <div class="col-xs-12">
      <div class="edit-instructions">
        <p>To add an evidence item, please complete the following form, provide a short statement supporting its inclusion into the CIViC database, then click the 'Submit Evidence for Inclusion' button.</p>
        <p style="margin-top: .5em;"><strong>Please ensure that your submission contains no <a href="http://www.hipaa.com/hipaa-protected-health-information-what-does-phi-include/" title="HIPAA.com Protected Health Information description" target="_blank">Protected Health Information</a>, and is your own original work.</strong></p>
      </div>
    </div>
  </div>
  <div class="row messages">
    <div class="col-xs-12">
      <div ng-messages="vm.formMessages" class="edit-messages">
        <div ng-message="submitSuccess" class="alert alert-success">
          <strong class="status">Success</strong> - <span class="message">Your new evidence item was successfully submitted.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row errors">
    <div class="col-xs-12">
      <div ng-messages="vm.formErrors" class="edit-errors">
        <div ng-message="500" class="alert alert-danger">
          <strong class="status">500 <span ng-bind="vm.errorMessages['500']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['500']">error prompt</span>
        </div>
        <div ng-message="401" class="alert alert-danger">
          <strong class="status">401 <span ng-bind="vm.errorMessages['401']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['401']">error prompt</span>
        </div>
        <div ng-message="403" class="alert alert-danger">
          <strong class="status">403 <span ng-bind="vm.errorMessages['403']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['403']">error prompt</span>
        </div>
        <div ng-message="409" class="alert alert-danger">
          <strong class="status">409 <span ng-bind="vm.errorMessages['409']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['409']">error prompt</span>
        </div>
      </div>
    </div>
  </div>
  <div class="form" ng-if="vm.showForm">
    <div class="row">
      <div class="col-xs-12">
        <form class="form-horizontal" name="vm.form" novalidate>
          <formly-form options="vm.options" model="vm.newEvidence" fields="vm.evidenceFields">

          </formly-form>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5 col-xs-offset-2">
        <div class="buttons">
          <div class="pull-left">
            <cancel-button></cancel-button>
          </div>
          <div class="pull-right">
            <span ng-if="vm.isAuthenticated">
            <button type="submit"
                    class="btn btn-default"
                    ng-disabled="vm.form.$invalid"
                    ng-click="vm.submit(vm.newEvidence, vm.options)">
              Submit Evidence for Inclusion
            </button>
          </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-if="vm.form.$invalid">
      <div class="col-xs-5 col-xs-offset-2">
        <div class="alert alert-info">
          The Submit button is disabled because the Evidence form is incomplete or contains errors. Please ensure that all fields are completed and error free.
        </div>
      </div>
    </div>
  </div>
  <div class="successMessage" ng-if="vm.showSuccessMessage">
    <div class="col-xs-12 jumbotron">
      <h1>Thank you.</h1>
      <p>The evidence item has been added to the database with a status of 'Pending'. In the meantime before it is accepted by an Administrator, CIViC users may review and comment upon it.</p>
      <p>
        <a ng-href="#/events/genes/{{vm.linkParams.geneId}}/summary/variants/{{vm.linkParams.variantId}}/summary/evidence/{{vm.linkParams.evidenceId}}/summary"
           class="btn btn-small btn-default">View it here</a>
        &nbsp;or&nbsp;
        <a ui-sref="add.evidence.basic"
           ui-sref-opts="{reload:true, inherit: true}"
           class="btn btn-small btn-default">Add Another Evidence Item</a>
      </p>
    </div>
  </div>

  <!--<div class="row">-->
    <!--<div class="col-xs-4">-->
      <!--<h3>vm.newEvidence</h3>-->
      <!--<pre ng-bind="vm.newEvidence|json" class="small"></pre>-->
    <!--</div>-->
    <!--<div class="col-xs-4">-->
      <!--<h3>vm.form</h3>-->
      <!--<pre ng-bind="vm.form|json" class="small"></pre>-->
    <!--</div>-->
    <!--<div class="col-xs-4">-->
      <!--<h3>vm.evidenceFields</h3>-->
      <!--<pre ng-bind="vm.evidenceFields|json" class="small"></pre>-->
    <!--</div>-->
  <!--</div>-->
</div>
