<div class="addEvidenceBasic">
  <div class="row" ng-if="vm.showInstructions">
    <div class="col-xs-12">
      <div class="edit-instructions">
        <p>To add an evidence item, please complete the following form, provide a short statement supporting its inclusion into the CIViC database, then click the 'Submit Evidence for Inclusion' button.</p>
      </div>
    </div>
  </div>
  <div class="row messages">
    <div class="col-xs-12">
      <div ng-messages="vm.formMessages" class="edit-messages">
        <div ng-message="submitSuccess" class="alert alert-success">
          <strong class="status">Success</strong> - <span class="message">Your new evidence item was successfully submitted.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row errors">
    <div class="col-xs-12">
      <div ng-messages="vm.formErrors" class="edit-errors">
        <div ng-message="500" class="alert alert-danger">
          <strong class="status">500 <span ng-bind="vm.errorMessages['500']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['500']">error prompt</span>
        </div>
        <div ng-message="401" class="alert alert-danger">
          <strong class="status">401 <span ng-bind="vm.errorMessages['401']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['401']">error prompt</span>
        </div>
        <div ng-message="403" class="alert alert-danger">
          <strong class="status">403 <span ng-bind="vm.errorMessages['403']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['403']">error prompt</span>
        </div>
        <div ng-message="409" class="alert alert-danger">
          <strong class="status">409 <span ng-bind="vm.errorMessages['409']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['409']">error prompt</span>
        </div>
      </div>
    </div>
  </div>
  <div class="form" ng-if="vm.showForm">
    <div class="row">
      <div class="col-xs-12">
        <form class="form-horizontal">
          <formly-form options="vm.options" model="vm.newEvidence" fields="vm.evidenceFields">

          </formly-form>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5 col-xs-offset-2">
        <div class="buttons">
          <div class="pull-left">
            <cancel-button></cancel-button>
          </div>
          <div class="pull-right">
            <span ng-if="vm.isAuthenticated">
            <!--<button type="submit" class="btn btn-default" ng-if="vm.isAdmin" ng-click="vm.apply(vm.newEvidence, vm.options)">Apply</button>-->
            <button type="submit" class="btn btn-default" ng-click="vm.submit(vm.newEvidence, vm.options)">Submit Evidence for Inclusion</button>
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="successMessage" ng-if="vm.showSuccessMessage">
    <div class="col-xs-12 jumbotron">
      <h1>Thank you.</h1>
      <p>Your new evidence item is now waiting in a queue for administrator approval. The more complete your evidence submission the more likely it will be approved quickly. In the future, you will be notified when the status of your evidence item changes. But for now you may periodically check your evidence item's variant page to see if the evidence item has been added to the evidence item list.</p>
    </div>
  </div>
  <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
      <!--<pre ng-bind="vm.newEvidence|json"></pre>-->
    <!--</div>-->
  <!--</div>-->
</div>
