@import 'bower_components/bootstrap/less/mixins.less';
@import 'bower_components/bootstrap/less/variables.less';
@import 'src/app/styles/_civic-variables.less';

.addEvidenceForm {
  .clearfix();

  .form-instructions, .form-errors, .form-messages {
    padding-top: @contentPadding;
    padding-bottom: @contentPadding/3;
  }

  .form-instructions {
    background-color: #EFEFEF;
    border-bottom: 2px solid #CCC;
    // TODO: these padding attributes are ridiculous, debug boostrap layout
    padding: @contentPadding !important;
    margin: -@contentPadding -(2*@contentPadding) @contentPadding -(2*@contentPadding);
  }
}
