<div class="addEvidenceBasic">
  <div class="row">
    <div class="col-xs-12">
      <div class="edit-instructions">
        <p>Complete your edits, then click the 'Submit Revision for Review' button. <span ng-if="vm.isAdmin">As you are an Admin, you may also immediately update this Evidence Item by pressing the 'Apply' button.</span></p>
        <p><strong>NOTE:</strong> Fields contain filler entries for testing.</strong></p>
      </div>
    </div>
  </div>
  <div class="row messages">
    <div class="col-xs-12">
      <div ng-messages="vm.formMessages" class="edit-messages">
        <div ng-message="submitSuccess" class="alert alert-success">
          <strong class="status">Success</strong> - <span class="message">Your new evidence item was successfully submitted.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row errors">
    <div class="col-xs-12">
      <div ng-messages="vm.formErrors" class="edit-errors">
        <div ng-message="500" class="alert alert-danger">
          <strong class="status">500 <span ng-bind="vm.errorMessages['500']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['500']">error prompt</span>
        </div>
        <div ng-message="401" class="alert alert-danger">
          <strong class="status">401 <span ng-bind="vm.errorMessages['401']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['401']">error prompt</span>
        </div>
        <div ng-message="403" class="alert alert-danger">
          <strong class="status">403 <span ng-bind="vm.errorMessages['403']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['403']">error prompt</span>
        </div>
        <div ng-message="409" class="alert alert-danger">
          <strong class="status">409 <span ng-bind="vm.errorMessages['409']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['409']">error prompt</span>
        </div>
      </div>
    </div>
  </div>
  <div class="form">
    <div class="row">
      <div class="col-xs-12">
        <form class="form-horizontal">
          <formly-form options="vm.options" model="vm.newEvidence" fields="vm.evidenceFields">

          </formly-form>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="buttons">
          <div class="pull-left">
            <cancel-button></cancel-button>
          </div>
          <div class="pull-right">
            <span ng-if="vm.isAuthenticated">
            <!--<button type="submit" class="btn btn-default" ng-if="vm.isAdmin" ng-click="vm.apply(vm.newEvidence, vm.options)">Apply</button>-->
            <button type="submit" class="btn btn-default" ng-click="vm.submit(vm.newEvidence, vm.options)">Submit New Evidence</button>
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dev">
    <div class="col-xs-12">

    </div>
  </div>
</div>
