<div class="variantGroupTalkRevisionSummary">
  <div class="row revision-header">
    <div class="stripes-bg">
      <div class="col-xs-10 name">
        <h3>Revision RID<span ng-bind="vm.variantGroupTalkModel.data.item.id">ID</span></h3>
      </div>
      <div class="col-xs-2 status">
        <div class="pull-right">
          <span ng-bind="vm.variantGroupTalkModel.data.item.status">status</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div ng-messages="vm.formErrors" class="revision-errors">
        <div ng-message="500" class="alert alert-danger">
          <strong class="status">500 <span ng-bind="vm.errorMessages['500']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['500']">error prompt</span>
        </div>
        <div ng-message="401" class="alert alert-danger">
          <strong class="status">401 <span ng-bind="vm.errorMessages['401']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['401']">error prompt</span>
        </div>
        <div ng-message="403" class="alert alert-danger">
          <strong class="status">403 <span ng-bind="vm.errorMessages['403']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['403']">error prompt</span>
        </div>
        <div ng-message="409" class="alert alert-danger">
          <strong class="status">403 <span ng-bind="vm.errorMessages['409']" class="message">error msg</span></strong> - <span ng-bind="vm.errorPrompts['409']">error prompt</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-xs-12">
      <div ng-messages="vm.formMessages" class="revision-messages">
        <div ng-message="acceptSuccess" class="alert alert-success">
          <strong class="status">Success</strong> - <span class="message">The revision was successfully applied.</span>
        </div>
        <div ng-message="rejectSuccess" class="alert alert-success">
          <strong class="status">Success</strong> - <span class="message">The revision was successfully rejected.</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 diffs">
      <ul>
        <li ng-repeat="(field, diffs) in vm.variantGroupTalkModel.data.item.diffs">
          <div ng-switch="field">
            <div ng-switch-default>
              <div class="row">
                <div class="col-xs-12">
                  <h4 class="field-name">{{ field | capitalize}}</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 wtf">
                  <span ng-bind-html="diffs.diff"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="res"><span ng-bind-html="diffs.final"></span></div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 admin-buttons" ng-if="vm.isAdmin === true && vm.variantGroupTalkModel.data.item.status != 'applied'">
      <div class="pull-right">
        <button type="submit" class="btn btn-default" ng-click="acceptRevision()">Accept Revision</button>
        <button type="submit" class="btn btn-default" ng-click="rejectRevision()">Reject Revision</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 comments-header">
      <h4>Revision RID<span ng-bind="vm.variantGroupTalkModel.data.item.id">ID</span> Comments</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 comment-list">
      <div ng-switch="ctrl.comments.length">
        <div ng-switch-when="0">
          <p>No comments found.</p>
        </div>
        <div ng-switch-default>
          <ul class="comments">
            <li ng-repeat="comment in vm.variantGroupTalkModel.data.comments">
              <entity-comment comment-data="comment"></entity-comment>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 comment-form">
      <entity-comment-form type="revision" entity-model="vm.variantGroupTalkModel"></entity-comment-form>
    </div>
  </div>
  <!--<div class="row">-->
  <!--<div class="col-xs-12">-->
  <!--<form>-->
  <!--<p>-->
  <!--VARIANT NAME:-->
  <!--</p>-->
  <!--<p>-->
  <!--<input type="text" ng-model="variantGroupModel.data.entity.name"/>-->
  <!--</p>-->
  <!--<p>-->
  <!--VARIANT DESCRIPTION:-->
  <!--</p>-->
  <!--<p>-->
  <!--<textarea ng-model="variantGroupModel.data.entity.description">-->

  <!--</textarea>-->
  <!--</p>-->
  <!--</form>-->
  <!--</div>-->
  <!--</div>-->
</div>
