<div class="actionBlock">
  <div class="action-block view-pageBackground"
       ng-repeat="(action, details) in actions"
       uib-tooltip="{{details.timestamp | timeAgo}}{{details.organization.name != undefined ? ' for ' + details.organization.name : ''}}"
       tooltip-placement="bottom"
       tooltip-apppend-to-body="true">
    <span class="action-label small">
      <strong>{{ action | labelify }}</strong>
    </span>

    <!--<span class="action-date small"-->
          <!--ng-if="action === 'last_modified'">-->
      <!--{{ details.timestamp | timeAgo }}-->
    <!--</span>-->

    <span class="user-button small">
      &nbsp;by
      <user-block user="details.user"></user-block>
    </span>
  </div>
</div>
