@import 'bower_components/bootstrap/less/mixins.less';
@import 'bower_components/bootstrap/less/variables.less';
@import 'src/app/styles/_civic-variables.less';
@import 'src/app/styles/_mixins.less';

@panelPadding: @contentPadding/2;
@openFlagBgColor: lighten(#942830, 60%);
@openFlagBorderColor: lighten(#942830, 30%);
@resolvedFlagBgColore: ;
@resolvedFlagBorderColor:

.editableFieldFlag {
  border: 1px solid #CCC;
  border-radius: @border-radius-base;
  border-width: 1px;
  border-style: solid;
  padding: @panelPadding;

  .actions-list {
    margin: -@panelPadding -@panelPadding @panelPadding -@panelPadding;
    border-top-left-radius: @border-radius-base;
    border-top-right-radius: @border-radius-base;
    border-bottom: 1px solid green;
  }

  &.state-open {
    background-color: lighten(#942830, 60%);
    border-color: @civicRed;
  }

  &.state-resolved {
    background-color: lighten(#942830, 60%);
    border-color: @civicRed;
  }

  .resolve-flag-form {
    border: 1px solid lighten(#942830, 30%);
  }
}
