  <div class="editableFieldFlag">
    <div class="row" >
      <div class="col-xs-12">
        <ul class="actions-list">
          <li>
            Flagged by: <user-block user="ctrl.actions.flagged.user"></user-block>
          </li>
          <li ng-if="ctrl.actions.resolved">
            Resolved by: <user-block user="ctrl.actions.resolved.user"></user-block>
          </li>
        </ul>
      </div>
    </div>
    <div class="row" >
      <div class="col-xs-12" >
        <div class="flag-comment" >
          <p>{{ flag.flagComment.text }}</p>
        </div>
      </div>
    </div>
    <div class="row" >
      <div class="col-xs-12" >
        <div class="resolve-comment" >
          <p>{{ flag.resolveComment.text }}</p>
        </div>
      </div>
    </div>
    <div class="resolve-flag-form" ng-if="flag.state ==='open' && (ctrl.isEditor() || ctrl.isAdmin())">
      <div class="row" >
        <div class="col-xs-12" >
          <p style="font-size: small;">Resolve this flag by describing how you fixed the issue.</p>
          <div class="form-group">
            <textarea ng-model="ctrl.resolveFlag.comment.text" class="form-control resolve-comment" rows="3"></textarea>
          </div>
        </div>
      </div>
      <div class="row" >
        <div class="col-xs-12 panel-buttons" >
          <a type="submit"
             class="btn btn-success"
             ng-click="resolveFn(ctrl.resolveFlag)"
             ng-disabled="ctrl.resolveFlag.comment.text.length < 3"
             tooltip-enable="ctrl.resolveFlag.comment.text.length < 3"
             tooltip="Please add comment before resolving flag.">
            Resolve
          </a>
        </div>
      </div>
    </div>
  </div>
