<div class="editableFieldFlag" ng-class="{'state-open': flag.state === 'open', 'state-resolved': flag.state === 'resolved'}">
  <div class="flag-block" >
    <div class="row" >
      <div class="col-xs-12">
        <div class="actions-list" >
          <ul>
            <li>
              <span class="action-label">Flagged:</span> <user-block user="ctrl.actions.flagged.user"></user-block>
            </li>
            <li ng-if="ctrl.actions.resolved">
              <span class="action-label" >Resolved:</span> <user-block user="ctrl.actions.resolved.user"></user-block>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" >
      <div class="col-xs-12" >
        <div class="flag-comment" >
          <span class="flag-comment-notice">Flagged comment:</span><br/>
          <p>{{ flag.flagComment.text }}</p>
        </div>
      </div>
    </div>
    <div class="row" ng-if="flag.resolveComment">
      <div class="col-xs-12" >
        <div class="resolve-comment" >
          <span class="flag-comment-notice">Resolved comment:</span><br/>
          <p>{{ flag.resolveComment.text }}</p>
        </div>
      </div>
    </div>
    <div class="resolve-flag-form"
      ng-if="flag.state ==='open' && (ctrl.isEditor() || ctrl.isAdmin())">
      <div class="row" >
        <div class="col-xs-12" >
          <div class="form-group">
            <textarea ng-model="ctrl.resolveFlag.comment.text" class="form-control resolve-comment" rows="3"
              placeholder="To resolve this flag, describe here how it was addressed then click 'Resolve'."></textarea>
          </div>
        </div>
      </div>
      <div class="row" >
        <div class="col-xs-12" >
          <span ng-if="ctrl.showCoiNotice">
            <a ui-sref="account.profile" class="btn btn-danger btn-block btn-xs">
              <i class="glyphicon glyphicon-hand-up"></i>&nbsp;
              Please Update COI Statement to resolve flag.
            </a>
          </span>
          <!-- show org-select button if user is member of > 1 orgs -->
          <span ng-switch="ctrl.currentUser.organizations.length > 1" >
            <span ng-switch-when="true" >
              <div class="btn-group org-select" uib-dropdown>
                <button id="split-button"
                  type="button"
                  class="btn btn-xs btn-success"
                  ng-click="resolveFn(ctrl.resolveFlag)"
                  ng-if="!ctrl.showCoiNotice"
                  ng-disabled="ctrl.resolveFlag.comment.text.length < 3"
                  tooltip-enable="ctrl.resolveFlag.comment.text.length < 3"
                  tooltip="Please add comment before resolving flag.">
                  Resolve
                </button>

                <button type="button" class="btn btn-xs btn-success" uib-dropdown-toggle
                  ng-disabled="ctrl.resolveFlag.comment.text.length < 3">
                  for
                  <span class="avatar avatar-sm"
                    uib-tooltip="{{ctrl.actionOrg.name}}"
                    tooltip-enable="!(ctrl.resolveFlag.comment.text.length < 3)">
                    <img ng-src="{{ctrl.actionOrg.profile_image.x14}}" width="14" height="14"/>
                  </span>&nbsp;&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                  <li role="menuitem" ng-repeat="org in ctrl.currentUser.organizations">
                    <a href ng-click="switchOrgFn(org.id)">
                      <span class="glyphicon glyphicon-ok" style="margin-left: -12px"
                        ng-class="{'glyphicon-hide': org.id !== ctrl.actionOrg.id}"></span>
                      <span class="avatar">
                        <img ng-src="{{org.profile_image.x14}}" width="14" height="14"/>
                      </span>&nbsp;&nbsp;{{org.name}}
                    </a>
                  </li>
                </ul>
              </div>
            </span>
            <span ng-switch-default>
              <button type="submit"
                class="btn btn-xs btn-success"
                ng-click="resolveFn(ctrl.resolveFlag)"
                ng-if="!ctrl.showCoiNotice"
                ng-disabled="ctrl.resolveFlag.comment.text.length < 3"
                tooltip-enable="ctrl.resolveFlag.comment.text.length < 3"
                tooltip="Please add comment before resolving flag.">
                Resolve
              </button>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
