  <div class="editableFieldFlag">
    <div class="row" >
      <div class="col-xs-12" class="action-bar">
        ACTION BAR
      </div>
    </div>
    <div class="row" >
      <div class="col-xs-12" >
        <p>{{ flag.flagComment.text }}</p>
      </div>
    </div>
    <div class="resolve-flag-form" ng-if="ctrl.isEditor() || ctrl.isAdmin()">
      <div class="row" >
        <div class="col-xs-12" >
          <p style="font-size: small;">Resolve this flag by describing how you fixed the issue.</p>
          <div class="form-group">
            <textarea ng-model="ctrl.resolveFlag.comment.text" class="form-control resolve-comment" rows="3"></textarea>
          </div>
        </div>
      </div>
      <div class="row" >
        <div class="col-xs-12 panel-buttons" >
          <a type="submit"
             class="btn btn-success"
             ng-click="resolveFn(ctrl.resolveFlag)"
             ng-disabled="ctrl.resolveFlag.comment.text.length < 3"
             tooltip-enable="ctrl.resolveFlag.comment.text.length < 3"
             tooltip="Please add comment before resolving flag.">
            Resolve
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" >
        <ul>
          <li ng-repeat="flag in ctrl.flags | filter: {state: 'open'}" >
            <div class="comment-header">Users go here</div>
            <div class="comment">{{flag.flagComment.text}}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
