@import 'bower_components/bootstrap/less/mixins.less';
@import 'bower_components/bootstrap/less/variables.less';
@import 'src/app/styles/_civic-variables.less';
@import 'src/app/styles/_mixins.less';

@borderColor: rgba(100,100,100, 0.8);
@borderHoverColor: desaturate(lighten(@civicPurple, 30%), 30%);
@borderActiveColor: @civicPurple;

@bgColor: rgba(255,255,255, 0.25);
@bgHoverColor: rgba(255,255,255, 0.5);
@bgActiveColor: rgba(255,255,255, 0.8);

.editableField {
  .popover {
    min-width: 400px;
  }
}
