<div class="editableField">
  <span ng-switch="ctrl.isAuthenticated()" >
    <span ng-switch-when="false" >
      <a class="btn  btn-xs btn-edit-entity"
         uib-tooltip="Please sign in to edit this {{type|lowercase}}"
         tooltip-append-to-body="true"
         ng-disabled="true">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </a>
      <a class="btn btn-xs btn-flag"
         ng-class="{'flagged': ctrl.hasActiveFlag}"
         uib-popover-template="'flagPopover.tpl.html'"
         popover-title="Flag {{type}} {{name}} "
         popover-placement="{{ctrl.popoverPlacement}}"
         uib-tooltip="{{ctrl.hasActiveFlag ? 'This ' + (type|lowercase) + ' has been flagged' : 'Sign in to flag this ' + (type|lowercase)}}":
         tooltip-append-to-body="true">
        <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
      </a>
    </span>
    <span ng-switch-when="true" >
      <a class="btn btn-xs btn-edit-entity"
         ng-class="{ 'active': ctrl.active === true }"
         uib-tooltip="Edit this {{type|lowercase}}"
         uib-tooltip-append-to-body="true"
         ng-click="ctrl.edit()">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </a>
      <a class="btn  btn-xs btn-flag"
         ng-class="{'flagged': ctrl.hasActiveFlag}"
         uib-tooltip="{{ctrl.hasActiveFlag ? 'This ' + (type|lowercase) + ' has been flagged' : 'Flag this ' + (type|lowercase)}}"
         tooltip-append-to-body="true"
         uib-popover-template="'flagPopover.tpl.html'"
         popover-title="Flag {{type}} {{name}} "
         popover-placement="{{ctrl.popoverPlacement}}">
        <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
      </a>
    </span>
  </span>
  <ng-transclude></ng-transclude>
</div>

<script type="text/ng-template" id="flagPopover.tpl.html">
  <div ng-switch="ctrl.hasActiveFlag">
    <div ng-switch-when="true" >
      <editable-field-flag flag="ctrl.activeFlag" resolve-fn="ctrl.resolve" entity-id="ctrl.entityId" type="type" name="name"></editable-field-flag>
    </div>
    <div ng-switch-when="false" >
      <div class="submit-flag-form">
        <div class="row" >
          <div class="col-xs-12" >
            <div class="form-group">
              <textarea ng-model="ctrl.newFlag.comment.text" class="form-control flag-comment" rows="2"
              ng-attr-placeholder="Flag this {{type|lowercase}} by describing why it requires the attention of the CIViC editors."></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 panel-buttons" >
            <button type="submit"
               class="btn btn-xs btn-danger"
               ng-click="ctrl.submit(ctrl.newFlag)"
               ng-disabled="ctrl.newFlag.comment.text.length < 3"
               uib-tooltip-enable="ctrl.newFlag.comment.text.length < 3"
               uib-tooltip="Please add comment before submitting flag.">
              Flag
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="resolved-flags" ng-if="ctrl.hasResolvedFlag" ng-class="{'closed': !ctrl.showResolved}">
    <div class="row">
      <div class="col-xs-8 resolved-flags-title">
        {{ctrl.resolvedCount}} Resolved Flag{{ ctrl.resolvedCount > 1 ? 's' : '' }}
      </div>
      <div class="col-xs-4 toggle-btn">
        <a class="btn btn-xs btn-default" ng-click="ctrl.toggleResolved()">{{ctrl.showResolved ? 'HIDE' : 'SHOW'}}</a>
      </div>
    </div>
    <div class="row" ng-if="ctrl.showResolved">
      <div class="col-xs-12" style="padding-top: 8px;">
        <div class="flag-container" ng-repeat="flag in ctrl.flags | filter: {state: 'resolved'} | orderBy:'id':true">
          <editable-field-flag flag="flag" resolve-fn="ctrl.resolve" entity-id="ctrl.entityId" type="type" name="name"></editable-field-flag>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row" > -->
  <!-- <div class="col-xs-12" > -->
  <!-- <pre ng-bind="ctrl.newFlag|json" ></pre> -->
  <!-- </div> -->
  <!-- </div> -->
</script>
