<div class="editableField">
  <button class="btn btn-default btn-xs" ng-click="ctrl.edit()" ng-disabled="!ctrl.isAuthenticated()">E</button>
  <button class="btn btn-default btn-xs"
          popover-template="'flagPopover.tpl.html'"
          popover-title="Flag {{type}} {{name}} "
          popover-placement="right"
          ng-disabled="!ctrl.isAuthenticated()">F</button>
  <ng-transclude></ng-transclude>
</div>

<script type="text/ng-template" id="flagPopover.tpl.html">
  <div class="flag-content">
    <p>Flag this {{type|lowercase}} by describing why you feel it requires the attention of CIViC curators:</p>
    <div class="form-group">
      <textarea class="form-control" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-danger">Flag</button>
  </div>
</script>
