<div class="entityCommentForm">
  <div ng-switch="vm.isAuthenticated">

    <div ng-switch-when="true">
      <div class="row comment-form">
        <div class="col-xs-12">
          <formly-form options="vm.options" model="vm.newComment" fields="vm.newCommentFields">
            <div class="pull-right">
              <button type="submit" class="btn btn-default" ng-click="vm.submit(vm.newComment, vm.options.resetModel)">Submit Comment</button>
            </div>

          </formly-form>
        </div>
      </div>
    </div>

    <div ng-switch-default>
      <div class="row">
        <div class="col-xs-12">
          <p><strong>Please Sign In to post comments.</strong></p>
        </div>
      </div>
    </div>

  </div>
  <!--<hr/>-->
  <!--<pre ng-bind="vm.newComment|json"></pre>-->
  <!--<hr/>-->
  <!--<pre ng-bind="vm.newCommentFields|json"></pre>-->
  <!--<hr/>-->
  <!--<pre ng-bind="entityTalkModel|json"></pre>-->
</div>
