<div class="entityCommentMarkdownHelp">
<div class="row">
<div class="col-xs-6">

<h4>Headers</h4>
<pre><code class="markdown"># This is an &lt;h1&gt; tag

## This is an &lt;h2&gt; tag

###### This is an &lt;h6&gt; tag
</code></pre>

<h4>Emphasis</h4>

<pre><code class="markdown">*This text will be italic*
_This will also be italic_

**This text will be bold**
__This will also be bold__

*Italics and boldface **can be** combined*</code></pre>

<h4>Lists</h4>

  <div style="width: 48%; float: left;">
    <h5>Unordered</h5>
<pre><code class="markdown">* Item 1
* Item 2
* Item 2a
* Item 2b
* Item 3</code></pre>
  </div>

  <div style="width: 48%; float: right;">
<h5>Ordered</h5>

<pre><code class="markdown">1. Item 1
2. Item 2
3. Item 3
* Item 3a
* Item 3b</code></pre>
</div>
</div>

<div class="col-xs-6">
<h4>Images</h4>

<pre><code class="markdown">![this cool diagram](http://site.com/images/cool.png)
Format: ![Alt Text](url)</code></pre>

<h4>Links</h4>

<pre><code class="markdown">http://civic.genome.wustl.edu - automatic!
[CIViC](http://civic.genome.wustl.edu)</code></pre>

<h4>Blockquotes</h4>

<pre><code class="markdown">As Charles Darwin said:

&gt;It is not the strongest
&gt;of the species that survive,
&gt;nor the most intelligent,
&gt;but the one most responsive to change.</code></pre>

<h4>Inline code</h4>

<pre><code>I think you should use an
`&lt;addr&gt;` element here instead.</code></pre>
</div>
</div>
</div>
