<div class="entityCommentForm">
  <div ng-switch="vm.isAuthenticated">
    <div ng-switch-when="true">
      <div class="row comment-modes">
        <div class="col-xs-12">
          <button
            class="btn btn-default btn-xs active"
            ng-class="{active: vm.mode === 'edit'}"
            ng-click="vm.switchMode('edit')"
            ng-disabled="vm.mode === 'edit'" >
            COMPOSE
          </button>

          <button
            class="btn btn-default btn-xs"
            ng-class="{active: vm.mode === 'preview'}"
            ng-click="vm.switchMode('preview')"
            ng-disabled="vm.mode === 'preview'">
            PREVIEW
          </button>
          &nbsp;
          <span class="comment-message">
            <i class="glyphicon glyphicon-refresh" ng-show="vm.previewLoading"></i>
            <span class="small" ng-bind="vm.commentMessage"></span>
          </span>
        </div>
      </div>
      <div ng-switch="vm.mode">
        <div ng-switch-when="edit">
          <div class="row comment-form">
            <div class="col-xs-12">
              <form class="form-horizontal" name="vm.commentForm">
                <!-- TODO: implement hit-return-to-submit behavior with this: <input ng-keyup="$event.keyCode == 13 ? myFunc() : null" ...> from http://stackoverflow.com/questions/15417125/submit-form-on-pressing-enter-with-angularjs -->
                <formly-form
                  options="vm.options"
                  model="vm.newComment"
                  fields="vm.newCommentFields"
                  ng-submit="vm.submit(vm.newComment, vm.options.resetModel())">
                </formly-form>
              </form>
            </div>
          </div>
        </div>
        <div ng-switch-when="preview">
          <div class="row preview-block">
            <div class="col-xs-12">
              <div class="preview">
                <div ng-bind="vm.preview" ng-hide="vm.previewLoading">PREVIEW</div>
                <div ng-bind-html="vm.previewText">
                  Preview Text
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row comment-buttons">
          <div class="col-xs-12">
            <div class="pull-left markdown-prompt">
              <p>Use
                <button type="button" class="btn btn-default btn-xs"
                        ng-click="vm.showMarkdownHelp = !vm.showMarkdownHelp">
                <span class="glyphicon"
                      aria-hidden="true"
                      ng-class="{ 'glyphicon-triangle-right': vm.showMarkdownHelp === false, 'glyphicon-triangle-bottom': vm.showMarkdownHelp === true}">
                </span>
                  markdown
                </button>
                to add <strong>emphasis</strong>, <span style="font-style: oblique;">styling</span>, images, and links to your comments.</p>
            </div>
            <div class="pull-right">
              <button
                type="submit"
                class="btn btn-default"
                ng-disabled="vm.commentForm.$invalid"
                ng-click="vm.submit(vm.newComment, vm.options.resetModel)">
                Submit Comment
              </button>
            </div>
          </div>
        </div>
        <div class="row" ng-show="vm.showMarkdownHelp">
          <div class="col-xs-12">
            <div ng-include="'app/views/events/common/entityCommentMarkdownHelp.tpl.html'"></div>
          </div>
        </div>
      </div>
    </div>
    <div ng-switch-default>
      <div class="row">
        <div class="col-xs-12">
          <p><strong>Please Sign In to post comments.</strong></p>
        </div>
      </div>
    </div>

  </div>
  <!-- @mention dropdown template -->
  <script type="text/ng-template" id="/user-mentions.tpl">
    <ul class="list-group user-search">
      <li mentio-menu-item="user" ng-repeat="user in items track by $index" class="list-group-item">
        <img ng-src="{{user.avatars.x32}}" class="user-photo">
        <span class="text-primary" ng-bind-html="'&commat;' + user.display_name | mentioHighlight:options.data.typedTerm:'menu-highlighted' | unsafe"></span>
        <em class="text-muted" ng-bind="person.bio | words:5"></em>

      </li>
    </ul>
  </script>
  <!--<hr/>-->
  <!--<h3>vm.commentForm</h3>-->
  <!--<pre ng-bind="vm.commentForm|json"></pre>-->
  <!--<hr/>-->
  <!--<h3>vm.commentFormFields</h3>-->
  <!--<pre ng-bind="vm.newCommentFields|json"></pre>-->
</div>
