<div class="entityTalkRevisions">
  <div class="row {{ ctrl.styles.view.backgroundColor }}">
    <div class="col-xs-12">
      <p>Click on a revision in the table below to view, comment, and manage.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 evidence-item-grid">
      <revisions-grid revision-items="ctrl.revisionItems"></revisions-grid>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="revisions-view">
        <ui-view></ui-view>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <pre ng-bind="ctrl.revisionItems|json"></pre>
    </div>
  </div>
</div>
