<div class="entityTabs">
  <a ng-attr-id="{{vm.anchorId}}"></a>
  <div class="tab-row">
    <div class="row">
      <div class="col-xs-12 col-md-6 name">
        <span ng-include="'entityTitle.tpl.html'"></span>
      </div>
      <div class="col-xs-12 col-md-6 tabs {{ viewBackground }}">
        <uib-tabset class="tab-container"
          type="{{'tabs'}}"
          vertical="{{vertical}}"
          justified="{{justified}}">
          <uib-tab classes="tab"
            ng-repeat="tab in tabs"
            heading="{{tab.heading}}"
            active="tab.active"
            disable="tab.disabled"
            ng-click="go(tab)">
          </uib-tab>
        </uib-tabset>
        <div class="tab-info">
          <i uib-popover-template="'settingsPopover.tpl.html'"
            popover-trigger="'outsideClick'"
            popover-title="{{vm.type}} Settings"
            popover-placement="left"
            class="glyphicon glyphicon-cog"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="user-info-row">
    <div class="row {{viewBackground}}">
      <div class="col-xs-11">
        <ul class="actions-list">
          <li>
            <action-block actions="vm.actions"></action-block>
          </li>
        </ul>
      </div>
      <div class="col-xs-1">
        <div ng-if="vm.pendingFields.length > 0" class="pending-notice">
          <span uib-tooltip-template="'pendingTooltip.tpl.html'"
            tooltip-placement="left"
            tooltip-append-to-body="true">
            <i class="glyphicon glyphicon-exclamation-sign pending-changes"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="entityTitle.tpl.html">
  <h3 editable-field class="tab-name"
    type="vm.type"
    name="vm.name"
    entity-view-model="entityViewModel"
    entity-view-revisions="entityViewRevisions"
    entity-view-options="entityViewOptions">
    <span ng-bind="vm.type" class="entity-type">Entity</span>
    <span ng-bind="vm.name" class="entity-name">Name</span>
  </h3>
</script>

<script type="text/ng-template" id="pendingTooltip.tpl.html">
  <div>
    This {{ vm.type.toLowerCase() }} has pending revisions to:
    <ul>
      <li ng-repeat="field in vm.pendingFields">{{ field | keyToLabel}}</li>
    </ul>
  </div>
</script>

<script type="text/ng-template" id="settingsPopover.tpl.html">
  <div class="settings-content">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="vm.hasSubscription" ng-change="vm.toggleSubscription(vm.subscription)">
        <span uib-tooltip="If checked, you will receive notifications when users update or comment upon this {{vm.type|lowercase}}{{ vm.type !== 'EVIDENCE' ?  ' or its child entities.' : '.' }}">Receive notifications</span>
      </label>
    </div>
  </div>
</script>
