<div class="entityTalkTabs">
  <div class="{{ tabRowBackground }}">
    <div class="row">
      <div class="col-xs-12 tabs {{ viewBackground }}">
        <uib-tabset class="tab-container"
                type="{{'tabs'}}"
                vertical="{{false}}"
                justified="{{false}}">
          <uib-tab class="tab"
               ng-repeat="tab in tabs"
               heading="{{tab.heading}}"
               active="tab.active"
               disable="tab.disabled"
               ng-click="go(tab)">
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>
</div>
