@import 'bower_components/bootstrap/less/mixins.less';
@import 'bower_components/bootstrap/less/variables.less';
@import 'src/app/styles/_civic-variables.less';
@import 'src/app/styles/_mixins.less';

.entityTabs {
  .fullBleed();
  background-color: @pageBackground2;
  .entity-type {
    text-transform: capitalize;
  }

  .tabs {
    a span {
      text-transform: capitalize;
    }
  }
}
