<div class="entityTabs">
  <a ng-attr-id="{{vm.anchorId}}"></a>
  <div class="tab-row">
    <div class="row">
      <div class="col-xs-12 col-md-6 name">
        <div ng-switch="vm.isAuthenticated()">
          <div ng-switch-when="false">
            <span tooltip="Please sign in to suggest a revision" tooltip-append-to-body="true">
              <span ng-include="'/entityTitle.tpl.html'"></span>
            </span>
          </div>
          <div ng-switch-when="true">
            <span ng-include="'/entityTitle.tpl.html'"></span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 tabs {{ viewBackground }}">
        <tabset class="tab-container"
                type="{{'tabs'}}"
                vertical="{{vertical}}"
                justified="{{justified}}">
          <tab class="tab"
               ng-repeat="tab in tabs"
               heading="{{tab.heading}}"
               active="tab.active"
               disable="tab.disabled"
               ng-click="go(tab)">
          </tab>
        </tabset>
        <div class="tab-info">
          <i popover-template="'settingsPopover.tpl.html'"
             popover-title="{{vm.type}} Settings"
             popover-placement="left"
             class="glyphicon glyphicon-cog"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="user-info-row">
    <div class="row">
      <div class="{{ viewBackground }}" ng-class="{ 'col-xs-11': vm.pendingFields.length > 0, 'col-xs-12': vm.pendingFields.length === 0 }">
        <ul class="actions-list">
          <li>
            <action-block actions="vm.actions"></action-block>
          </li>
        </ul>
      </div>
      <div class="col-xs-1 {{ viewBackground }}" ng-show="vm.pendingFields.length > 0">
        <div ng-if="vm.pendingFields.length > 0" class="pending-notice">
          <span tooltip-template="'/pendingTooltip.tpl.html'"
                tooltip-placement="left"
                tooltip-append-to-body="true">
            <i class="glyphicon glyphicon-exclamation-sign"></i>
            <span class="pending-count"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="/entityTitle.tpl.html">
  <h3 editable-field class="edit-icon-lg tab-name"
      entity-view-model="entityViewModel"
      entity-view-revisions="entityViewRevisions"
      entity-view-options="entityViewOptions">
    <span ng-bind="vm.type" class="entity-type">Entity</span>
    <span ng-bind="vm.name" class="entity-name">Name</span>
  </h3>
</script>

<script type="text/ng-template" id="/pendingTooltip.tpl.html">
<div>
    This {{ vm.type.toLowerCase() }} has pending revisions to:
    <ul>
      <li ng-repeat="field in vm.pendingFields">{{ field | keyToLabel}}</li>
    </ul>
</div>
</script>

<script type="text/ng-template" id="settingsPopover.tpl.html">
  <div class="settings-content">
    <div class="checkbox">
      <label>
        <input type="checkbox" >Receive notifications
      </label>
    </div>
  </div>
</script>
