<div class="entityCommentForm">
  <div class="row">
    <div class="col-xs-12">
      <p>Add Comment:</p>
    </div>
  </div>
  <div class="row comment-form">
    <div class="col-xs-12">
      <formly-form model="ctrl.newComment" fields="ctrl.newCommentFields">
        <div class="pull-right">
          <button type="submit" class="btn btn-default" ng-click="ctrl.submit(ctrl.newComment)">Submit Comment</button>
        </div>
      </formly-form>
    </div>
  </div>
  <hr/>
  <pre ng-bind="ctrl.newComment|json"></pre>
  <hr/>
  <pre ng-bind="ctrl.newCommentFields|json"></pre>
  <hr/>
  <pre ng-bind="ctrl.entityTalkModel|json"></pre>
</div>
