<div class="entityComment">
  <div ng-if="ctrl.comment.title.length > 0">
    <div class="row">
      <div class="col-xs-12">
        <div class="title-block">
          <div class="user-image">
            <user-image user="ctrl.comment.user" height="32" width="32"></user-image>
          </div>
          <div class="comment-title">
            <h4 class="title" ng-bind="ctrl.comment.title">Comment Title</h4>
          <span class="small">Posted by
            <strong><span ng-bind="ctrl.comment.user.username">user.username</span></strong>
            <span ng-bind="ctrl.comment.created_at | timeAgo">comment.created_at</span>
          </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="text-block">
          <p ng-bind-html="ctrl.comment.html|unsafe">Comment Text.</p>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="ctrl.comment.title.length === 0">
    <div class="row">
      <div class="col-xs-12">
        <div class="comment-block">
          <div class="user-image">
            <user-image user="ctrl.comment.user" height="32" width="32"></user-image>
          </div>
          <div class="comment-content">
            <div class="text-block">
              <p ng-bind-html="ctrl.comment.html|unsafe">
                Comment Text.
              </p>
            </div>
            <div class="info-block">
              <span class="posted-time small pull-left">Posted by
                <strong><span ng-bind="ctrl.comment.user.username">user.username</span></strong>
                <span ng-bind="ctrl.comment.created_at | timeAgo">comment.created_at</span>
              </span>
              <div class="comment-actions pull-right">
                <button
                  ng-show="ctrl.comment.user.id === ctrl.security.currentUser.id"
                  ng-click="ctrl.deleteComment(ctrl.comment)"
                  class="btn btn-xs btn-default">
                  Delete
                </button>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
