<div class="entityTalkComments">
  <div class="row">
    <div class="col-xs-12 comment-list">
      <div ng-switch="entityTalkModel.data.comments.length">
        <div ng-switch-when="0">
          <p>No comments found.</p>
        </div>
        <div ng-switch-default>
          <ul class="comments">
            <li ng-repeat="comment in ctrl.entityTalkModel.data.comments">
              <entity-comment comment-data="comment"></entity-comment>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 comment-form">
      <entity-comment-form entity-talk-model="ctrl.entityTalkModel"></entity-comment-form>
    </div>
  </div>
</div>
