<div class="entityTabs">
  <div class="row">
    <div class="col-xs-6 name">
      <h3>
        <span ng-bind="ctrl.type" class="entity-type">Entity</span>&nbsp;<span ng-bind="ctrl.name" class="entity-name">Name</span>
      </h3>
    </div>
    <div class="col-xs-6 tabs">
      <ul class="pull-right">
        <li ng-class="{'active': $state.includes('**.genes.summary.**')}">
          <a ng-href="{{ctrl.baseUrl}}/summary"><span ng-bind="ctrl.type"></span> Summary</a>
        </li>

        <li ng-class="{'active': $state.includes('**.genes.talk.**')}">
          <a ng-href="{{ctrl.baseUrl}}/talk"><span ng-bind="ctrl.type"></span> Talk</a>
        </li>

      </ul>
    </div>
  </div>
</div>
