<div class="entityComment">
  <div ng-if="ctrl.comment.title.length > 0">
    <div class="row">
      <div class="col-xs-12">
        <div class="title-block">
          <a ui-sref="users.profile({userId: ctrl.comment.user.id})">
            <div class="user-image">
              <user-image user="ctrl.comment.user" height="32" width="32"></user-image>

            </div>
          </a>
          <div class="comment-title">
            <h4 class="title" ng-bind="ctrl.comment.title">Comment Title</h4>
          <span class="small">Posted by
            <a ui-sref="users.profile({userId: ctrl.comment.user.id})">
              <strong><span ng-bind="ctrl.comment.user.display_name">user.display_name</span></strong>
            </a>
            <span ng-bind="ctrl.comment.created_at | timeAgo">comment.created_at</span>
          </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="text-block">
          <p ng-bind-html="ctrl.comment.html|unsafe">Comment Text.</p>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="ctrl.comment.title.length === 0">
    <div class="row">
      <div class="col-xs-12">
        <div class="comment-block">
          <div class="user-image">
            <a ui-sref="users.profile({userId: ctrl.comment.user.id})">
              <user-image user="ctrl.comment.user" height="32" width="32"></user-image>
            </a>
          </div>
          <div class="comment-content">
            <div class="text-block">
              <p ng-bind-html="ctrl.comment.html|unsafe">
                Comment Text.
              </p>
            </div>
            <div class="info-block">
              <span class="small">Posted by
            <a ui-sref="users.profile({userId: ctrl.comment.user.id})">
              <strong><span ng-bind="ctrl.comment.user.display_name">user.display_name</span></strong>
            </a>
            <span ng-bind="ctrl.comment.created_at | timeAgo">comment.created_at</span>
          </span>
              <div class="comment-actions pull-right">
                <button
                  ng-show="ctrl.comment.user.id === ctrl.security.currentUser.id"
                  ng-click="ctrl.deleteComment(ctrl.comment)"
                  class="btn btn-xs btn-default">
                  Delete
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
