@import 'bower_components/bootstrap/less/mixins.less';
@import 'bower_components/bootstrap/less/variables.less';
@import 'src/app/styles/_civic-variables.less';
@import 'src/app/styles/_mixins.less';

.entityCommentForm {
  margin-bottom: @contentPadding;
  padding-top: @contentPadding;
  border-top: #CCC solid 5px;

  .popover {
    max-width: 750px !important;
  }

  .comment-modes {
    margin-bottom: @contentPadding/2;
  }

  .markdown-prompt {
    p {
      color: #999;
      font-size: small;
    }
  }
}
