<div class="clinicalCell"
     style="{{ 'height:' + row.height + 'px;'}}"
     ng-class="col.colIndex()"
     tooltip-popup-delay="{{ctrl.tooltipPopupDelay}}"
     uib-tooltip="{{row.entity[col.field]}}"
     tooltip-placement="left"
     tooltip-append-to-body="true">
  <span
    class="glyphicon"
    ng-class="{ 'glyphicon-heart': row.entity[col.field] === 'Sensitivity/Response',
    'glyphicon-ban-circle': row.entity[col.field] === 'Resistance',
    'glyphicon-arrow-up': row.entity[col.field] === 'Better Outcome',
    'glyphicon-arrow-down': row.entity[col.field] === 'Poor Outcome',
    'glyphicon-plus-sign': row.entity[col.field] === 'Positive',
    'glyphicon-minus-sign': row.entity[col.field] === 'Negative',
    'glyphicon-remove-circle not-applicable': row.entity[col.field] === 'N/A',
    'glyphicon-fire' : row.entity[col.field] === 'Adverse Response',
    'glyphicon-heart-empty' : row.entity[col.field] === 'Reduced Sensitivity',
    'glyphicon-th' : row.entity[col.field] === 'Pathogenic',
    'glyphicon-th-large' : row.entity[col.field] === 'Likely Pathogenic',
    'glyphicon-align-justify' : row.entity[col.field] === 'Benign',
    'glyphicon-align-center' : row.entity[col.field] === 'Likely Benign',
    'glyphicon-question-sign' : row.entity[col.field] === 'Uncertain Significance',
    'glyphicon-upload' : row.entity[col.field] === 'Gain of Function',
    'glyphicon-download' : row.entity[col.field] === 'Loss of Function',
    'glyphicon-resize-horizontal' : row.entity[col.field] === 'Unaltered Function',
    'glyphicon-exclamation-sign' : row.entity[col.field] === 'Neomorphic',
    'glyphicon-log-out' : row.entity[col.field] === 'Other',}">
  </span>
</div>
