<div class="variantOriginCell originCell"
     style="{{ 'height:' + row.height + 'px;'}}"
     ng-class="col.colIndex()"
     tooltip="{{row.entity[col.field]}}"
     tooltip-popup-delay="{{ctrl.tooltipPopupDelay}}"
     tooltip-placement="left"
     tooltip-append-to-body="true">
  <span
    class="glyphicon"
    ng-class="{ 'glyphicon-option-vertical': row.entity[col.field] === 'Germline Mutation', 'glyphicon-option-horizontal': row.entity[col.field] === 'Somatic Mutation', 'glyphicon-equalizer': row.entity[col.field] === 'Germline Polymorphism', 'glyphicon-question-sign': row.entity[col.field] === 'Unknown', 'glyphicon-remove-circle not-applicable': row.entity[col.field] === 'N/A' || row.entity[col.field] === null }">
  </span>
</div>

