<div class="typeCell ngCellText"
     style="{{ 'height:' + row.height + 'px;'}}"
     ng-class="col.colIndex()"
     tooltip="{{row.entity[col.field]}}"
     tooltip-popup-delay="{{ctrl.tooltipPopupDelay}}"
     tooltip-placement="left"
     tooltip-append-to-body="true">
    <span
      class="glyphicon"
      ng-class="{ 'glyphicon-eye-open': row.entity[col.field] === 'Predictive', 'glyphicon-search': row.entity[col.field] === 'Diagnostic', 'glyphicon-road': row.entity[col.field] === 'Prognostic','glyphicon-alert': row.entity[col.field] === 'Predisposing' }">
    </span>
</div>
