<div class="evidenceDirectionCell"
     style="{{ 'height:' + row.height + 'px;'}}"
     ng-class="col.colIndex()"
     uib-tooltip="{{row.entity[col.field]}}"
     tooltip-placement="left"
     tooltip-append-to-body="true">
  <span
    class="glyphicon"
    ng-class="{ 'glyphicon-thumbs-up': row.entity[col.field] === 'Supports',
    'glyphicon-thumbs-down': row.entity[col.field] === 'Does Not Support',
    'glyphicon-remove-circle not-applicable': row.entity[col.field] === 'N/A' }">
  </span>
</div>
