@import 'bower_components/bootstrap/less/mixins.less';
@import 'bower_components/bootstrap/less/variables.less';
@import 'src/app/styles/_civic-variables.less';

.tooltip-inner {
  text-align: left !important;
}

.revisionsGrid {
  .clearfix();
  // rounded corners for ui-grid
  @ui-grid-border-radius: @border-radius-large;
  .ui-grid {
    border: 1px solid #DEDEDE;
    -webkit-border-top-left-radius: @ui-grid-border-radius;
    -webkit-border-top-right-radius: @ui-grid-border-radius;
    -moz-border-top-left-radius: @ui-grid-border-radius;
    -moz-border-top-right-radius: @ui-grid-border-radius;
    border-top-right-radius: @ui-grid-border-radius;
    border-top-left-radius: @ui-grid-border-radius;

    .ui-grid-top-panel {
      -webkit-border-top-right-radius: @ui-grid-border-radius;
      -webkit-border-top-left-radius: @ui-grid-border-radius;
      -moz-border-radius-topright: @ui-grid-border-radius;
      -moz-border-radius-topleft: @ui-grid-border-radius;
      border-top-right-radius: @ui-grid-border-radius;
      border-top-left-radius: @ui-grid-border-radius;
    }
  }

  .record-info {
    display: inline-block;
    font-size: small;
    color: #999;
    font-weight: bold;
    padding: 0 0 5px 5px;
  }

  .ui-grid-cell-contents {
    cursor: pointer
  }
}
