<div class="variantsMenu">
  <div ng-switch on="gene.variants.length > 0 || typeof(gene.variantGroups)">
    <div ng-switch-when="true">
      <!-- show variants list -->
      <div ng-show="gene.variants.length > 0">
        <div class="title">
          <span ng-bind="gene.entrez_name"></span> Variants:
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li
            ng-repeat="variant in gene.variants"
            ui-sref-active="active">
            <a ui-sref="events.genes.summary.variants.summary({ geneId: gene.entrez_id, variantId: variant.id })">{{ variant.name }}</a>
          </li>
        </ul>
      </div>

      <!-- show variant groups -->
      <div ng-show="variantGroupsExist">
        <div class="title">
          <span>{{ gene.entrez_name }} Variant Groups:</span>
        </div>
        <ul class="nav nav-pills nav-stacked variant-group">
          <li ng-repeat="variant_group in gene.variant_groups" ui-sref-active="active">
            <a ng-bind="variant_group.name"
               ui-sref="events.genes.summary.variantGroups.summary({ geneId:gene.entrez_id, variantGroupId: variant_group.id })"
               ui-sref-active="active"
               class="group-title">
            </a>
            <ul class="nav nav-pills nav-stacked">
              <li ng-repeat="variant in variant_group.variants" ui-sref-active="active">
                <a ui-sref="events.genes.summary.variants.summary({ geneId: variant.entrez_id, variantId: variant.id })"
                  class="variant">{{ variant.name }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div ng-switch-default>
      <ul class="nav nav-pills nav-stacked">
        <li>No variants found.</li>
      </ul>
    </div>
  </div>
</div>
