@import 'bower_components/bootstrap/less/mixins.less';
@import 'bower_components/bootstrap/less/variables.less';
@import 'src/app/styles/_civic-variables.less';

.variantsMenu {
  background-color: @pageBackground2;
  border-bottom-right-radius: @border-radius-base;
  margin-left: -@contentPadding;
  margin-right: -@contentPadding;

  @media (min-width: @screen-md-min) {
    min-height: 500px !important;
  }

  ul {
    padding-top: @contentPadding;
    padding-bottom: @contentPadding;

    a {
      padding-left: 2*@contentPadding;
    }

    .active a {
      background-color: @pageBackground !important;
      color: @civicPurple !important;
      margin-right: -@contentPadding;
      margin-left: @contentPadding;
      padding-left: @contentPadding;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      @media (max-width: @screen-sm-min) {
        border-radius: 0;
      }

      @media (max-width: @screen-md-min) {
        margin-right: @contentPadding;
        border-radius: @border-radius-base;
      }
    }


  }

  .title {
    background-color: @events-title-bg;
    color: #FFF;
    margin: 0 @contentPadding 0 0;
    // padding: @contentPadding/2 @contentPadding;
    padding: @contentPadding/1.5 @contentPadding;
    font-weight: bold;

    border-top-right-radius: @border-radius-base;
    border-bottom-right-radius: @border-radius-base;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

  }

  .groupTitle {
    display: block;
    background-color: @variantGroup-title-bg;
    color: #333;
    font-weight: bold;
    margin: 0 @contentPadding 0 -@contentPadding;
    padding: @contentPadding/2 @contentPadding;
    border-top-right-radius: @border-radius-base;
    border-bottom-right-radius: @border-radius-base;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .groupTitle.active {
    background-color: @pageBackground;
    border-top-left-radius: @border-radius-base;
    border-bottom-left-radius: @border-radius-base;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0 -@contentPadding 0 0;
  }

}
