<div class="ui-grid-cell-contents">
  <span tooltip="Add Evidence Item"
        tooltip-append-to-body="true">
    <button ng-click="grid.appScope.vm.setLocation(row.entity.addEvidenceUrl)"
       ng-disabled="row.entity['status'] != 'new' || !grid.appScope.vm.isAuthenticated()"
       class="btn btn-xs btn-cell-add">
      <i class="glyphicon glyphicon-plus"></i>
    </button>
    </span>
  &nbsp;
  <span tooltip="Reject Suggestion"
        tooltip-append-to-body="true">
    <button ng-click="grid.appScope.vm.setSuggestion(row.entity.id, 'rejected')"
       ng-disabled="row.entity['status'] != 'new' || !grid.appScope.vm.hasEditorPerms()"
       class="btn btn-xs btn-danger">
      <i class="glyphicon glyphicon-thumbs-down"></i>
    </button>
  </span>
  &nbsp;
  <span tooltip="Mark Suggestion as Curated"
        tooltip-append-to-body="true">
    <button ng-click="grid.appScope.vm.setSuggestion(row.entity.id, 'curated')"
       ng-disabled="row.entity['status'] != 'new' || !grid.appScope.vm.hasEditorPerms()"
       class="btn btn-xs btn-success">
      <i class="glyphicon glyphicon-thumbs-up"></i>
    </button>
  </span>
  &nbsp;
  <span tooltip="Re-queue Suggestion"
        tooltip-append-to-body="true">
    <button ng-click="grid.appScope.vm.setSuggestion(row.entity.id, 'new')"
       ng-disabled="row.entity['status'] === 'new' || !grid.appScope.vm.hasEditorPerms()"
       class="btn btn-xs btn-default">
      <i class="glyphicon glyphicon-repeat"></i>
    </button>
  </span>
</div>
