<div class="ui-grid-cell-contents">
  <a ng-href="{{row.entity.addEvidenceUrl}}"
     ng-disabled="row.entity['status'] != 'new'"
     class="btn btn-xs btn-cell-add">
    Add
  </a>
  <a ng-click="grid.appScope.vm.setSuggestion(row.entity.id, 'rejected')"
     ng-disabled="row.entity['status'] != 'new'"
     class="btn btn-xs btn-danger">
    Reject
  </a>
  <a ng-click="grid.appScope.vm.setSuggestion(row.entity.id, 'curated')"
     ng-disabled="row.entity['status'] != 'new'"
     class="btn btn-xs btn-success">
    Curated
  </a>
</div>
