<div class="sourceSuggestionGrid">
  <div class="row">
    <div class="col-xs-12">
      <h4>
        Source Suggestions
        <span class="record-info">
          <span>{{ vm.gridApi.grid.rows.length }} total items</span>
          <span ng-if="vm.gridApi.grid.renderContainers.body.visibleRowCache.length !== vm.gridApi.grid.rows.length">
            (showing {{vm.gridApi.grid.renderContainers.body.visibleRowCache.length}})
          </span>
        </span>
      </h4>
    </div>

  </div>
  <div class="row">
    <div class="col-xs-12">
      <div ui-grid="vm.sourceSuggestionGridOptions"
           ui-grid-cellnav
           ui-grid-auto-resize
           ui-grid-selection>
      </div>
    </div>
  </div>
</div>
