<div>
  <div class="clearfix">
    <div class="row"
         style="margin-bottom:14px"
         ng-repeat="item in model[options.key] track by $index"
         ng-init="itemOptions = copyItemOptions()">
      <div class="col-xs-10">
        <formly-field class="no-padding"
                      options="itemOptions"
                      model="model[options.key]"
                      form="form"
                      index="$index">
        </formly-field>
      </div>
      <div class="col-xs-2" style="margin-top:6px">
        <a ng-click="deleteItem(model[options.key], $index)" class="btn btn-danger btn-sm btn-block">
          <strong>X</strong>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button type="button" class="btn btn-success btn-sm btn-block" ng-click="model[options.key].push('')">Add Item</button>
    </div>
  </div>
</div>
</div>
