<div class="activityView">
  <div class="title-row">
    <div class="row">
      <div class="col-xs-12">
        <div class="name">
          <h3>Activity</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div ui-grid="ctrl.gridOptions"
           ui-grid-cellnav
           ui-grid-auto-resize
           ui-grid-pagination
           ui-grid-selection></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <pre ng-bind="ctrl.events|json"></pre>
    </div>
  </div>
</div>
